<div class="menu-main-layout">
    <div class="menu-main-layout__item mrg__top20">

        <div class="menu-main-layout__buttons">
            <button class="btn btn--red btn--size_l mrg__right5 flex--inline align-items--cn" ui-sref="mail.compose">
                <span class="icon-write mrg__right10">
                </span> Написать
            </button>
            <button class="menu-main-layout__buttons--btn-color btn btn--size_l btn--yellow mrg__right5 flex--inline align-items--cn"
                    ng-click="vm.syncMail()">
                <span class="icon-spinner"></span>
            </button>
            <button class="menu-main-layout__buttons--btn-color btn btn--size_l btn--yellow flex--inline align-items--cn"
                    ui-sref="contacts">
                <span class="icon-contacts2"></span>
            </button>
        </div>

        <!--menu-main__link&#45;&#45;open-->
        <ul class="menu-main mrg__top20">
            <li class="menu-main__item" ng-repeat="folder in vm.folders.items">
                <a class="menu-main__link"
                   ui-sref="mail.inbox({mbox: folder.name, filter: undefined, tag_id: undefined})"
                   ui-sref-active="menu-main__link--active"
                   ng-class="{'menu-main__link--gray': !folder.messagesCount}"
                   ng-if="!folder.isSub">
                    <span class="{{ folder.icon }} menu-main__icon"></span>
                    {{ folder.caption }}
                    <div class="menu-main__counter" ng-if="folder.unseen && folder.name === 'INBOX'">
                        <span class="round round--yellow"></span>
                        <strong class="color--white">{{ folder.unseen }}</strong>
                    </div>
                </a>

                <ul class="menu-main__sub menu-main" ng-if="folder.isSub">
                    <li class="menu-main__item">
                        <a class="menu-main__link"
                           ui-sref="mail.inbox({mbox: folder.name, filter: undefined, tag_id: undefined})"
                           ui-sref-active="menu-main__link--active"
                           ng-class="{'menu-main__link--gray': !folder.messagesCount}">
                            {{ folder.caption }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="menu-main-layout__padding">

            <div class="folders-setup">
                <div class="folders-setup__row">
                    <a class="folders-setup__link" href
                       ng-click="vm.openFolderCreatePopup()">
                        создать папку
                    </a>
                    <a class="folders-setup__link" ui-sref="settings.folders">
                        настроить...
                    </a>
                </div>
                <hr class="hr folders-setup__hr">
            </div>
        </div>

    </div>

    <div class="menu-main-layout__item mrg__top20">

        <div class="menu-main-layout__padding menu-main-layout__padding--size10">

            <ul class="menu-main">
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y btn-y--active pointer font__size15" type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: 'flagged', tag_id: undefined})"
                            ui-sref-active="btn-y--active">
                        <span class="icon-important menu-main__icon"></span>
                        Важные
                    </button>
                </li>
                <li class="menu-main__item">
                    <button class="btn-y pointer font__size15" type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: 'unseen', tag_id: undefined})"
                            ui-sref-active="btn-y--active">
                        <span class="icon-unread-solid menu-main__icon"></span>
                        Непрочитанные
                    </button>
                </li>
                <li class="menu-main__item">
                    <button class="btn-y pointer font__size15" type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: 'attaches', tag_id: undefined})"
                            ui-sref-active="btn-y--active">
                        <span class="icon-attach menu-main__icon"></span>
                        С Вложением
                    </button>
                </li>
            </ul>

        </div>

        <!--<div class="menu-main-layout__padding">-->

        <!--<div class="folders-setup">-->
        <!--<div class="folders-setup__row">-->
        <!--<a class="folders-setup__link pointer" href>-->
        <!--создать папку-->
        <!--</a>-->
        <!--<a class="folders-setup__link pointer" href>-->
        <!--настроить...-->
        <!--</a>-->
        <!--</div>-->
        <!--<hr class="hr folders-setup__hr">-->
        <!--</div>-->

        <!--</div>-->


    </div>

    <div class="menu-main-layout__item mrg__top20">

        <div class="menu-main-layout__padding menu-main-layout__padding--size10">

            <ul class="menu-main menu-main--tag">
                <li class="menu-main__item" ng-repeat="tag in vm.tags.items">

                    <button class="btn-y pointer" type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: undefined, tag_id: tag.id})"
                            ui-sref-active="menu-main__link--active">
                        <div class="square square--green btn-y__icon" style="background: {{ tag.bgcolor }}"></div>
                        {{ tag.tag_name }}
                    </button>

                </li>
                <!--<li class="menu-main__item">-->

                <!--<button class="btn-y pointer" type="button">-->
                <!--<div class="square square&#45;&#45;green btn-y__icon"></div>-->
                <!--Тег 2-->
                <!--</button>-->

                <!--</li>-->
                <!--<li class="menu-main__item">-->

                <!--<button class="btn-y pointer" type="button">-->
                <!--<div class="square square&#45;&#45;green btn-y__icon"></div>-->
                <!--Тег 3-->
                <!--</button>-->

                <!--</li>-->
                <!--<li class="menu-main__item">-->

                <!--<button class="btn-y pointer" type="button">-->
                <!--<div class="square square&#45;&#45;green btn-y__icon"></div>-->
                <!--Тег 4-->
                <!--</button>-->

                <!--</li>-->
                <!--<li class="menu-main__item">-->

                <!--<button class="btn-y pointer" type="button">-->
                <!--<div class="square square&#45;&#45;green btn-y__icon"></div>-->
                <!--Новая-->
                <!--</button>-->

                <!--</li>-->
            </ul>

        </div>

        <div class="menu-main-layout__padding">
            <div class="folders-setup">
                <div class="folders-setup__row">
                    <a class="folders-setup__link" href ng-click="vm.openTagCreatePopup()">
                        создать метку
                    </a>
                    <a class="folders-setup__link" ui-sref="settings.tags">
                        список меток...
                    </a>
                </div>
                <hr class="hr folders-setup__hr">
            </div>
        </div>

        <div class="menu-main-layout__padding mrg__top16">
            <button class="btn-y btn-y--size26 btn-y--border btn-y--image-icon btn-y--white pointer" type="button"
                    ui-sref="settings.accounts">
                <span class="btn-y__name">
                    Добавить другой ящик
                </span>
                <img class="btn-y__icon" src="/images/gmail.png">
                <img class="btn-y__icon" src="/images/yahoo-mail.png">
            </button>
        </div>

    </div>

    <div class="menu-main-layout__padding mrg__top20">
        <a class="menu-main-layout__button-tarif" ui-sref="storage">
            <img class="img-responsive" src="/images/tarif-button.png">
        </a>
    </div>

</div>