<div class="menu-main-layout font-sizer--bigger-15">
    <div class="menu-main-layout__item">
        <ul class="menu-main">
            <li class="menu-main__item" ng-repeat="folder in vm.folders.items"
                ng-hide="folder.name === 'Outbox' && !folder.messagesCount">
                <a class="menu-main__link"
                   ng-click="vm.goToUrl(folder)"
                   ui-sref-active="menu-main__link--active"
                   ng-class="{'menu-main__link--gray': !folder.messagesCount,
                                'menu-main__link--clear-btn-active': (folder.name === 'Junk' || folder.name === 'Trash') && folder.messagesCount,
                                'menu-main__link--active': vm.$state.params.mbox === folder.name
                             }"
                   ng-if="!folder.isSub && folder.name !== 'Templates'">
                    <!--icon-select-arrow-->
                    <span class="is-nesting"
                          ng-class="{'is-nesting--open': !folder.isOpen}"
                          ng-if="folder.name === 'INBOX' || folder.name === 'Drafts'"
                          ng-click="folder.isOpen = !folder.isOpen; $event.stopPropagation();"></span>

                    <span class="{{ folder.icon }} menu-main__icon"></span>
                    <span class="menu-main__link-caption">{{ folder.name | translate }}</span>

                    <div class="menu-main__additional-option">
                        <button class="btn--clear-brush btn--not-style icon-brush font--size12"
                                type="button" ng-click="vm.clearFolder($event, folder);"></button>

                        <div class="menu-main__counter" ng-if="folder.unseen && folder.name === 'INBOX'">
                            <span class="round round--yellow"></span>
                            {{ folder.unseen }}
                        </div>
                    </div>
                </a>

                <ul class="menu-main__sub menu-main" ng-if="folder.isOpen && folder.name !== 'Drafts'">
                    <li class="menu-main__item"
                        ng-repeat="folder in vm.folders.items"
                        ng-if="folder.isSub && folder.name !== 'Templates'">
                        <a class="menu-main__link"
                           ui-sref="mail.inbox({
                                mbox: folder.name,
                                filter: undefined,
                                tag_id: undefined,
                                search: undefined,
                                sort: undefined,
                                sortReverse: undefined,
                                id: undefined,
                                connection_id: undefined
                           })"
                           ui-sref-active="menu-main__link--active"
                           ng-class="{'menu-main__link--gray': !folder.messagesCount,
                                      'menu-main__link--active': vm.$state.params.mbox === folder.name}">
                            <span class="menu-main__link-caption"
                                  ng-if="folder.name !== 'Archive'">{{ folder.caption }}</span>
                            <span class="menu-main__link-caption" ng-if="folder.name === 'Archive'">{{ folder.name | translate }}</span>
                            <!--<span class="icon-select-arrow is-nesting is-nesting&#45;&#45;open"></span>-->

                            <div class="menu-main__additional-option">
                                <button class="btn--clear-brush btn--not-style icon-brush font--size12"
                                        type="button"></button>

                                <div class="menu-main__counter" ng-if="folder.unseen">
                                    <span class="round round--yellow"></span>
                                    <strong>{{ folder.unseen }}</strong>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <ul class="menu-main__sub menu-main" ng-if="folder.isOpen && folder.name === 'Drafts'">
                    <li class="menu-main__item"
                        ng-repeat="folder in vm.folders.items"
                        ng-if="folder.isSub && folder.name === 'Templates'">
                        <a class="menu-main__link"
                           ui-sref="mail.inbox({mbox: folder.name, filter: undefined, tag_id: undefined, search: undefined})"
                           ui-sref-active="menu-main__link--active"
                           ng-class="{'menu-main__link--gray': !folder.messagesCount}">
                            <span class="menu-main__link-caption" ng-if="folder.name !== 'Templates'">{{ folder.caption }}</span>
                            <span class="menu-main__link-caption" ng-if="folder.name === 'Templates'">{{ folder.name | translate }}</span>
                            <!--<span class="icon-select-arrow is-nesting is-nesting&#45;&#45;open"></span>-->
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="menu-main-layout__item-content">

            <div class="folders-setup">
                <div class="folders-setup__row">
                    <a class="folders-setup__link folders-setup__create" href
                       ng-click="vm.openFolderCreatePopup()">
                        {{ 'CREATE_FOLDER' | translate }}
                    </a>
                    <a class="folders-setup__link folders-setup__link--settings folders-setup__settings"
                       ui-sref="settings.folders">
                        <span class="icon-settings font--size15"></span>
                    </a>
                </div>
                <!--<hr class="hr folders-setup__hr">-->
            </div>

        </div>

    </div>

    <div class="menu-main-layout__item mrg--t20">

        <div class="menu-main-layout__item-content pdd--l20 pdd--r20">
            <ul class="menu-main menu-main-filter flex just-content--center">

                <li class="menu-main__item menu-main-filter__item">
                    <button class="btn-y btn-y--mail-fix btn-y--border btn-y--white"
                            type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: 'attach', tag_id: undefined, search: undefined, sort: undefined, sortReverse: undefined})"
                            ui-sref-active="btn-y--active">
                        <span class="icon-affix menu-main__icon mrg--auto"></span>
                    </button>
                </li>

                <li class="menu-main__item menu-main-filter__item">
                    <button class="menu-main-filter__btn-round btn-y btn-y--mail-fix btn-y--border btn-y--white"
                            type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: 'unseen', tag_id: undefined, search: undefined, sort: undefined, sortReverse: undefined})"
                            ui-sref-active="btn-y--active">
                        <span class="icon-elevation font--size13"></span>
                    </button>
                </li>

                <li class="menu-main__item menu-main-filter__item">
                    <button class="btn-y btn-y--mail-fix btn-y--border btn-y--white"
                            type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: 'flagged', tag_id: undefined, search: undefined, sort: undefined, sortReverse: undefined})"
                            ui-sref-active="btn-y--active">
                        <span class="icon-flagged_bg"></span>
                    </button>
                </li>
            </ul>

        </div>

    </div>

    <div class="menu-main-layout__item mrg--t20">
        <div class="menu-main-layout__item-content pdd--l20 pdd--r20">
            <ul class="menu-main menu-main--tags">
                <li class="menu-main__item overflow--h"
                    ng-repeat="tag in vm.tags.items"
                    dnd-draggable="tag">

                    <button class="menu-main__tag width--all btn-y btn-y--mail-fix {{ tag.tag_name }} pointer" type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: undefined, tag_id: tag.id, search: undefined})"
                            ui-sref-active="menu-main__link--active">
                        <div class="square square--green btn-y__icon" style="background: {{ tag.bgcolor }}"></div>
                        <span class="text--dots">{{ tag.tag_name }}</span>
                    </button>

                    <button class="menu-main__tag-minimize btn-y btn-y--mail-fix text--dots pointer  btn--act--y-shw" type="button"
                            ui-sref="mail.inbox({mbox: undefined, filter: undefined, tag_id: tag.id, search: undefined})"
                            ui-sref-active="menu-main__link--active">
                        <div class="square square--green btn-y__icon" style="background: {{ tag.bgcolor }}">
                            <span class="square__text">{{ tag.tag_name }}</span>
                        </div>
                    </button>
                </li>
            </ul>

        </div>
    </div>

    <div class="menu-main-layout__item menu-main-layout__settings-tags">
        <div class="menu-main-layout__item-content">
            <div class="folders-setup">
                <div class="folders-setup__row">
                    <a class="folders-setup__link" href ng-click="vm.openTagCreatePopup()">
                        {{ 'CREATE_TAG' | translate }}
                    </a>
                    <a class="folders-setup__link folders-setup__link--settings" ui-sref="settings.tags">
                        <span class="icon-settings font--size15"></span>
                    </a>
                </div>
                <!--<hr class="hr folders-setup__hr">-->
            </div>
        </div>
    </div>

    <div class="menu-main-layout__item mrg--t20">
        <div class="menu-main-layout__item-content width--all">
            <button class="menu-main-layout__other-mails btn-y btn-y--size26 btn-y--border btn-y--image-icon btn-y--white width--inh pointer mrg--auto"
                    type="button"
                    ui-sref="settings.accounts">
                <span class="btn-y__name">
                     {{ 'ADD_OTHER_MAIL' | translate }}
                </span>

                <div class="flex mrg--f-right">
                    <div><img class="btn-y__icon" src="/images/gmail.png"></div>
                    <div><img class="btn-y__icon" src="/images/yahoo-mail.png"></div>
                </div>

            </button>
            <a class="menu-main-layout__other-mails-minimize" ui-sref="settings.accounts">
                <span class="icon-collection-of-mail color--blue"></span>
            </a>
        </div>
    </div>

    <!--    <div class="menu-main-layout__item mrg--t20">
            <div class="menu-main-layout__item-content">
                <a class="menu-main-layout__button-tarif" ui-sref="storage">
                    <img class="img-responsive" src="/images/tarif-button.png">
                </a>
                <a class="menu-main-layout__button-tarif-minimize" ui-sref="storage">
                    <span class="icon-mail-space color&#45;&#45;green"></span>
                </a>
            </div>
        </div>-->

    <div class="menu-main-layout__item mrg--t20">
        <div class="menu-main-layout__item-content">
            <div class="space-progress">
                <uib-progressbar class="space-progress__bar space-progress--normal"
                                 ng-class="{
                                    'space-progress--red': ((vm.user.profile.usedQuota / vm.user.profile.quota) * 100) > 75,
                                    'space-progress--yellow': ((vm.user.profile.usedQuota / vm.user.profile.quota) * 100) > 50 && ((vm.user.profile.usedQuota / vm.user.profile.quota) * 100) <= 75
                                 }"
                                 value="vm.user.profile.usedQuota"
                                 max="vm.user.profile.quota"
                                 ng-click="vm.openStoragePopup()">
                </uib-progressbar>

                <div class="space-progress__content mrg--t5">
                     <span class="menu-main-layout__button-tarif space-progress__used-space">
                             <span class="menu-main-layout__button-tarif-dop">
                                 {{ vm.user.profile.usedQuota }} MB {{ 'FROM' | translate }} </span>
                             {{ vm.user.profile.quota }} MB
                     </span>
                    <!--<a class="font__size12 color&#45;&#45;black" href ng-click="vm.openStoragePopup()">{{ 'STORAGE_UP_SPACE' | translate }}</a>-->
                    <button class="menu-main-layout__button-tarif font--size12 mrg"
                            type="button"
                            ng-click="vm.openStoragePopup()">
                        {{ 'STORAGE_UP_SPACE' | translate }}
                    </button>

                    <!--                    <a class="menu-main-layout__button-tarif-minimize" ui-sref="storage">
                                            <span class="icon-mail-space color&#45;&#45;green"></span>
                                        </a>
                                        <a class="menu-main-layout__button-tarif-minimize" ng-click="vm.openStoragePopup()">
                                            <span class="icon-mail-space color&#45;&#45;green"></span>
                                            <progress class="space-progress__bar"
                                                      value="{{ vm.user.profile.usedQuota }}"
                                                      max="{{  vm.user.profile.quota }}"></progress>
                                        </a>-->

                </div>

            </div>
        </div>
    </div>

    <div class="menu-main-layout__item menu-main-layout__item--banner mrg--t20">
        <div class="banner-block banner-block--size200 mrg--auto">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- my.mail.cz 200x200 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:200px;height:200px"
                 data-ad-client="ca-pub-7169913763254428"
                 data-ad-slot="6851262006"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>