<div class="contact-import-file">
    <div class="load-contacts-from-file">

        <form name="uploadForm" ng-submit="vm.upload(uploadForm)" novalidate>
            <div class="load-contacts-from-file__header">
                <span class="">{{ 'BTN_LOAD_CONTACT_0F_FILE' | translate }}</span>
            </div>

            <div class="load-contacts-from-file__content">
                <div class="load-contacts-from-file__title">
                    {{ 'CONTACT_EXPORT_MASSAGE' | translate }}.
                </div>

                <div class="load-contacts-from-file__load-elements"
                     ng-class="{'is-loaded': vm.uploadForm.model.file}">
                    <button class="btn btn--yellow btn--size_sm width--aut"
                            type="file"
                            name="file"
                            ng-model="vm.uploadForm.model.file"
                            ngf-select
                            accept="text/x-vcard"
                            ngf-max-size="2MB"
                            ngf-model-invalid="vm.uploadForm.errors"
                            required>
                        {{ 'UPLOAD_FILES' | translate }}
                    </button>

                    <span class="load-contacts-from-file__attach-file" ng-if="vm.uploadForm.model.file">
                        {{ vm.uploadForm.model.file.name }}
                        <span class="remove-data-input remove-data-input--small"
                              ng-click="vm.uploadForm.model.file = ''">
                            <svg class="remove-data-input__icon">
                                <use xlink:href="#icon-close"></use>
                            </svg>
                        </span>
                    </span>

                    <div class="load-contacts-from-file__notif" ng-if="vm.uploadForm.model.file">
                        {{ 'FILE_IS_ANALISE_SUCCESS' | translate }}
                        <!--и найдено <b class="font__bold color&#45;&#45;yellow font__size16">24</b> контакта-->
                    </div>
                </div>
            </div>

            <div class="load-contacts-from-file__footer">
                <hr class="hr hr--top">
                <button class="btn btn--normal btn--size_sm width--size129 mrg__right10"
                        type="button"
                        ng-click="vm.close()">{{ 'CANCEL' | translate }}
                </button>
                <button class="btn btn--normal btn--size_sm width--size129"
                        type="submit"
                        ng-disabled="!vm.uploadForm.model.file">
                    {{ 'SAVE' | translate }}
                </button>
            </div>

        </form>

    </div>
</div>