<div class="contact-import-file">
    <div class="load-contacts-from-file">

        <form name="uploadForm" ng-submit="vm.upload(uploadForm)" novalidate>
            <div class="load-contacts-from-file__header">
                <span class="">Загрузить контакты из файла</span>
            </div>

            <div class="load-contacts-from-file__content">
                <div class="load-contacts-from-file__title">
                    Mail.CZ поддерживает импорт ваших контактов контактов,из файлов в формате .csv и
                    vCard.
                </div>

                <!--
                    is-loaded отвечает за отображение сообщени о анализи файла
                    accept="image/*"
                -->

                <div class="load-contacts-from-file__load-elements is-loaded">
                    {{ vm.uploadForm.model.file }}
                    {{ vm.uploadForm.errors }}
                    {{ uploadForm.$invalid }}
                    <button class="btn btn--yellow btn--size_sm width--aut"
                            type="file"
                            name="file"
                            ng-model="vm.uploadForm.model.file"
                            ngf-select
                            accept="text/x-vcard"
                            ngf-max-size="2MB"
                            ngf-model-invalid="vm.uploadForm.errors"
                            required>
                        Загрузить файлы
                    </button>

                    <span class="load-contacts-from-file__attach-file" ng-if="vm.uploadForm.model.file">
                        new-contacts.csv
                        <span class="remove-data-input remove-data-input--small" ng-click="vm.uploadForm.model.file = ''">
                            <svg class="remove-data-input__icon">
                                <use xlink:href="#icon-close"></use>
                            </svg>
                        </span>
                    </span>

                    <div class="load-contacts-from-file__notif" ng-if="vm.uploadForm.model.file">
                        Файл успешно проанализировано
                        <!--и найдено <b class="font__bold color&#45;&#45;yellow font__size16">24</b> контакта-->
                    </div>
                </div>

            </div>

            <div class="load-contacts-from-file__footer">
                <hr class="hr hr--top">
                <button class="btn btn--normal btn--size_sm width--size129 mrg__right10"
                        type="button">Отменить
                </button>
                <button class="btn btn--normal btn--size_sm width--size129"
                        type="submit"
                        ng-disabled="!vm.uploadForm.model.file">
                    Сохранить
                </button>
            </div>

        </form>

    </div>
</div>