<div class="user-connection-default">
    <p class="user-connection-default__title main-title-text font--size16 font--bold additional-info__block__link">
        <strong>{{ 'SEND_MAIL_IS_ADDRESS' | translate }}</strong>
    </p>

    <div class="user-connection-default__item" ng-repeat="connection in vm.connections.items">
        <div class="radio-button" ng-class="{'radio-button--bold': connection === vm.connections.selected}">
            <label class="radio-button__label">
                <div class="radio-button__radio">
                    <input class="radio-button__input"
                           name="connection"
                           type="radio"
                           ng-change="vm.update(connection)"
                           ng-model="vm.connections.selected"
                           ng-value="connection">
                    <div class="radio-button__round">
                        <div class="radio-button__inside"></div>
                    </div>
                </div>
                <div class="radio-button__text">
                    {{ connection.email }}
                </div>
            </label>
        </div>
    </div>
</div>