<div class="folder-create">
    <div class="tag-create__title">{{ 'RENAME_FOLDER' | translate }}</div>

    <div class="mrg--t15">
        <form name="form" ng-submit="vm.update(form)" novalidate>
            <div class="folder-create__input mrg--t15">
                <div class="mrg--r10">
                    <span class="font--size13">{{ 'NAME' | translate }}</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           name="mboxnew"
                           ng-model="vm.form.model.mboxnew"
                           type="text"
                           required>
                    <!--<a class="link link&#45;&#45;dotted link&#45;&#45;violet font--size13" href="">Вложить в другую папку</a>-->
                </div>
            </div>

            <div class="folder-create__btn mrg__top40">
                <button class="btn-y btn-y--border" type="submit">{{ 'SAVE' | translate }}</button>
                <button class="btn-y btn-y--border" type="button" ng-click="vm.close()">{{ 'CANCEL' | translate }}</button>
            </div>
        </form>
    </div>
</div>