<div class="contact-group-create">
    <div class="contact-group-create__title">{{ 'CREATE_NEW_GROUP' | translate }}</div>
    <div class="mrg--t15">
        <form name="contactGroupForm" ng-submit="vm.create(contactGroupForm)" novalidate>
            <div class="contact-group-create__input mrg--t15">
                <div class="mrg--r10">
                    <span class="font__size13">{{ 'NAME' | translate }}</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           type="text"
                           name="name"
                           ng-model="vm.contactGroupForm.model.name"
                           required/>
                </div>
            </div>
            <div class="contact-group-create__btn mrg--t10">
                <button class="btn-y btn-y--border" type="submit">{{ 'RENAME_GROUP' | translate }}</button>
                <button class="btn-y btn-y--border" type="button" ng-click="vm.close()">{{ 'CANCEL' | translate }}</button>
            </div>
        </form>
    </div>
</div>