<div class="layout__bread-crumbs mrg__bottom15">
    <div class="bread-crumbs">
        <a class="bread-crumbs__item" href="#">Почта</a>
        <a class="bread-crumbs__item" href="#">Все настройки</a>
        <a class="bread-crumbs__item bread-crumbs--active" href="#">Управление аккаунтом</a>
    </div>
</div>

<article class="layout-settings">
    <section class="layout-settings__col width--aut">

        <!-- Персональные данные -->
        <div class="personal-info">
            <div class="personal-info__user-avatar mrg__bottom45"
                 ng-click="vm.openAvatarUploadPopup()">
                <div class="avatar avatar--settings avatar--size203 avatar--second-style">
                    <img class="avatar__image"
                         ng-src="{{ user.profile.photo }}"
                         fallback-src="{{'/images/avatar-personal.svg'}}">
                    <span class="avatar__edit avatar__edit--add"></span>
                </div>
            </div>

            <div class="personal-info__user-info">
                <div class="personal-info__user-info-title main-title-text">Персональные данные</div>
                <profile-form></profile-form>
            </div>

        </div>

    </section>
    <!---->
    <section class="layout-settings__col width--aut">

        <!-- Дополнительные настройки блок с права -->
        <div class="additional-info">

            <!-- Безопасность аккаунта -->
            <div class="additional-info__block ">
                <div class="main-title-text main-title-text__icon">
                    <img class=" main-title-text__icon--size27" src="images/safety-g.svg" alt="">
                    Безопасность аккаунта
                </div>

                <!--<div class="additional-info__block__option">-->
                <!--<a class="additional-info__block__link link&#45;&#45;disabled" href="#">Аккаунт достаточно защищен</a>-->
                <!--<a class="additional-info__block__link" href="#">Сменить пароль</a>-->
                <!--<a class="additional-info__block__link" href="#">Привязать запасной e-mail</a>-->
                <!--<a class="additional-info__block__link" href="#">Добавить номер телефона</a>-->
                <!--</div>-->

                <div class="additional-info__block__option">
                    <a class="additional-info__block__link link link--disabled" href="#">Аккаунт достаточно
                        защищен</a>
                    <a class="additional-info__block__link link mrg__bottom10" href
                       ng-click="vm.openPasswordChangePopup()">Сменить пароль</a>

                    <div class="additional-info__block__link">
                        <span class="additional-info__block__title">{{ user.profile.email }}</span>
                        <button class="additional-info__block__link link btn btn--not-style">
                            Добавить/Изменить запасной e-mail
                        </button>
                    </div>
                    <div class="additional-info__block__link">
                        <span class="additional-info__block__title">+{{ user.profile.phone }}</span>
                        <button class="additional-info__block__link link btn btn--not-style">Добавит/Изменить
                            номер телефона
                        </button>
                    </div>
                </div>

            </div>

            <!-- Другие настройки -->
            <div class="additional-info__block ">
                <div class="main-title-text main-title-text__icon">
                    <img class=" main-title-text__icon--size27" src="images/other-settings.svg" alt="">
                    Другие настройки
                </div>
                <div class="additional-info__block__option">
                    <a class="additional-info__block__link" href ng-click="vm.destroy()">Удалить аккаунт</a>
                </div>
            </div>

            <!-- Привязать профиль-->
            <div class="additional-info__block">
                <div class="main-title-text main-title-text__icon">
                    <img class=" main-title-text__icon--size27 hide-elm" src="images/other-settings.svg"
                         alt="">
                    Привязать профиль
                </div>

                <div class="additional-info__block__snap-profile ">
                    <div class="social-icons">
                        <button class="social-icons__icon social-icons--vk-icon social-icons--btn-tied btn"
                                type="button"></button>
                        <button class="social-icons__icon social-icons--fb-icon btn"
                                type="button"></button>
                        <button class="social-icons__icon social-icons--tw-icon btn"
                                type="button"></button>
                        <button class="social-icons__icon social-icons--gp-icon btn"
                                type="button"></button>
                    </div>
                </div>
            </div>

            <!-- Чекбоксы -->
            <div class="additional-info__block">

                <div class="font__bold font__size13">Разрешить доступ к почтовому ящику с помощью
                    почтовых клиентов
                </div>

                <form class="additional-info__allow form" action="">

                    <label class="checkbox checkbox_theme_islands checkbox_size_m i-bem mrg__bottom5"
                           data-bem='{"checkbox":{}}'>
                                    <span class="checkbox__box">
                                        <input class="checkbox__control" type="checkbox" autocomplete="off" name="name1"
                                               value="val_1"/>
                                    </span>
                        <span class="checkbox__text"
                              role="presentation">С сервера imap.yandex.ru по протоколу IMAP</span>
                    </label>

                    <label class="checkbox checkbox_theme_islands checkbox_size_m i-bem mrg__bottom5"
                           data-bem='{"checkbox":{}}'>
                                    <span class="checkbox__box">
                                        <input class="checkbox__control" type="checkbox" autocomplete="off" name="name1"
                                               value="val_1"/>
                                    </span>
                        <span class="checkbox__text"
                              role="presentation">С сервера pop.yandex.ru по протоколу POP3</span>
                    </label>

                </form>

            </div>

        </div>

    </section>

    <section class="layout-settings__row separate--top mrg__top30">

        <!-- Ваши подписи -->
        <div class="user-signatures">
            <div class="user-signatures__title main-title-text">Ваши подписи</div>
            <div class="user-signatures__edit-text col-md-6 mrg__right20">
                <div message-textarea ng-model="vm.signature"></div>
            </div>
            <div class="user-signatures__view col-md-6">
                <span ng-bind-html="vm.getTrustHtml(vm.signature)"></span>
            </div>
        </div>

    </section>
</article>

<div class="layout__footer">
    <footer></footer>
</div>
