<div class="auth-layout">

    <div class="auth-layout__content">
        <div class="auth-layout__form">

            <div class="card">
                <div class="auth-form">
                    <div class="auth-form__logo">
                        <img class="img-responsive" src="/images/logo.png">
                    </div>
                    <form name="loginForm" ng-submit="vm.login(loginForm)" novalidate>
                        <div>
                            <input type="text" ng-model="vm.loginForm.model.username" required>
                        </div>
                        <div>
                            <input type="password" ng-model="vm.loginForm.model.password" required>
                        </div>
                        <div>
                            <button class="" type="submit">Войти</button>
                        </div>
                    </form>
                    <hr>
                    <button ui-sref="signUp">Регистрация</button>
                </div>
            </div>

        </div>
    </div>

    <div class="auth-layout__bg"></div>
</div>