<header>
    <div class="brand">
        <a href="#"><span>@</span>mail<span>.cz</span></a>
    </div>
    <div class="navigation">
        <!-- search-bar -->
        <form class="search">
            <span class="close hide"></span>
            <input type="text" />
            <!-- data-action for js handler -->
            <span class="arrow arrow-down hide" data-action="toggle-search-dropdown"></span>
            <button>Найти</button>
            <div class="search__dropdown">
                <ul class="search__dropdown__list">
                    <li class="search__dropdown__list__item">
                        <span class="search__dropdown__list__item__text">Искать по всему письму</span>
                        <span class="arrow-down"></span>
                    </li>
                    <li class="search__dropdown__list__item">
                        <span class="search__dropdown__list__item__text">Все папки</span>
                        <span class="arrow-down"></span>
                    </li>
                    <li class="search__dropdown__list__item">
                        <span class="search__dropdown__list__item__text">Все метки</span>
                        <span class="arrow-down"></span>
                    </li>
                    <li class="search__dropdown__list__item">
                        <span class="search__dropdown__list__item__text">С вложениями</span>
                    </li>
                    <li class="search__dropdown__list__item search__dropdown__list__item__date">
                        <span class="search__dropdown__list__item__text">01.01.2000</span>
                        <span class="search__dropdown__list__item__line"></span>
                        <span class="search__dropdown__list__item__text">01.01.2000</span>
                    </li>
                    <li class="search__dropdown__list__item">
                        <span class="search__dropdown__list__item__text">Письма по месяцам</span>
                    </li>
                </ul>
            </div>
        </form>
        <!-- contacts -->
        <li class="item contacts">
            <a href="#"><img src="/styles/svg/contacts.svg" alt=""></a>
        </li>
        <!-- settings -->
        <li class="item settings">
            <a href="#">
                <img src="/styles/svg/settings.svg" alt="">
            </a>
            <ul class="mega-submenu">
                <h3>Все настройки</h3>
                <li class="mega-submenu-column">
                    <ul>
                        <li>
                            <a href="#"><img src="/styles/svg/folder.svg" alt="">Папки</a>
                        </li>
                        <li>
                            <a href="#"><img src="/styles/svg/tag.svg" alt="">Тэги</a>
                        </li>
                        <li>
                            <a href="#"><img src="/styles/svg/arrows.svg" alt="">Правила обработки</a>
                        </li>
                    </ul>
                </li>
                <li class="mega-submenu-column">
                    <ul>
                        <li>
                            <a href="#"><img src="/styles/svg/settings.svg" alt="">Настройки контактов</a>
                        </li>
                        <li>
                            <a href="#"><img src="/styles/svg/plus.svg" alt="">Добавить другой ящик</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- profile -->
        <li  class="item profile"> <a href="#">john.doe@mail.cz</a>
            <img src="/styles/svg/profile.svg" alt="">
            <ul class="submenu">
                <li class="submenu-item">
                    <span class="plus"></span>
                    <a href="#">Добавить пользователя</a>
                </li>
                <li class="submenu-item"><a href="#">Управление аккаунтом</a></li>
                <li class="submenu-item"><a href="#">Помощь</a></li>
                <li class="submenu-item"><a href="#">Сменить пароль</a></li>
                <li class="submenu-item"><a href="#">Выход</a></li>
            </ul>
        </li>
    </div>
</header>
