<div class="header font-sizer--bigger-15">
    <div class="header__brand pointer" ui-sref="mail.inbox({mbox: 'INBOX'})">
        <img class="header__logo" src="/images/logo.png" alt="Mail logo">
    </div>

    <div>
        <div class="header__spinner">
            <spinner is-global="true"></spinner>
        </div>
    </div>

    <message-alert-send></message-alert-send>

    <div class="header__navigation">

        <!--Тут компонент меню-->
        <div class="navigation">
            <div class="navigation__row">
                <div class="navigation__item">
                    <a class="navigation__link navigation__link--active" ui-sref="mail.inbox({mbox: 'INBOX'})">
                        {{ 'MAIL' | translate }}
                    </a>
                </div>
                <div class="navigation__item">
                    <a class="navigation__link" ui-sref="contacts.main">
                        {{ 'CONTACTS' | translate }}
                    </a>
                </div>
                <!--<div class="navigation__item">-->
                <!--<a class="navigation__link" href="">Файлы</a>-->
                <!--</div>-->
                <!--<div class="navigation__item">-->
                <!--<a class="navigation__link" href="">Новости</a>-->
                <!--</div>-->
                <!--<div class="navigation__item">-->
                <!--<a class="navigation__link" href="">Еще</a>-->
                <!--</div>-->
            </div>
        </div>

    </div>


    <div class="header__left">
        <div class="header__search header__left-item">

            <search-mail></search-mail>

        </div>

        <!-- Темы-->
        <div class="header__settings header__left-item position">
            <!--<a class="header__settings-link">-->
            <button class="btn-y btn-y--settings pointer">
                <span class="icon-thems"></span>
            </button>
        </div>

        <div class="header__settings header__left-item position">
            <!--<a class="header__settings-link">-->
            <button class="btn-y btn-y--settings pointer"
                    uib-popover-template="'app/components/settings-menu/settings-menu.html'"
                    popover-class="popover--settings"
                    popover-placement="bottom-right"
                    popover-animation="true"
                    popover-trigger="'outsideClick'">
                <span class="icon-settings"></span>
            </button>
        </div>
        <div class="header__avatar header__left-item">

            <a class="header__avatar-link" href
               uib-popover-template="'app/components/user-menu/user-menu-popover.html'"
               popover-class="popover--user popover--no-arrow"
               popover-placement="bottom-right"
               popover-animation="true"
               popover-trigger="'outsideClick'">

                <div class="header__name">
                    {{ vm.user.profile.email.split('@')[0] }}
                </div>

                <!--Тут компонент аватара-->
                <avatar-name class="avatar avatar--header avatar--size42"
                             ng-if="!vm.user.profile.photo"
                             name="vm.user.profile.first_name"
                             email="vm.user.profile.email"></avatar-name>
                <div class="avatar avatar--header avatar--size42" ng-if="vm.user.profile.photo">
                    <img class="avatar__image"
                         media-url="vm.user.profile.photo">
                </div>
            </a>

        </div>
    </div>
</div>

<!--
    для активации themes--active добавляем класс
     и еще если можно то добавь
-->
<div class="themes">
    <div class="themes__right-content">
        <button class="btn--close btn--not-events" type="button"></button>
        <div class="themes__title">Темы оформлени</div>
        <div class="themes__list">
            <div class="themes__item themes__item--checked themes__item--additional">
                <div class="">
                    <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                    <div class="themes__preview">
                        <img src="/images/colors.jpg" alt="">
                    </div>
                </div>
                <div class="themes__arrow-up"></div>
                <div class="themes__item-additional">
                    <div class="themes__item-additional-content">
                        <div class="themes__item-colors"></div>
                        <div class="themes__item-colors themes__item-colors--checked"></div>
                        <div class="themes__item-colors"></div>
                        <div class="themes__item-colors"></div>
                        <div class="themes__item-colors"></div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/1.png" alt="">
                </div>

            </div>

            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/2.jpg" alt="">
                </div>

            </div>

            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/3.jpg" alt="">
                </div>

            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/4.jpg" alt="">
                </div>

            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/5.jpg" alt="">
                </div>

            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/6.jpg" alt="">
                </div>

            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/7.jpg" alt="">
                </div>

            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/8.jpg" alt="">
                </div>

            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/9.jpg" alt="">
                </div>

            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/10.jpg" alt="">
                </div>
            </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
            <div class="themes__preview">
                <img src="/images/themes/11.jpg" alt="">
            </div>
        </div>
            <div class="themes__item">
                 <span class="themes__name">
                     <span class="themes__name-text">имя темы</span>
                 </span>
                <div class="themes__preview">
                    <img src="/images/themes/12.jpg" alt="">
                </div>
            </div>

        </div>

    </div>

</div>