<div class="sign-list">
    <div class="sign-list__header flex">
        <button class="btn btn--normal btn--size_s mrg__auto" type="button"
           ng-click="vm.openCreateSignPopup()">
            {{ 'ADD_SIGNATURE' | translate }}
        </button>
    </div>

    <hr class="hr">

    <div class="sign-list__items">
        <a class="sign-list__item link link--black"
           href
           ng-repeat="sign in vm.sign.items"
           ng-click="vm.select(sign)">
            <span class="sign-list__name"
                  ng-bind-html="sign.sign"></span>
        </a>
    </div>
</div>