<div class="sign-list">
    <div class="sign-list__header">
        <button class="btn btn--normal" type="button"
           ng-click="vm.openCreateSignPopup()">
            Добавить подпись
        </button>
    </div>

    <hr class="hr">

    <div class="sign-list__items">
        <a class="sign-list__item link link--black"
           href
           ng-repeat="sign in vm.sign.items"
           ng-click="vm.select(sign)">
            <span class="sign-list__name"
                  ng-bind-html="sign.sign"></span>
        </a>
    </div>
</div>