<div class="more-list">
    <div class="more-list__links">

        <a class="more-list__link visible--1300" href
           ng-click="vm.triggerSeen(); vm.close();">
            <span class="more-list__name" ng-if="vm.isSeen">{{ 'NOT_READ' | translate }}</span>
            <span class="more-list__name" ng-if="!vm.isSeen">{{ 'READ' | translate }}</span>
        </a>

        <a class="more-list__link visible--1300" href
           ng-if="vm.messages.checked.length"
           uib-popover-template="'app/components/tag-list/tag-list-popover.html'"
           popover-class="popover--tag-list"
           popover-placement="left"
           popover-animation="true"
           popover-trigger="'outsideClick'">
            <span class="more-list__name">{{ 'LABEL' | translate }}</span>
        </a>

        <a class="more-list__link visible--1400" href
           ng-if="vm.messages.checked.length"
           uib-popover-template="'app/components/folder-list/folder-list-popover.html'"
           popover-class="popover--folder-list"
           popover-placement="left"
           popover-animation="true"
           popover-trigger="'outsideClick'">
            <span class="more-list__name">{{ 'IN_FOLDER' | translate }}</span>
        </a>

        <a class="more-list__link visible--1500" href
           ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
           ng-click="vm.move({name: 'Archive', caption: 'Архив'}); vm.close();">
            <span class="more-list__name">{{ 'ARCHIVED' | translate }}</span>
        </a>

        <a class="more-list__link" href ng-click="vm.print()">
            <span class="more-list__name">{{ 'PRINT' | translate }}</span>
        </a>

        <a class="more-list__link"
           ui-sref="settings.ruleAdd({
                subject: vm.messages.checked[0].Subject,
                email: vm.messages.checked[0].fromAddress
        })">
            <span class="more-list__name">{{ 'CREATE_RULE_2' | translate }}</span>
        </a>
    </div>
</div>