<div class="layout__bread-crumbs mrg__bottom15">
    <div class="bread-crumbs font-sizer--bigger-20">
        <a class="bread-crumbs__item" href="#">{{ 'MAIL' | translate }}</a>
        <a class="bread-crumbs__item" href="#">{{ 'ALL_SETTING' | translate }}</a>
        <a class="bread-crumbs__item bread-crumbs--active" href="#">{{ 'MANAGE_ACCOUNT' | translate }}</a>
    </div>
</div>

<article class="layout-settings width--inh">
    <section class="layout-settings__row mrg__left">

        <div class="rules-settings">
            <div class="rules-settings__head">

                <div class="rules-settings__left">

                    <div class="rules-settings__notific notific--layout">
                        {{ 'RULES_MESSAGE_IS_HELP_RULES_WE' | translate }}.
                    </div>

                    <div class="width--inh mrg__left mrg__top20">
                        <button class="btn btn--yellow mrg__bottom4 btn--size_sm"
                                ui-sref="settings.ruleAdd">{{ 'CREATE_RULE' | translate }}
                        </button>
                    </div>
                </div>

                <div class="rules-settings__right">

                    <div class="rules-settings__notific mrg__bottom10">{{ '' | translate }}:</div>
                    <div class="rules-settings__nav">
                        <a class="rules-settings__nav-item" href="">{{ 'RULES_MESSAGE_IS_HELP_RULES_WE_MOVE' | translate }},</a>
                        <a class="rules-settings__nav-item" href="">{{ 'RULES_MESSAGE_IS_HELP_RULES_WE_SELECTED' | translate }},</a>
                        <a class="rules-settings__nav-item" href="">{{ 'RULES_MESSAGE_IS_HELP_RULES_WE_DELETE' | translate }}.</a>
                    </div>
                </div>
            </div>

            <!-- Правила -->
            <div class="rules-settings__rules mrg__top25">

                <div class="rules-settings__rules--title notific--layout-light">{{ 'YOUR_CREATED_RULES' | translate }}</div>

                <!-- Список правил-->
                <!-- Правило 1-->
                <form class="rules-settings__rule" ng-repeat="sieve in vm.sieve.items">
                    <div class="rules-settings__rule__postpone mrg__right16"></div>
                    <div class="rules-settings__rule__description">
                        <span class="rules-settings__rule__name">{{ sieve.name }}</span>
                        <span class="rules-settings__rule__descript">{{ 'RULES_IF_WHOM_OR_COPY' | translate }} “mail@gmail.com”</span>
                    </div>
                    <div class="rules-settings__rule__option-icons">

                        <!-- Переключатель -->
                        <div class="radiobutton mrg__right16">
                            <div class="radiobutton radiobutton__switch radiobutton--size72x28">
                                <input class="radiobutton__switch__input" type="radio" name="toggle"
                                       ng-checked="{{ sieve.enable }}"
                                       ng-value="1"
                                       ng-model="sieve.enable"
                                       ng-change="vm.enableTrigger(sieve)">
                                <input class="radiobutton__switch__input" type="radio" name="toggle"
                                       ng-checked="{{ sieve.enable }}"
                                       ng-value="0"
                                       ng-model="sieve.enable"
                                       ng-change="vm.enableTrigger(sieve)">
                                <span class="radiobutton__switch__on-off"></span>
                            </div>
                        </div>

                        <!-- Редактирование записи -->
                        <button class="btn-group__btn btn btn--size_s width--size28 btn__icon--opahover btn__icon--edit mrg__right16"
                                ui-sref="settings.ruleAdd({id: sieve.id})"></button>

                        <!-- Удалить правило -->
                        <button class="btn-group__btn btn btn--size_s width--size28 btn__icon--opahover btn__icon--remove mrg__right16"
                                ng-click="vm.remove(sieve)"></button>

                    </div>

                </form>

            </div>

            <!-- Cписки черный/белый -->
            <div class="rules-settings__bl-wh-list">

                <span class="rules-settings__notific width--all mrg__top25">
                    {{ 'RULES_WE_MANAGE_MAILS' | translate }}.</span>

                <!-- Черный список-->
                <div class="rules-settings__bl-wh-content rules-settings__bl-wh-content--black">
                    <black-list></black-list>
                </div>

                <!-- Белый список-->
                <div class="rules-settings__bl-wh-content rules-settings__bl-wh-content--white mrg__top10">
                    <white-list></white-list>

                    <!--<div class="rules-settings__bl-wh-content__title">Белый список</div>-->

                    <!--<span class="rules-settings__bl-wh-content__text">Вся почта с адресов, занесённых в белый список, не будет попадать в папку <b>-->
                        <!--<a class="rules-settings__bl-wh-content__link" href="">«Спам»</a></b></span>-->

                    <!--<div class="form__field-item mrg__bottom0">-->
                        <!--<div class="field-style flex&#45;&#45;inline ">-->

                            <!--<input class="input input&#45;&#45;size_xs input&#45;&#45;up-shadow width&#45;&#45;inh input&#45;&#45;bg-white mrg__right7"-->
                                   <!--type="text"-->
                                   <!--name="rules"-->
                                   <!--placeholder="Укажите e-mail адрес"-->
                                   <!--required>-->
                            <!--<button class="btn btn&#45;&#45;normal btn&#45;&#45;size_xs width&#45;&#45;size150">Добавить</button>-->

                        <!--</div>-->
                    <!--</div>-->
                </div>

            </div>

        </div>

    </section>
</article>