<div class="contacts-list__item pointer"
     ng-class="{'is-check': vm.contact.isChecked}"
     ng-click="vm.openContactViewPopup()">

    <!-- Аватарка-->
    <div class="contacts-list__contact-avatar">
        <div class="avatar avatar--settings avatar--size28 avatar--second-style ">
            <img class="avatar__image" src="/images/avatar-personal.svg"
                 ng-if="!vm.firstLetter && !vm.emailLetter">

            <div class="avatar__symbol-image" ng-if="vm.firstLetter || vm.emailLetter">
                <div class="avatar__first-name">{{ vm.firstLetter ? vm.firstLetter : vm.emailLetter }}
                </div>
                <div class="avatar__last-name" ng-if="vm.lastLetter">{{ vm.lastLetter }}</div>
            </div>

            <label ng-click="$event.stopPropagation();">
                    <span class="contacts-list__check-icon">
                        <svg class="all-select-check__icon">
                            <use xlink:href="#check-box-mark"></use>
                        </svg>
                        <input type="checkbox" style="display: none;"
                               ng-model="vm.contact.isChecked"
                               data-checklist-model="vm.contacts.checked"
                               data-checklist-value="vm.contact">
                    </span>
            </label>

        </div>
    </div>

    <!-- Имя-->
    <div class="contacts-list__contact-name">
            <span class="contacts-list__text">
                {{ vm.contact.last_name }} {{ vm.contact.first_name }}
            </span>
    </div>

    <!-- Адрес почты-->
    <div class="contacts-list__mail-adress">
            <span class="contacts-list__text">
                {{ vm.contact.email }}
            </span>
    </div>

    <!-- Номер телефона-->
    <div class="contacts-list__phone">
            <span class="contacts-list__text">
                {{ vm.contact.phone }}
            </span>
    </div>

    <!-- к какой группе принадлежит-->
    <div class="contacts-list__group" ng-if="vm.contact.contactGroups.length">
        <div class="contacts-list__group-item" ng-repeat="contactGroup in vm.contact.contactGroups">
            <svg class="group-icon group-pall--c-8">
                <use xlink:href="#grid-square"></use>
            </svg>
            <span class="contacts-list__group-label mrg__left5">{{ contactGroup.name }}</span>
        </div>

        <!--<div class="contacts-list__group-item">-->
            <!--<svg class="group-icon group-pall&#45;&#45;c-3">-->
                <!--<use xlink:href="#grid-square"></use>-->
            <!--</svg>-->
            <!--<span class="contacts-list__group-label mrg__left5">asdsad1</span>-->
        <!--</div>-->

        <!--<div class="contacts-list__group-item">-->
            <!--<svg class="group-icon group-pall&#45;&#45;c-2">-->
                <!--<use xlink:href="#grid-square"></use>-->
            <!--</svg>-->
            <!--<span class="contacts-list__group-label mrg__left5">1dasd</span>-->
        <!--</div>-->

        <!--<div class="contacts-list__group-item">-->
            <!--<svg class="group-icon group-pall&#45;&#45;c-15">-->
                <!--<use xlink:href="#grid-square"></use>-->
            <!--</svg>-->
            <!--<span class="contacts-list__group-label mrg__left5">asds1</span>-->
        <!--</div>-->

        <!--<div class="contacts-list__group-item">-->
            <!--<svg class="group-icon group-pall&#45;&#45;c-4">-->
                <!--<use xlink:href="#grid-square"></use>-->
            <!--</svg>-->
            <!--<span class="contacts-list__group-label mrg__left5">1dsadas</span>-->
        <!--</div>-->

    </div>

    <!-- Быстрое удаление-->
    <div class="contacts-list__quik-delete">
        <a class="contacts-list__link" ng-click="vm.destroy(vm.contact)">
            <span class="icon-bin contacts-list__icon color--light-red"></span>
        </a>
    </div>

    <!-- Быстрый ответ-->
    <div class="contacts-list__new_message">
        <a class="contacts-list__link" ui-sref="mail.compose({to: vm.contact.email})" ng-click="$event.stopPropagation();">
            <span class="icon-write contacts-list__icon"></span>
        </a>
    </div>

</div>