<div class="contacts-list__item pointer"
     ng-class="{'is-check': vm.isCheck(vm.contact)}"
     ng-click="vm.openContactViewPopup()">

    <!-- Аватарка-->
    <div class="contacts-list__contact-avatar">
        <div class="avatar avatar--settings avatar--size28 avatar--second-style ">
            <img class="avatar__image" src="/images/avatar-personal.svg"
                 ng-if="!vm.firstLetter && !vm.emailLetter">

            <div class="avatar__symbol-image" ng-if="vm.firstLetter || vm.emailLetter">
                <div class="avatar__first-name">{{ vm.firstLetter ? vm.firstLetter : vm.emailLetter }}
                </div>
                <div class="avatar__last-name" ng-if="vm.lastLetter">{{ vm.lastLetter }}</div>
            </div>

            <label ng-click="$event.stopPropagation();">
                    <div class="contacts-list__check-icon">
                        <span class="all-select-check__icon icon-check-box-mark"></span>
                        <input type="checkbox" style="display: none;"
                               data-checklist-model="vm.contacts.checked"
                               data-checklist-value="vm.contact">
                    </div>
            </label>

        </div>
    </div>

    <!-- Имя-->
    <div class="contacts-list__contact-name">
        <div class="contacts-list__text" ng-if="vm.contact.last_name || vm.contact.first_name">
            {{ vm.contact.last_name }} {{ vm.contact.first_name }}
        </div>
        <div class="contacts-list__text" ng-if="!vm.contact.last_name && !vm.contact.first_name">
            {{ vm.contact.emails[0].value }}
        </div>
    </div>

    <!-- Адрес почты-->
    <div class="contacts-list__mail-adress">
            <span class="contacts-list__text">
                {{ vm.contact.emails[0].value }}
            </span>
    </div>

    <!-- Номер телефона-->
    <div class="contacts-list__phone">
            <span class="contacts-list__text">
                {{ vm.contact.phones[0].value }}
            </span>
    </div>

    <!-- к какой группе принадлежит-->
    <div class="contacts-list__group" ng-if="vm.contact.contactGroups.length">
        <div class="contacts-list__group-item" ng-repeat="contactGroup in vm.contact.contactGroups">
            <!--<svg class="group-icon group-pall&#45;&#45;c-8">-->
                <!--<use xlink:href="#grid-square"></use>-->
            <!--</svg>-->
            <span class="icon-group-users"></span>
            <span class="contacts-list__group-label mrg--l5">{{ contactGroup.name }}</span>
        </div>
    </div>

    <!-- Быстрое удаление-->
    <div class="contacts-list__quik-delete">
        <a class="contacts-list__link" ng-click="vm.destroy(vm.contact)">
            <span class="icon-basket contacts-list__icon color--light-red"></span>
        </a>
    </div>

    <!-- Быстрый ответ-->
    <div class="contacts-list__new_message">
        <a class="contacts-list__link"
           ng-click="vm.openComposePopup(); $event.stopPropagation();">
            <span class="icon-write contacts-list__icon"></span>
        </a>
    </div>
</div>