.aside-right {
  position: relative;
  height: 100%;

  padding: 20px;

  &:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 1px;
    //height: 100%;

    background-color: #e6e6e6;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 2;

    display: none;

    height: 46px;

    margin-bottom: 10px;

    border-bottom: 1px solid $main-border-color;

    background: $white-color;
  }

  .banner-block {
    position: sticky !important;

    top: 20px !important;

    background-color: #aaaaaa;
  }

  &--settings {
    .aside-right {
      padding-top: 40px;
      .banner-block {
        top: 40px !important;
      }
    }

    .aside-right__header {
      border: none;
      background: none;
      display: none;
    }
  }

  &--contacts {
    .aside-right__header {
      position: static;

      height: 64px;
      border-bottom-color: rgba(0, 0, 0, 0.05);
    }
  }

  &--left-line-hide {
    .aside-right:before {
      display: none !important;
    }
  }
}