.compose{
  //position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;

  //padding: 0 20px;
  //margin-right: 20px !important;

  display: flex;
  flex-direction: column;
  height: 100%;


  &__header{
    height: 80px;

    padding: 0 14px;

    background-color: $compose-header-color;

    border-top: 1px solid $compose-border-color;
  }

  &__content{
    background-color: $white-color;
    padding: 0 14px;

  }

  &__footer{
    height: 55px;
    padding: 0 14px;

    border-top: 1px solid $compose-border-color;
    background-color: $compose-header-color;
  }

  &__footer-left{

  }

  &__footer-right{
    display: flex;
    align-items: baseline;
  }
  &__footer-massage{
    line-height: 26px;

    padding-right:  10px;
    margin-right: 7px;

    border-right: 1px solid #dbdbdb;
  }
  &__remove-button{

  }

  &__content-header{
    position: relative;
  }

  &__mode-tabs{
    position: absolute;
    bottom: -42px;
    right:  0;
    z-index: 1;

    display: inline-flex;
  }
  &__mode-tab{
    margin: 0;

    &:hover {
      background-color: #e6e6e6;
      opacity: .7;
    }

    &:first-child{
      border-radius:  4px 0 0 4px !important;
      &.compose__mode-tab--active{
        box-shadow: $compose-button-inbox-shadow;
        &:hover{
          box-shadow: $compose-button-inbox-shadow;
          opacity: 1;
        }
      }
    }

    &:last-child {
      border-radius: 0 4px 4px 0 !important;
      margin-left: -1px;

      &.compose__mode-tab--active{
        background-color:  #dbdbdb!important;
        box-shadow: $compose-button-inbox-shadow;
        opacity: 1;

        &:hover{
          background-color:  #dbdbdb!important;
          box-shadow: $compose-button-inbox-shadow;
        }
      }
    }


  }

}
.l1{
    display: flex;
    flex-direction: column;
    height: 100%;
}
