.compose {
  display: flex;
  flex-direction: column;

  max-height: 100%;
  min-height: 420px;
  height: 100%;

  overflow: hidden;

  &__header {
    height: 60px;
    min-height: 60px;

    padding: 0 14px;

    background-color: $compose-header-color;

    border-bottom: 1px solid $compose-border-color;
  }

  &__content {
    position: relative;
    position: sticky;

    flex: 1 1 auto;

    background-color: $white-color;

    padding: 0 14px;

    overflow: auto;
    overflow-x: hidden;

    border-color: #ccc !important;
    border-left: 1px solid;
    border-right: 1px solid;
  }

  &__main-info {
    padding: 0 14px 8px;

    border-color: #ccc !important;
    border-left: 1px solid;
    border-right: 1px solid;
  }

  &__footer {
    height: 55px;
    min-height: 55px;

    padding: 0 14px;

    flex: 0 1 auto;

    border-top: 1px solid $compose-border-color;

    background-color: $compose-header-color;
  }

  &__footer-left {
  }

  &__footer-right {
    display: flex;
    align-items: baseline;
  }

  &__footer-massage {
    line-height: 26px;

    padding-right: 10px;
    margin-right: 7px;

    border-right: 1px solid #dbdbdb;
  }

  &__remove-button {
    outline: none !important;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }

  &__content-header {
    position: relative;
  }

  &__mode-tabs {
    position: absolute;
    bottom: -42px;
    right: 2px;
    z-index: 2;

    background-color: $white-color;

    display: inline-flex;
  }

  &__mode-tab {
    margin: 0;

    &:hover {
      background-color: #dbdbdb !important;

      opacity: .7;
    }

    &:first-child {
      border-radius: 4px 0 0 4px !important;

      &.compose__mode-tab--active {
        box-shadow: $compose-button-inbox-shadow;

        &:hover {
          box-shadow: $compose-button-inbox-shadow;

          opacity: 1;
        }
      }
    }

    &:last-child {
      border-radius: 0 4px 4px 0 !important;
      margin-left: -1px;

      &.compose__mode-tab--active {
        box-shadow: $compose-button-inbox-shadow;

        &:hover {
          box-shadow: $compose-button-inbox-shadow;

          opacity: 1;
        }
      }
    }
  }

  &__add-signature {
    position: absolute;
    top: 66px;
    left: 0;

    opacity: 0;

    display: flex;
    justify-content: center;

    padding: 0 0 0 3px;

    border-radius: 0 2px 2px 0;

    width: 12px;
    height: 45px;

    outline: none;
    border: 1px solid $button-border-color;
    border-left: none;

    background-color: $button-active-color;
    box-shadow: $compose-button-inbox-shadow;

    .icon-select-arrow {
      position: relative;
      left: -1px;
      display: block;

      width: 9px;
      height: 9px;

      margin: auto;

      font-size: 9px;

      transform: rotate(-90deg);

      &:before {
        content: "\e924"!important;
      }
    }

    &:hover {
      background-color: $yellow-normal-light;

      border-color: rgba(191, 153, 0, 0.7) !important;

      box-shadow: $button-shadow2;
    }

    transition: opacity .8s;
  }

  &__resend-list {
    padding: 15px;

    height: 200px;

    overflow-y: scroll;
  }

  &__save {
    position: absolute;

    bottom: 60px;
    right: 10px;

    background: #f4f4f4;

    padding: 0 5px;
  }
}
