.footer {
  font-family: Verdana, sans-serif;

  width: 100%;
  bottom: 0;

  z-index: 10;

  background: #fff;

  color: #808080;
  font-size: 11px;

  &__auth {
    position: relative;
    //width: calc(100% + 30px);
    //position: fixed;
    //bottom: 0;
    //left: 0;

    width: 100%;

    height: 42px;

    background-color: rgba($auth-footer-color, .8);

    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);

    border: none;

    font: 100 13px/1 Arial, sans-serif;

    padding: 0 25px;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;

  }

  &__copyright {
    min-width: 220px;
  }

  &__menu {
    width: 450px;
    padding-left: 10%;
  }

  &__row {
    position: relative;

    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    padding: 0 20px;
    border-top: 1px solid #e6e6e6;
    bottom: 0;
    right: 0;
  }

  &--help {
    height: 36px;
    .footer__row {
      height: inherit;
    }

  }

}

.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 350px;

  &__elemets {
    position: relative;
    margin-left: 15px;
    min-width: 30px;
    //padding: 5px 0;
  }
}

.footer-left {
  min-width: 300px;
}

.l1 {
  display: flex;
  flex-flow: column;

  &__l2 {

  }
}

.height-flex {
  display: flex;
  flex-direction: column;
  height: 100%;

  &--content {
    flex: 1 0 auto;
  }
  &--bot {
    flex: 0 0 auto;
  }
}