.header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;

  padding: 0 30px;

  height: 60px;

  background: $header-color;

  &__name {
    color: #717376;
    font-size: 13px;
  }

  &__spinner {
    width: 30px;

    margin: 10px;
  }

  &__navigation {

  }

  &__brand {
    //min-width: 172px;
  }

  &__logo {
    width: 130px;
  }

  &__settings-link {
    color: #717376;
    font-size: 20px;

    &:hover {
      color: #000;
    }
  }

  &__left {
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__left-item {
    margin-right: 20px;
  }
}