.header-auth {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;

  height: 25px;
  width: 100%;

  padding: 0 0 0 12px;

  font-size: 14px;
  color: $white-color;

  background-color: rgba($black, .8);
  min-width: 960px;

  &__logo {
    width: 70px;
  }

  &__right {
    display: inherit;

    margin: auto 0 auto auto;
  }

  &__right-item {
    display: inherit;
    justify-content: center;
    align-items: center;

    height: 25px;

    padding: 0 10px;

    text-align: center;

    border-left: 1px solid rgba($white-color, .5);
  }

  &__language {
    position: relative;
    width: 40px;
    height: 25px;
  }

  &__exchange-rates {

    &-icon{
      color: $red-remove-color;
      font-size: 10px;
      padding: 0 3px;
      //line-height: 1;

      &.icon-arrow-top {
        color: $validtae-ok-green!important;
      }
    }
  }

  &__logged-in,  &__weather {
    position: relative;

    display: flex;
    flex-flow: column;

    &-item {
      min-height: 25px;

      padding: 0 10px;
    }
  }

  &__item-popup{
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;

    padding: 4px 0;

    background-color: rgba($black, .8);

    button {
    }

    &--weather {
      left: auto;

      width: 280px;
      padding: 15px;
    }
  }

  &__message {

    &--not-message{
      filter: grayscale(1);
    }

    .link {
      &:hover {
        filter: sepia(1);
      }
    }


  }
}