.layout {
  position: absolute;

  right: 0;
  bottom: 0;
  left: 0;
  top: 60px;

  &__inner {
    //display: flex;
    //flex-flow: row;
    //justify-content: flex-start;

    height: 100%;
  }

  &__menu {
    position: relative;

    width: 260px;
    height: 100%;

    float: left;

    background: $menu-main-color;
  }

  &__content {
    width: 100%;
  }
}