.main-layout {
  position: relative;

  display: inline-block;
  //flex-direction: column;
  height: 100%;

  width: 100%;

  min-width: 1024px;

  min-height: 100%;

  &__inner {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 100%;

    //overflow-x: hidden;
    //max-width: 98%;
    //max-width: -webkit-calc(100% + 0vw);
    //max-width: calc(100% + 0vw);
    z-index: 1;
    //@media only screen and (max-height: 680px) {
    //  min-height: calc(100vh - 60px)!important;
    //}
    @media only screen and (max-height: 780px) {
      min-height: calc(100vh - 60px) !important;
      //min-height: 526px!important;
    }
  }

  &__left {
    position: relative;

    background: $menu-main-color;

    z-index: 2;
  }

  &__menu {
    position: relative;
    width: 250px;

    max-width: 400px !important;
    min-width: 205px;

    max-height: 100%;
    min-height: 100%;

    &:hover {
      .main-layout__menu-switch {
        opacity: .4;
      }
    }
    &.resize-menu {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        width: 2px;
        height: 100%;
        cursor: ew-resize !important;
      }
    }
    &.is-menu-middle {
      min-width: 0;

      .menu-main-layout__buttons {
        justify-content: center;
        .btn {
          margin: 2px 4px !important;
          //width: 32px !important;
          //padding: 0 !important;
        }

      }

      .menu-main-layout__btn-text,
      .menu-main-layout__button-tarif-dop {
        display: none;
      }
    }

    &.is-menu-minimize {
      width: 60px;
      min-width: 60px !important;

      .menu-main-layout__buttons {
        //display: flex;;
        //justify-content: center;
        flex-flow: column;
        .btn {
          margin: 2px auto !important;
          width: 32px !important;
          padding: 0 !important;
        }

      }

      .main-layout__menu-switch {
        transform: rotate(0deg);
      }

      .menu-main {
        text-align: center;
        &__link {
          display: block;
          padding: 0;

          text-align: center;
          overflow: hidden;
          text-overflow: clip;
          white-space: normal;

        }
        &__additional-option {
          .btn--clear-brush {
            display: none !important;
          }
        }

        &__counter {
          text-align: center;
          width: 100%;
          .round {
            display: none;
          }

        }
        &__icon {
          margin: auto !important;
        }

      }
      .folders-setup {
        &__row {
          visibility: visible;
          transform: translateX(0px);
          text-align: center;
        }

        &__create {
          display: none;
        }
        &__settings {
          margin: auto;

        }
      }

      .menu-main-layout__btn-text,
      .menu-main__link-caption,
      .menu-main-layout__button-tarif,
      .menu-main__tag,
      .menu-main-layout__settings-tags,
      .menu-main-layout__other-mails,
      .menu-main-layout__button-tarif,
      .is-nesting {
        display: none;
      }

      .menu-main-layout__button-tarif-minimize,
      .menu-main-layout__other-mails-minimize,
      .menu-main__tag-minimize {
        display: block;
      }
      .space-progress__content {
        justify-content: center;
      }

      .menu-main--tags {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .menu-main__item {
          width: auto !important;
          min-width: inherit !important;
          margin: auto !important;

        }

      }
    }
    &--settings {
      width: 220px;
    }
  }

  &__menu-switch {

    position: absolute;
    top: 2px;
    right: -23px;
    width: 20px;
    height: 20px;
    opacity: 0;

    @extend .icon-double-angle-pointing-to-right;
    background-position: center !important;
    background-size: 50% !important;

    transform: rotate(180deg);

    transition: opacity 1s;
    &:hover {
      opacity: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    flex: 1 0;
    height: inherit;

    min-width: 0;
    width: inherit;
    box-sizing: border-box;

    &--padding {
      padding: 0 20px;
    }
  }

  &__footer {
    flex: 0 0 auto;
    margin-top: 20px;
  }

  &__button-up{
    position: sticky;
    top: 14px;
    left: 100%;
    z-index: 100;

    width: 0;
    height: 0;
  }

  &--padding20 {
    padding: 0 20px;
  }
}


