.mail-message {
  width: inherit;
  padding-right: 30px;

  &__importance {
    //margin-right: 12px;
    padding-right: 6px;
    min-height: 38px;
    display: flex;
    align-items: center;

    color: #bcbcbc;

    &--active {
      color: #e20000;
    }

    .icon-important:before{
      left: -4px;
      position: relative;
    }
  }

  &__head {
    position: relative;
    display: block;
    width: auto;
    //padding-right: 82px;

    box-sizing: border-box;
  }

  &__title {
    font-size: 20px;
    margin: 18px 20px;
    color: $black;
  }

  &__reply {
    position: relative;

    width: 100%;
    min-width: 450px;
    //padding-right: 82px;

    &__avatar {
      //width: 82px;
      //min-width: 82px;
      margin: 0 20px;
    }
  }

  &__labels {
    margin: -6px 82px 18px;
    display: flex;
  }
  &__labels-content{
    display: flex;
    flex-flow: row wrap;
    .letter-tags{
      margin-bottom: 4px;
      margin-right: 9px;
    }
  }

  &__attachments {
    margin: 0 20px;
    padding: 0 0 18px 62px;
  }

  &__right-sidebar{
    float: right;
    background-color: #fff;
    position: relative;
    min-height: 100px;
    width: 291px;
    z-index: 2;
  }
}

