.mail-message {

  &__head {
    position: relative;
    display: block;
    width: auto;
    margin-right: 82px;

    box-sizing: border-box;
  }

  &__title {
    font-size: 20px;
    margin: 18px 20px;
  }

  &__reply {
    position: relative;

    width: 100%;
    min-width: 450px;
    margin-right: 82px;

    &__avatar {
      width: 82px;
    }

  }
}


.body-message {
  margin: 44px 82px;

  &__content {

    width: auto;

    min-width: 772px;
    min-height: 200px;

    background: $massage-content-bg-color;

  }

}


