.main-container {
  display: flex;
  flex-flow: nowrap;

  width: inherit;
  max-width: 100%;

  //height: -webkit-fill-available;

  //
  //&::-webkit-scrollbar {
  //  //position: absolute;
  //  //top:0;
  //  //right: 0;
  //  //bottom: 0;
  //
  //  width: 0!important;
  //  display: none;
  //}

  &__body {
    width: 100%;

    max-block-size: max-content;

    .inbox-list {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1030px){
    aside-right {
      display: none!important;
    }

    .main-container__body {
      //width: inherit!important;
    }
  }
}