.mail-message {
  width: inherit;
  overflow-x: hidden;
  padding-right: 10px;

  &__importance {
    //margin-right: 12px;
    //padding-right: 6px;
    min-height: 38px;
    min-width: 20px;
    display: flex;
    align-items: center;

    overflow: hidden;

    color: #bcbcbc;

    &--active {
      color: #e20000;
    }

    .icon-important:before {
      left: -4px;
      position: relative;
    }
  }

  &__head {
    position: relative;

    display: block;

    width: auto;

    box-sizing: border-box;

    &--abs {
      height: 160px;

      .mail-message__head-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: white;
      }
    }
  }

  &__body {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    //margin: 18px 20px;
    padding: 18px 20px;
    color: rgba(0, 0, 0, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all .8s;

    &:hover {
      background: #ffffff;
      color: black;
      text-overflow: clip;
      overflow: visible;
      white-space: normal !important;
      word-wrap: break-word;
      transition: all .8s
    }

    &--border-bottom {
      border-bottom: 1px solid #e6e6e6;;

    }
  }

  &__title-fwd {
    color: rgba(0, 0, 0, .4);
    font-size: 18px;
    font-weight: bold;
    padding-right: 14px;
  }

  &__reply {
    position: relative;

    width: 100%;
    min-width: 450px;

    &__avatar {
      margin: 0 20px;
    }

    &--column-view {
      padding: 10px 0;

      border-top: 1px solid #e6e6e6;;

      .mail-message__reply__avatar {
        margin: 0 10px !important;
      }
      .quick-reply {

        min-height: 50px;

        &:before {
          content: none !important;
        }
      }
    }
  }

  &__attach-column {
    .attach-upload__list {
      padding: 0 20px;
    }

    .attach-upload__image {
      width: 120px !important;
      height: 100px !important;
    }
    .attach-upload__item {
      width: 120px !important;
      min-height: 140px !important;
      margin: 0 15px 15px 0 !important;
    }

  }

  &__labels {
    margin: -6px 82px 14px;
    display: flex;
  }

  &__labels-content {
    display: flex;
    flex-flow: row wrap;
    .letter-tags {
      margin-bottom: 4px;
      margin-right: 9px;
    }
  }

  &__attachments {
    display: flex;
    flex-flow: column;

    padding: 23px 0;
    margin: 0 0 40px;

    border-top: 2px solid $menu-main-color;
    border-bottom: 2px solid $menu-main-color;
  }

  &__attachments-content {
    margin: 0 24px;
    padding: 0;
  }

  &__right-sidebar {
    float: right;
    background-color: #fff;
    position: relative;
    min-height: 100px;
    width: 291px;
    z-index: 2;

    &--banner {
      width: 160px;
    }
  }

  &__images-resolve {
    margin-right: -20px;
  }

  &__control-head {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    padding: 0 20px;

    text-align: center;
    background: white;
  }

  &__control-head-line {
    flex: 1 1 auto;

    height: 1px;

    background: rgba($silver-notific-color, .2);
  }

  &__link {
    margin: 0 4px;
    padding: 10px;

    font-size: 13px;
    font-weight: bold;
    color: $silver-notific-color;
  }

  @media only screen and (max-width: 1200px) {
    .mail-message__right-sidebar {
      width: 250px !important;
    }
  }
}
