.main-container {
  display: flex;
  flex-flow: nowrap;

  width: inherit;

  max-width: 100%;

  &__body {
    width: 100%;

    max-block-size: max-content;

    .inbox-list {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1030px){
    aside-right {
      display: none!important;
    }
  }
}