.menu-contacts {

  padding: 0 20px;

  &__head {
    position: relative;
    margin: 0 -20px 0;

  }

  &__content{
    padding: 9px 0;

  }

  &__footer{

  }

  &__hr{
    margin: 0 20px!important;
    width: inherit!important;
  }


  &__link {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;

    width: 100%;

    padding: 7px 20px;

    color: $black;
    font: 100 15px/1 $mainFont;
    cursor: pointer;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      width: 6px;

      background: $yellow-yandex;
      visibility: hidden;
    }
    &.is-active{
      background: rgba(0,0,0,.04);

      &:before{
        visibility: visible;
      }
    }

    &:hover{
      background: rgba(0,0,0,.06);

      &:before{
        visibility: visible;
      }
    }

  }

  &__item {

  }


}