.menu-settings {
  @include no-list;

  display: block;

  &__icon {
    margin-right: 8px;
  }

  &__item {
    &:nth-child(1) {
      //margin-top: 15px;
    }
    &:last-child {
      //margin-bottom: 15px;
    }
  }

  &__link {
    display: block;

    //padding: 2px 20px;
    padding: 3px 10px 4px 13px;

    color: #000;
    font-family: Arial, sans-serif;

    line-height: 24px;

    &:hover {
      background: rgba(0, 0, 0, .1);
      text-decoration: underline !important;
    }

    &--gray {
      color: rgba(0, 0, 0, .5);
    }

    &--active {
      //background: #8ea4d3 !important;
      //color: #fff;
      color: #000 !important;

      background: rgba(0, 0, 0, .06) !important;
      box-shadow: inset 4px 0 red !important;
    }

    &--open {
      &:before {
        content: "";

      }
    }

    &--not-decoration {
      text-decoration: none !important;
      &:hover {
        text-decoration: none !important;
      }
    }
  }

  &__link-choose-element {
    position: relative;

    padding-left: 10px;

    color: #669;

    &:after {
      position: absolute;
      top: -3px;
      right: -13px;

      content: "▼";
      font-size: 10px;
    }
    &:hover {
      color: $red-btn-color;
    }
  }

  &__sub {
    .menu-main__link {
      padding-left: 70px;
    }
  }

  &__counter {
    float: right;
  }

  &--tag {
    display: block;

    .menu-main__item {
      float: left;

      width: 50%;
    }

    &:after {
      @include clear;
    }
  }
}