.menu-main {
  @include no-list;
  display: block;

  &__icon {
    margin-right: 8px;
  }

  &__item {
    padding-bottom: 0 !important;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 20px 0 22px;

    color: $textBlack !important;
    font-size: 15px;
    font-family: Arial, sans-serif;

    line-height: 26px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background: rgba(0, 0, 0, .1);
      .btn--clear-brush {
        //opacity: 5!important;
        visibility: visible;
      }

      color: $textBlack !important;
    }

    .btn--clear-brush {
      display: none;
      visibility: hidden;
    }

    &:active, &:focus {
      color: $textBlack;
    }

    &--gray {
      color: rgba(0, 0, 0, .5) !important;

      &:hover {
        color: rgba(0, 0, 0, .5) !important;
      }
    }

    &--active {

      //color: #fff !important;
      color: $textBlack !important;

      //background: #8ea4d3 !important;
      background: rgba(0, 0, 0, .06) !important;
      box-shadow: inset 4px 0 red !important;
      &.is-nesting:before {
        //color: $white-color!important;
      }
      .btn--clear-brush {
        visibility: visible;
      }
    }

    &--clear-btn-active {
      .btn--clear-brush {
        display: inline-block !important;
      }
    }

  }

  &__link-caption {

  }

  &__tag {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px !important;

    max-height: 24px;
    display: flex;

    align-items: center;
    padding: 0 9px !important;
  }

  &__additional-option {
    //display: block;
    margin: auto 0 auto auto;
  }

  &__tag-minimize {
    display: none;
    padding: 0 !important;
    width: 20px;
    height: 22px;
    margin: 3px;
    border: none !important;
    box-shadow: none !important;
    &:hover {
      border: none !important;
      box-shadow: none !important;
    }

    .square {
      position: relative;

      width: 20px;
      height: 22px;
      border-radius: 3px;

      margin: 0 !important;
      overflow: hidden;
      &__text {
        position: absolute;
        top: 4px;
        left: 5px;
        color: transparent;
        font: 700 15px/1 $mainSecondFont;
        text-transform: uppercase;
        &:first-letter {
          color: $white-color;
        }
      }
    }
  }

  .is-nesting {
    &:before {
      position: absolute;
      top: -2px;
      left: 1px;

      display: flex;
      justify-content: center;
      align-items: center;

      content: "▼";
      //content: "\e907";
      //content: "\e93f";
      //font-family: 'icomoon';
      font-size: 11px;
      color: $textBlack;
      width: 26px;
      height: 26px;
      transition: transform .15s;
      transform: rotate(180deg);
    }
    &--open:before {
      transform: rotate(0deg);
      transition: transform .15s;
    }
    &--off {
      display: none;
    }

  }

  &__sub {
    .menu-main__link {
      padding-left: 65px;
    }
    .is-nesting {
      &:before {
        left: 41px;
      }
    }
  }

  &__sub-1 {
    .menu-main__link {
      padding-left: 70px;
    }
  }

  &__sub-2 {
    .menu-main__link {
      padding-left: 70px;
    }
  }

  &__sub-3 {
    .menu-main__link {
      padding-left: 70px;
    }
  }

  &__counter {
    //float: right;
    display: inline-block;
    font-size: 13px;
  }

  &--tags {
    //display: block;
    display: flex;
    flex-flow: row wrap;

    .menu-main__item {
      //float: left;
      //
      //width: 40%;
      min-width: 44%;
      //margin-left: 5px;
    }
    &:after {
      @include clear;
    }
  }
}