.navigation {
  &__row {
    display: flex;
    flex-direction: row
  }

  &__item {
    margin-right: 22px;

    font-weight: bold;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: #707275 !important;
    font-family: Verdana, sans-serif;
    text-decoration: none;

    &--active {
      color: $textBlack !important;
    }

    &--footer-a {
      font: 100 15px/1 Arial, sans-serif;
      text-transform: none;

      padding: 0 7%;

      &:hover {
        color: $yellow-lignt !important;
      }
    }

    &:hover {
      color: $textBlack !important;
    }
  }
}