.rules-settings {
  display: inline-flex;
  justify-content: space-between;

  width: inherit;
  flex-flow: column;

  &__notific {
  }

  &__rules {
    position: relative;
    width: inherit;
    display: inline-flex;
    //align-items: center;
    flex-flow: column;
    border-top: 1px solid $main-border-color;
    padding: 0 ;

    &--title {
      position: absolute;
      top: -17px;
      left: 7px;

      font: 12px/1 $mainFont;
      color: $rules-settings--title-color;
    }

  }

  &__rule {
    width: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid $main-border-color;

    padding: 15px 7px;

    .btn-group__btn {
      border: none!important;
    }

    &:hover{
      background: rgba($yellow-hard-light, .5);
      cursor: move;
      border-color: $yellow-yandex;

      .btn-group__btn {
        border: none!important;
      }
    }

    &__postpone {
      width: 10px;
      height: inherit;

      padding: 5px;

      @extend .icon-rulrs-position;
      background-position: center center;
    }
    &__description {
      display: flex;
      flex-flow: column;

      width: inherit;

      font-size: 13px;
    }
    &__name {
      font-weight: bold;
    }

    &__descript{

    }

    &__option-icons {
      min-width: 200px;

      display: inline-flex;
      align-items: center;
      justify-content: flex-end;

    }
  }

  &__head {
    width: 100%;

    display: inline-flex;
    justify-content: space-between;
    padding: 0 7px;

    margin-bottom: 15px;


  }

  &__left {

    width: 60%;
    min-width: 337px;

  }

  &__right {
    min-width: 337px;
    margin: auto 0 auto auto;
  }

  &__bl-wh-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 7px;

  }
  &__bl-wh-content {
    display: flex;
    flex-flow: column;

    justify-content: flex-start;
    //align-items: center;

    min-height: 123px;
    width: 100%;

    max-width: calc(50% - 10px);

    padding: 20px;
    margin: 10px 0;

    color: $black;

    border-radius: 10px;
    background: $white-color;

    &__title {
      font: bold 18px/1 $mainFont;
      margin-bottom: 9px;
    }

    &__text {
      display: block;
      font: 100 13px/1 $mainFont;
      margin-bottom: 14px;
    }
    &__link {
      color: $black;
      &:hover {
        color: $link-color;
      }
    }

    &--black {
      background: $bl-wh-list-color;
      color: $textWhile;
    }
    &--white {
      background: $white-color;
      border: 1px solid $main-border-color;
    }
  }


  &__nav-item {
    position: relative;
    display: block;

    color: $crumb-link-color;

    font: 100 16px/1.2 $mainFont;

    text-decoration: underline;

    margin-bottom: 8px;
    &:before {
      position: relative;
      content: "•";
      font: 600 18px/1 $mainFont;
      color: $black;
      padding-right: 20px;
      display: inline-block;
      align-items: center;
    }

  }

}