.btn {
  position: relative;
  margin: 0;
  padding: 0 15px;

  user-select: none;

  color: $textBlack;
  text-align: center;
  background-color: $white-color;

  &:hover {
    //background-color: $yellow-hard-light;
  }

  &:focus {
    outline: none !important;
    box-shadow: none;
  }

  &:active {
    background-color: $yellow-lignt;
    box-shadow: none;
  }

  &--act--y-shw:active {
    background: $yellow-yandex;
    box-shadow: $button-shadow;
  }

  &--silver-hover:hover {
    border-color: rgba(0, 0, 0, .4) !important;
    background-color: $white-color !important;
  }

  &--silver-bg-y-shw {
    &:active, &:focus {
      background: #f3f5f7 !important;

      border-color: rgba(178, 142, 0, .6) !important;

      box-shadow: $button-shadow2;
    }
  }

  &--red {
    background-color: $red-btn-color;

    color: #fff;

    border-color: $red-btn-color;

    &:hover {
      background-color: $yellow-yandex;

      border-color: $yellow-yandex;

      color: #fff;
    }

    &:active, &:focus {
      color: #fff !important;
    }
  }

  &--orange {
    background-color: $orange-btn-color;
    color: $textBlack;
    border-color: $orange-btn-color;

    &:hover {
      background-color: $yellow-yandex;
      border-color: $yellow-yandex;
      color: $textBlack;
    }

    &:active, &:focus {
      color: $textBlack !important;
    }
  }

  &--yellow {
    background-color: $yellow-normal-light;

    color: $black;

    border-color: $yellow-yandex;

    &:hover {
      background-color: $yellow-yandex;

      border-color: $yellow-yandex;

      color: $black;
    }
    &:focus {
      background-color: $yellow-yandex;
      border-color: $yellow-yandex;
      color: $black;

    }
  }

  &--border-yellow {
    border-color: $btn-border-color !important;

    &:hover {
      border-color: $btn-border-color !important;
    }
    &:focus {
      border-color: $btn-border-color !important;
    }
    &:active {
      border-color: $yellow-yandex !important;
    }
  }

  &--yellow-shadow {
    border-color: $avatar-border-color;
    color: $textBlack;

    &:hover {
      border-color: $button-border-color2;
      background-color: $white-color;
      color: $textBlack;
    }

    &:active {
      border-color: $yellow-yandex !important;
      box-shadow: $button-shadow2;
      background-color: $white-color;
    }
  }

  &--not-style {
    border: none;
    background: none;
    text-align: center;
  }

  &--not-events {
    &:hover {
      background: none !important;
    }
    &:active {
      background: none !important;
    }
  }

  &--not-border {
    border-color: transparent !important;
  }

  &--opacity {
    opacity: 0;
  }

  &--link-style {
    border: none;
    background: none;
    text-align: center;

    border-bottom: 1px dotted $notific-auth-color;
    border-radius: 0 !important;

    padding: 0;
    border-radius: 0;

    width: auto !important;
    height: auto !important;

    margin: 16px auto 0px;
    display: inherit;

    color: $notific-auth-color;
    &:hover {
      background: none;
    }
  }

  &--normal {
    border: 1px solid $avatar-border-color;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    background: $white-color;
    -webkit-tap-highlight-color: $black;
    &:hover {
      background-color: $yellow-hard-light;
      border-color: $yellow-hard-light;
    }

    &:disabled {
      background: $white-color;
      color: $textBlack;
      &:hover {
        background: $white-color;
        border-color: $avatar-border-color;
        color: $textBlack;
      }
    }
  }

  &--hover-border:hover {
    background-color: $white-color;
    border-color: rgba(0, 0, 0, .4);
  }

  &--s-gradient {
    background: $btn-gradient;

  }

  &__icon {
    &--opahover {
      opacity: .7;

      &:hover {
        opacity: 1;
        background-color: inherit;
      }

      &:focus, &:active {
        background-color: inherit;
      }
    }

    &--edit {
      @extend .icon-edit-pencil;
      background-color: $white-color;
      &:focus, &:active {
        @extend .icon-edit-pencil;
      }

    }

    &--remove {
      @extend .icon-remove;
      background-color: $white-color;
      &:focus, &:active {
        @extend .icon-remove;
      }
    }

  }

  &--circle {
    border-radius: 50%;
  }

  &--attach {
    position: relative;
    overflow: hidden;
    padding: 0 12px;
    z-index: 1;
    cursor: pointer;

    &__elm-hide {
      position: absolute;

      cursor: pointer;
      filter: alpha(opacity=1);
      -moz-opacity: 0.01;
      opacity: 0.01;
      right: 0;
      top: 0;
    }
  }

  &--clear-brush {
    opacity: .5;
    &:focus {
      outline: none !important;
    }
    &:hover {
      opacity: 1;
    }

  }

  &--size_xs {
    height: 24px;
    font-size: 12px;
    line-height: 10px;
  }

  &--size_s {
    height: 26px;
    font-size: 13px;
    line-height: 12px;
  }

  &--size_sm {
    height: 28px;
    font-size: 13px;
    line-height: 12px;
  }

  &--size_m {
    height: 30px;
    font-size: 14px;
    line-height: 16px;
  }

  &--size_ml {
    height: 30px;
    font-size: 15px;
    line-height: 16px;
  }

  &--size_l {
    height: 32px;
    font-size: 15px;
    line-height: 18px;
  }

  &--search {
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px !important;
    margin-left: -1px;

    @include border-radius(0 3px 3px 0);

    border-left: 1px solid #fff !important;
    &:before {
      content: "";
      width: 15px;
      height: 15px;
      @extend .icon-search;
      background-position: center center;
      background-size: contain;
    }

    &:focus {
      background: $white-color !important;
    }

    &:hover {
      border-color: rgba(0, 0, 0, .3) !important;
      border-left: 1px solid #fff !important;
    }
    &:active {
      background: rgba(0, 0, 0, .05) !important;
    }
  }

  &--close {
    position: absolute;

    border-radius: 50%;
    top: 5px;
    right: 5px;

    width: 22px;
    height: 22px;

    font-size: 20px;

    cursor: pointer;
    text-align: center;
    line-height: 22px;

    background: transparent;

    border: 1px solid #FFF;

    color: transparent;

    z-index: 999;

    outline: none !important;

    &:focus {
      outline: none !important;
    }
    &:hover {
      &:before {
        color: rgba($textBlack, 1);
      }
    }
    &:before {
      font-family: 'icomoon' !important;
      color: rgba($textBlack, .25);
      font-size: 14px;
      content: '\e923';
    }
  }

  &--closer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    //display: none;
    padding: 0 !important;
  }

  &--compose {
    border: 1px solid #c9c9c9;
    background-color: $white-color;
  }

  &--page-up {

    //position: sticky;
    //top: calc(50% - 20px);
    //left: -35px;
    //left: -50px;
    //position: fixed;
    //
    //top: 14px;
    //right: 0;

    left: -50px;

    margin-right: 0;
    //margin-right: 8px;

    opacity: 0;

    visibility: hidden;

    width: 40px !important;
    height: 40px !important;

    padding: 0;

    border-radius: 50%;

    background: #fff !important;

    color: #000;

    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    transition: all .6s;

    &--active {
      //position: absolute;
      //top: 14px;
      //left: 202px;

      margin: auto;
      opacity: 1;

      visibility: visible;
    }

    &:hover {
      color: $yellow-yandex;

    }
    &:active {
      transform: scale(1.1);
      transition: transform .4s;
    }
  }
}

.ok-validates {
  position: relative;
  color: $validtae-ok-green;;
  font: 13px/1 $mainFont;

  padding: 0 15px 0 35px;
  &:before {
    content: '';

    width: 20px;
    height: 20px;

    position: absolute;
    left: 10px;

    @extend .icon-valide-ok;
  }

}

.remove-data-input {
  position: absolute;
  top: 0;
  right: 0;

  background: $yellow-normal-light;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  z-index: 5;
  cursor: pointer;
  transform: translateX(0);
  transition: transform .7s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -14px;

    width: 0;
    height: 0;

    border-top: 12px solid transparent;
    border-right: 14px solid $yellow-normal-light;
    border-bottom: 12px solid transparent;
  }
  &__icon {
    width: 11px;
    height: 11px;
  }
  &:hover {
    cursor: pointer;

    background: $yellow-yandex;
    transform: translateX(3px);
    transition: transform .7s;

    &:before {
      border-right-color: $yellow-yandex;

    }

  }
  &--small {

    width: 14px;
    height: 14px;

    &:before {
      left: -8px;
      border-top: 7px solid transparent;
      border-right: 8px solid #ffdb4d;
      border-bottom: 7px solid transparent;

    }

    .remove-data-input__icon {
      width: 7px;
      height: 7px;

      font-size: 7px;
      color: $textBlack;
    }
  }

}

.view-pass {
  @extend .icon-view-pass;
  opacity: .5;
  cursor: pointer;

  &:hover {
    @extend .icon-view-pass;
    opacity: 1;
  }
  &:active {
    background-color: transparent;
  }
}
