.hr {
  margin: 0;

  width: 100%;
  height: 1px;
  background-color: $hr-main-color;

  outline: none;
  border: none;

  //border-top-width: 1px;
  //border-top-color: rgba(0,0,0,.1);
  //border-bottom: none;
  //border-left: none;
  //border-right: none;

  &--top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    margin: 0;
  }

  &--bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    margin: 0;
  }

  &--dashed {
    border: none;
    border-bottom: 1px dotted $hr-main-color;

  }

  &--dotted {
    border: none;
    border-bottom: 1px dotted $black;
    background-color: transparent!important;
  }

  &--auth{
    background: $hr-auth-color;
    margin-bottom: 19px;
  }


}