.popup {
  .modal-content {
    @include border-radius(0!important);

    padding: 10px 15px 15px;
  }

  &--tag-create {
    .modal-dialog {
      width: 432px;
    }
  }

  &--folder-create {
    .modal-dialog {
      width: 432px;
    }
  }

  &--contact-group-create {
    .modal-dialog {
      width: 432px;
    }
  }

  &--contact-group-add {
    .modal-dialog {
      width: 800px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--contact-import-file {
    .modal-dialog {
      width: 400px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--contact-add {
    .modal-dialog {
      width: 640px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--contact-restore {
    .modal-dialog {
      width: 440px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--avatar-upload {
    .modal-dialog {
      width: 628px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &--password-change {
    .modal-dialog {
      width: 432px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &--email-change {
    .modal-dialog {
      width: 432px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &--phone-change {
    .modal-dialog {
      width: 432px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &__close {
    @include border-radius(50%);

    position: absolute;

    top: 5px;
    right: 5px;

    display: block;

    width: 22px;
    height: 22px;

    font-size: 20px;

    cursor: pointer;

    //margin: -5px -10px 0 -5px;

    text-align: center;
    line-height: 22px;

    background: #FFF;

    border: 1px solid #FFF;

    color: #999;

    &:hover {
      border-color: #CCC;
    }
  }
}