.popup {
  display: flex!important;
  padding: 30px!important;
  .modal-dialog{
    margin: auto!important;
    position: relative;
    &:before{
      content: "";
      position: relative;
      height: 100%;
      width: 30px;
      background: red;

    }
  }


  .modal-content {
    @include border-radius(0!important);

    padding: 10px 15px 15px;
    //margin: 30px 0 !important;
  }

  &--tag-create {
    .modal-dialog {
      width: 432px;
    }
  }

  &--folder-create {
    .modal-dialog {
      width: 432px;
    }
  }

  &--contact-group-create {
    .modal-dialog {
      width: 432px;
    }
  }

  &--contact-group-add {
    .modal-dialog {
      width: 800px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--contact-import-file {
    .modal-dialog {
      width: 400px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--contact-add {
    .modal-dialog {
      width: 640px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--contact-restore {
    .modal-dialog {
      width: 440px;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--avatar-upload {
    .modal-dialog {
      width: 628px;
      min-width: 628px;
      overflow: hidden;
    }

    .modal-content {
      padding: 0;
    }
  }

  &--password-change {
    .modal-dialog {
      width: 432px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &--email-change {
    .modal-dialog {
      width: 432px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &--phone-change {
    .modal-dialog {
      width: 432px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &--storage {
    .modal-dialog {
      width: 1200px;

      margin: 0 auto;
    }
  }
  &__close {
    @include border-radius(50%);

    position: absolute;

    top: 5px;
    right: 5px;

    display: block;

    width: 22px;
    height: 22px;

    font-size: 20px;

    cursor: pointer;

    //margin: -5px -10px 0 -5px;

    text-align: center;
    line-height: 22px;

    background: transparent;

    border: 1px solid #FFF;

    color: transparent;

    z-index: 999;

    &:hover{
      &:before {
        color: rgba($textBlack, 1);
      }
    }
    &:before{
      font-family: 'icomoon' !important;

      color: rgba($textBlack, .25);
      font-size: 14px;

      content: '\e923';


    }
  }

  &--alert {
    .modal-dialog {
      width: 432px;
    }

    .modal-content {
      padding: 30px;
    }
  }

  &--compose {
    .modal-dialog {
      width: 100%;
      margin: 0 !important;
    }

    .modal-content {
      padding: 0!important;
      height: 100%;
    }
  }

  &--compose-mini {
    position: fixed!important;

    width: 580px!important;
    //max-width: 800px!important;
    //min-width: 580px!important;

    height: auto;
    min-height: 400px;
    max-height: 766px;

    right: 0;
    bottom: 0;
    left: auto !important;
    top: auto !important;

    padding: 0 !important;

    .popup__compose-minimized-button{
      @extend .icon-compose-max;
    }

    .popup__compose-roll-up-button{

    }
  }
  &--compose-minimized{
    position: fixed!important;
    right: 0 !important;
    bottom: 0 !important;
    left: auto !important;
    top: auto !important;

    width: 350px!important;
    height: 50px!important;
    padding: 0!important;

    background-color: $compose-minimized-bg-color!important;

    .modal-content {
      background-color: transparent!important;
      box-shadow: none!important;

      .compose{
        display: none!important;
      }
    }

    .popup__compose-title{
      display: inline-flex;
    }

    .popup__compose-control-button{
      top: 13px;
    }

    .popup__compose-button{
      color: $white-color!important;
      opacity: 0.6;
    }

  }

  &__compose-title{
    display: none;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    padding: 6px 75px 6px 14px;

    color: $white-color!important;
    font: bold 15px/1 $mainFont;
    letter-spacing: -0.02em;
    text-overflow: ellipsis;
    white-space: nowrap;


  }

  &__compose-control-button{
    display: inline-flex;

    position: absolute;
    right: 10px;
    top: 29px;
  }

  &__compose-button{
    width: 22px!important;
    height: 22px!important;
    padding: 0;
    color: #b3b3b3;

    font-family: 'icomoon';

    font-size: 12px;
    line-height: 1;

    border-radius: 2px;
    outline: none;

    &:hover, &:active{
      outline: none;
      color: $white-color;
      background-color: #b3b3b3;
      opacity: 1!important;
    }

  }

  &__compose-close-button{

  }

  &__compose-minimize-button{
    @extend .icon-compose-minimize;
    //@extend .icon-compose-max;
  }

  &__compose-roll-up-button{
    //@extend .icon-compose-minimize-up;
    @extend .icon-compose-minimize-down;
  }






}

.modal-open {
  overflow: auto!important;
}