.radiobutton{

  color: $black;
  display: inline-flex;
  align-items: center;

 &__input{
    display:none;
  }

  &__chek{
    display: inline-flex;
    justify-content: center;

    border: 1px solid $radibutton-border-color;
    border-radius: 50%;
    background: $radibutton-border-color;

    min-height: 14px;
    min-width: 14px;

    margin:auto 10px auto 0;
    background :#fff;
    cursor:pointer;
    z-index: 1;

    &--cheked{
      position: relative;
      margin: auto;
      border-radius: 50px;
      z-index: 2;
      background-color: $black!important;
      border: none!important;
      width: 6px;
      height: 6px;
      opacity: 0;
    }
  }
  &__input:checked  + &__label  &__chek{
    background: $yellow-hard-light;
    border-color: $radiobutton-border-cheked-color;

    &--cheked{
      opacity: 1;
    }
  }

  &__label{
    display: inline-flex;
    align-items: center;

    &__text{
      font: 13px/1 $mainFont;
    }

  }

  &--size13{
    &__input + &__chek{
      width: 13px;
      height: 13px;
      min-height: 13px;
      min-width: 13px;
    }

    &__label{

    }

    font: 13px/1 $mainFont;
  }
}