<div class="password-change">
    <div class="password-change__title">Сменить пароль</div>
    <div class="mrg__top15">

        <form name="passwordForm" ng-submit="vm.changePassword(passwordForm)" novalidate>
            <div class="password-change__input mrg__top15">
                <div class="mrg__right10">
                    <span class="font__size13">Текущий пароль</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           type="password"
                           name="old_password"
                           ng-model="vm.passwordForm.model.old_password"
                           required>
                </div>
            </div>

            <div class="password-change__input mrg__top15">
                <div class="mrg__right10">
                    <span class="font__size13">Новый пароль</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           type="password"
                           name="new_password"
                           ng-model="vm.passwordForm.model.new_password"
                           required>
                </div>
            </div>

            <div class="password-change__input mrg__top15">
                <div class="mrg__right10">
                    <span class="font__size13">Повторить пароль</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           type="password"
                           name="new_password"
                           ng-model="vm.passwordForm.model.new_password"
                           required>
                </div>
            </div>

            <!--Server error-->
            <div>{{ vm.error }}</div>

            <div class="password-change__btn mrg__top40">
                <button class="btn-y btn-y--border" type="submit">Сохранять</button>
                <button class="btn-y btn-y--border" type="button" ng-click="vm.close()">Отменить</button>
            </div>
        </form>

    </div>
</div>