<div class="password-change ">

    <div class="password-change__header">
        <span class="password-change__title">ИЗМЕНЕНИЕ ПАРОЛЯ</span>
    </div>

    <div class="password-change__content">
        <form name="passwordForm" ng-submit="vm.changePassword(passwordForm)" novalidate>


            <div class="password-change__field-input mrg__top15">
                <div class="password-change__caption-input mrg__right10">
                    <span class="font__size13">Новый пароль</span>
                </div>
                <div class="position">
                    <input class="input input--size_s width--size220 input--fc-sh-yellow"
                           type="password"
                           name="new_password"
                           ng-model="vm.passwordForm.model.new_password"
                           required>
                    <div class="password-change__view btn btn--not-style btn--size_l btn--view-pass"></div>
                </div>
            </div>

            <div class="password-change__field-input mrg__top15 mrg__bottom25">
                <div class="password-change__caption-input mrg__right10" class="position">
                    <span class="font__size13">Повторить пароль</span>
                </div>
                <div>
                    <input class="input input--size_s width--size220 input--fc-sh-yellow"
                           type="password"
                           name="new_password_conf"
                           ng-model="vm.passwordForm.model.new_password_conf"
                           required>
                </div>
            </div>

            <!--Server error-->
            <div>{{ vm.error }}</div>

            <div class="password-change__footer position ">
                <hr class="hr hr--top">

                <button class="btn btn--normal btn--size_l width--size168 mrg__right16" type="button" ng-click="vm.close()">{{ 'CANCEL' | translate }}</button>
                <button class="btn  btn--yellow btn--size_l width--size168" type="submit">
                    {{ 'SAVES' | translate }}</button>

            </div>

        </form>

    </div>

</div>