<div class="aside-right">
    <div class="aside-right__header"></div>

    <div class="banner-block banner-block--size160x600 banner-block--view-caption" banner-block-caption=" {{ 'BANNER_BLOCK_CAPTION' | translate }}">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- My.mail.cz 160x600 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:160px;height:600px"
             data-ad-client="ca-pub-7169913763254428"
             data-ad-slot="9800681361"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <!--<adsense ad-client="a-pub-7169913763254428"-->
                 <!--ad-slot="6851262006"-->
                 <!--inline-style="display:inline-block;width:160px;height:600px"-->
                 <!--ad-format="auto">-->
        <!--</adsense>-->
    </div>
</div>