<div class="rules-settings__bl-wh-content__title">Черный список</div>

<span class="rules-settings__bl-wh-content__text">
    Вся почта с адресов, занесённых в чёрный список, не будет поступать в ваш почтовый ящик.
</span>

<form name="form" ng-submit="vm.add()" novalidate>
    <div class="form__field-item mrg__bottom0">
        <div class="field-style flex--inline">

            <input class="input input--size_xs input--up-shadow width--inh input--bg-white mrg__right7 border--cl-bl-silver"
                   type="email"
                   name="email"
                   ng-mode="vm.form.model.email"
                   placeholder="Укажите e-mail адрес"
                   required>
            <button class="btn btn--normal btn--size_xs width--size150 border--cl-bl-silver"
                    type="button">
                Добавить
            </button>

        </div>
    </div>
</form>

