<div class="template-list">
    <div class="template-list__is-not-templates" ng-if="!vm.messages.items.length && !vm.messages.isLoading">
        <div class="padding--left12 padding--right12">
            {{ 'TEMPLATE_LIST_TEXT' | translate }}.
        </div>
        <div class="template-list__save-button">
            <button class="btn btn--normal btn--silver-hover btn--size_xs btn--silver-bg-y-shw"
                    type="button"
                    ng-click="vm.save()">
                {{ 'BTN_CREATE_TEMPLATE' | translate }}
            </button>
        </div>
    </div>

    <div class="template-list__there-is-templates" ng-if="vm.messages.items.length && !vm.messages.isLoading">
        <ul class="template-list__mail-template-list">
            <li class="template-list__mail-template-list-item" ng-repeat="message in vm.messages.items"
                ng-click="vm.openTemplateComposePopup(message)">
                <a class="template-list__link"
                   style="display: block"
                   href>
                    <span class="template-list__template-name">{{ message.Subject || 'Без темы' }}</span>
                </a>
            </li>
        </ul>

        <hr class="hr">

        <div class="template-list__mail-template-list-item"
             type="button"
             ng-click="vm.openTemplateComposePopup()">
            {{ 'NEW_TEMPLATE' | translate }}…
        </div>

        <hr class="hr">

        <div class="template-list__save-button">
            <button class="btn btn--normal btn--silver-hover btn--size_xs btn--silver-bg-y-shw"
                    type="button"
                    ng-click="vm.save()">{{ 'SAVE_TEMPLATE' | translate }}
            </button>
        </div>
    </div>
</div>