
<div class="phone-change" >

    <div class="phone-change__header">
        <span class="phone-change__title">{{ 'CHANGE_PHONE' | translate }}</span>
    </div>

    <div class="phone-change__content">
        <form name="phoneForm" ng-submit="vm.changePhone(phoneForm)" novalidate>
            <div class="phone-change__input">
                <div class="phone-change__field-input">
                    <div class="phone-change__caption-input mrg--r10">
                        <span class="font--size13">{{ 'NEW_PHONE' | translate }}</span>
                    </div>
                    <div>
                        <input class="input input--size_s width--size220 input--fc-sh-yellow"
                               type="text"
                               name="phone"
                               ng-model="vm.phoneForm.model.phone"
                               ui-mask-placeholder
                               ui-mask-placeholder-char="x"
                               ui-mask="+999 999-999-999"
                               required>
                    </div>
                </div>
            </div>

            <!--Server error-->
            <div>{{ vm.error }}</div>

            <div class="phone-change__footer position ">
                <hr class="hr hr--top">
                <button class="btn btn--normal btn--size_l width--size168 mrg--r16" type="button" ng-click="vm.close()">{{ 'CANCEL' | translate }}</button>
                <button class="btn btn--yellow btn--size_l width--size168" type="submit">{{ 'BTN_CHANGE' | translate }}
                </button>
            </div>
        </form>

    </div>

</div>