<div class="tag-list-popup">
    <div class="tag-list-popup__body">
        <!--Пока что скрываем-->
        <input class="tag-list-popup__search input input--size_s input--fc-sh-yellow" type="text" ng-model="vm.search">
    </div>

    <div class="tag-list-popup-popup__links">
        <a class="tag-list-popup__link tag-list-popup__link--underline tag-list-popup__link--unread" href
           ng-click="vm.setSeen()">
            <span class="tag-list-popup__name">Прочитано</span>
        </a>
        <a class="tag-list-popup__link tag-list-popup__link--underline tag-list-popup__link--unread" href
           ng-click="vm.setUnSeen()">
            <span class="tag-list-popup__name">Не прочитано</span>
        </a>
        <a class="tag-list-popup__link" href ng-click="vm.setImportant()">
            <span class="tag-list-popup__name tag-list-popup__name--important">
                Важные
            </span>
        </a>
        <a class="tag-list-popup__link" href
           ng-repeat="tag in vm.tags.items | filter: vm.search"
           ng-click="vm.setTag(tag)">
            <span class="tag-list-popup__first-letter"
                  style="background-color: {{ tag.bgcolor }}; color: {{ tag.color }};">
                {{ tag.tag_name[0] }}
            </span>
            <span class="tag-list-popup__name">
                {{ tag.tag_name.slice(1); }}
            </span>
        </a>
    </div>

    <hr class="hr">

    <div class="tag-list-popup__header">
        Снять метки:
    </div>

    <div class="tag-list-popup__links">
        <a class="tag-list-popup__link" href
           ng-repeat="tag in vm.unTags.items | filter: vm.search"
           ng-click="vm.setUnTag(tag)">
            <span class="tag-list-popup__first-letter"
                  style="background-color: {{ tag.bgcolor }}; color: {{ tag.color }};">
                {{ tag.tag_name[0] }}
            </span>
            <span class="tag-list-popup__name">
                {{ tag.tag_name.slice(1); }}
            </span>
        </a>
    </div>

    <hr class="hr">

    <div>
        <a class="tag-list-popup__link" href ng-click="vm.openTagCreatePopup()">
            <span class="tag-list-popup__name">Новая метка..</span>
        </a>
    </div>

</div>