<div class="tag-list">
    <div class="tag-list__body">
        <!--Пока что скрываем-->
        <!--<input type="text">-->
    </div>

    <div class="tag-list__links">
        <a class="tag-list__link tag-list__link--underline tag-list__link--unread" href
           ng-click="vm.setSeen()">
            <span class="tag-list__name">Прочитано</span>
        </a>
        <a class="tag-list__link tag-list__link--underline tag-list__link--unread" href
           ng-click="vm.setUnSeen()">
            <span class="tag-list__name">Не прочитано</span>
        </a>
        <a class="tag-list__link" href ng-click="vm.setImportant()">
            <span class="tag-list__name tag-list__name--important">
                Важные
            </span>
        </a>
        <a class="tag-list__link" href
           ng-repeat="tag in vm.tags.items"
           ng-click="vm.setTag(tag)">
            <span class="tag-list__first-letter"
                  style="background-color: {{ tag.bgcolor }}; color: {{ tag.color }};">
                {{ tag.tag_name[0] }}
            </span>
            <span class="tag-list__name">
                {{ tag.tag_name.slice(1); }}
            </span>
        </a>
    </div>

    <hr class="hr">

    <div class="tag-list__header">
        Снять метки:
    </div>

    <div class="tag-list__links">
        <a class="tag-list__link" href
           ng-repeat="tag in vm.unTags.items"
           ng-click="vm.setUnTag(tag)">
            <span class="tag-list__first-letter"
                  style="background-color: {{ tag.bgcolor }}; color: {{ tag.color }};">
                {{ tag.tag_name[0] }}
            </span>
            <span class="tag-list__name">
                {{ tag.tag_name.slice(1); }}
            </span>
        </a>
    </div>

    <hr class="hr">

    <div>
        <a class="tag-list__link" href ng-click="vm.openTagCreatePopup()">
            <span class="tag-list__name">Новая метка..</span>
        </a>
    </div>

</div>