<div class="sign-create">
    <div class="sign-create__title">{{ 'ADD_SIGNATURE' | translate }}</div>
    <div class="mrg--t15">
        <form name="form" ng-submit="vm.create(form)" novalidate>
            <div>
                <div class="textarea textarea--normal width--inh"
                     contenteditable="true"
                     convert-new-lines="false"
                     name="sign"
                     ng-model="vm.form.model.sign">
                </div>
            </div>
            <div class="sign-create__btn mrg__top40">
                <button class="btn-y btn-y--border" type="submit">{{ 'SAVE' | translate }}</button>
                <button class="btn-y btn-y--border" type="button" ng-click="vm.close()">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>