<div class="layout__bread-crumbs mrg__bottom15">

    <div class="bread-crumbs font-sizer--bigger-20">
        <a class="bread-crumbs__item" ui-sref="mail.inbox" >{{ 'MAIL' | translate }}</a>
        <a class="bread-crumbs__item" ui-sref="settings.main">{{ 'ALL_SETTING' | translate }}</a>
        <a class="bread-crumbs__item bread-crumbs--active">{{ 'MAILS_FROM_OTHER_BOXES' | translate }}</a>
    </div>

</div>

<article class="layout-settings">

    <section class="layout-settings__row mrg__left">

        <!-- Почта с других ящиков -->
        <div class="accounts-settings">

            <!-- Верхняя часть-->
            <div class="accounts-settings__head">

                <div class="accounts-settings__notific notific--layout">
                    {{ 'SETTINGS_ACCOUNTS_MESSAGE_OTHER_MAILS' | translate }}.
                </div>

            </div>

            <!-- Основная часть-->
            <div class="accounts-settings__content">

                <div class="accounts-settings__list mrg__top20">
                    <div class="main-title-text">{{ 'CONNECTED_BOXES' | translate }}</div>
                    <div class="accounts-settings__items">

                        <!--  Аккаунт 1-->
                        <div class="accounts-settings__item" ng-repeat="account in vm.accounts.items">
                            <span class="accounts-settings__item--name-mail">{{ account.email }}</span>
                            <form class="option-icons just-content--f-en">
                                <!-- Переключатель -->
                                <div class="radiobutton mrg__right16">
                                    <div class="radiobutton radiobutton__switch radiobutton--size72x28">
                                        <input class="radiobutton__switch__input" type="radio" name="toggle"
                                               ng-checked="{{ account.enable }}"
                                               ng-value="1"
                                               ng-model="account.enable"
                                               ng-change="vm.enableTrigger(account)">
                                        <input class="radiobutton__switch__input" type="radio" name="toggle"
                                               ng-checked="{{ account.enable }}"
                                               ng-value="0"
                                               ng-model="account.enable"
                                               ng-change="vm.enableTrigger(account)">
                                        <span class="radiobutton__switch__on-off"></span>
                                    </div>
                                </div>
                                <!-- Редактирование записи -->
                                <!--<button class="btn-group__btn btn btn&#45;&#45;size_s width&#45;&#45;size28 btn__icon&#45;&#45;opahover btn__icon&#45;&#45;edit"-->
                                <!--type="button"></button>-->
                                <!-- Удалить -->
                                <button class="btn-group__btn btn btn--size_s width--size28 btn__icon--opahover btn__icon--remove"
                                        type="button"
                                        ng-click="vm.destroy(account)"></button>
                            </form>
                        </div>
                    </div>


                    <div class="notific--layout-light mrg__top20">
                        {{ 'CONNECTED_SUCCESS_COLLECTION_OF_MAILS' | translate }}.
                    </div>
                </div>

                <form class="accountForm" ng-submit="vm.create(accountForm)">
                    <div>
                        <div class="accounts-settings__pick-up-mail">

                            <div class="main-title-text">{{ 'COLLECTION_OF_MAIL' | translate }}</div>

                            <div class="form__field-item form__field-item--flex-start mrg__bottom10">

                                <!-- Имя почты-->
                                <div class="field-style flex--inline align-items--cn just-content--sp-btw mrg__bottom6">
                                    <label class="field-style__title font__size13">{{ 'MAIL' | translate }}</label>
                                    <input class="input input--size_l input--up-shadow width--size328"
                                           type="email"
                                           name="email"
                                           ng-model="vm.accountForm.model.email"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_EMAIL' | translate }}"
                                           required>
                                </div>

                                <!-- Пароль-->
                                <div class="field-style flex--inline align-items--cn just-content--sp-btw mrg__bottom6">
                                    <label class="field-style__title font__size13">{{ 'INPUT_PLACEHOLDER_PASSWORD' | translate }}</label>
                                    <input class="input input--size_l input--up-shadow width--size328"
                                           type="password"
                                           name="password"
                                           ng-model="vm.accountForm.model.password"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_PASSWORD' | translate }}"
                                           required>
                                </div>

                                <div class="field-style flex--inline align-items--cn just-content--sp-btw mrg__bottom6">
                                    <label class="field-style__title font__size13">{{ 'INPUT_PLACEHOLDER_LOGIN' | translate }}</label>
                                    <input class="input input--size_l input--up-shadow width--size328"
                                           type="text"
                                           name="login"
                                           ng-model="vm.accountForm.model.login"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_LOGIN' | translate }}"
                                           required>
                                </div>

                                <div class="field-style flex--inline align-items--cn just-content--sp-btw mrg__bottom6">
                                    <label class="field-style__title font__size13">Сервер</label>
                                    <input class="input input--size_l input--up-shadow width--size328"
                                           type="text"
                                           name="server"
                                           ng-model="vm.accountForm.model.server"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_SERVER_ADDRESS' | translate }}"
                                           required>
                                </div>

                                <div class="field-style flex--inline align-items--cn just-content--sp-btw mrg__bottom6">
                                    <label class="field-style__title font__size13">Порт</label>
                                    <input class="input input--size_l input--up-shadow width--size328"
                                           type="text"
                                           name="port"
                                           ng-model="vm.accountForm.model.port"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_PORT' | translate }}"
                                           required>
                                </div>
                            </div>

                            <div class="color--red">{{ vm.error.message }}</div>

                        </div>

                    </div>
                    <!-- Нижняя часть-->
                    <div class="accounts-settings__footer">

                        <button class="btn btn--yellow width--auto btn--size_sm">{{ 'ENABLED_COLLECTOR' | translate }}</button>

                    </div>

                </form>
            </div>
        </div>

    </section>

</article>