<div class="tags-settings">
    <div class="tags-settings__title main-title-text">
        {{ 'FOLDERS' | translate }}
    </div>
    <div class="tags-settings__content">
        <div class="tags-settings__fields">
            <div ng-repeat="folder in vm.folders.items">
                <div class="tags-settings__item mrg__bottom5"
                     ng-class="{'tags-settings__item--active': folder.isSelected}"
                     ng-click="vm.select(folder)"
                     ng-if="!folder.isSub">
                    <div class="tags-settings__title">{{ folder.name | translate }}</div>
                    <div class="tags-settings__values">{{ folder.messagesCount }}</div>
                </div>
                <div class="tags-settings__item tags-settings__attach mrg__bottom5"
                     ng-repeat="subFolder in vm.folders.items"
                     ng-class="{'tags-settings__item--active': subFolder.isSelected}"
                     ng-click="vm.select(subFolder)"
                     ng-if="subFolder.isSub && (folder.name === 'INBOX' && subFolder.name !== 'Templates') || (folder.name === 'Drafts' && subFolder.name === 'Templates')">
                    <div class="tags-settings__item mrg__bottom5">
                        <div class="tags-settings__title">{{ subFolder.name | translate }}</div>
                        <div class="tags-settings__values">{{ subFolder.messagesCount }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tags-settings__control">
            <div class="mrg__top">
                <button class="btn btn--normal btn--size_sm width--size150 mrg__bottom4"
                        ng-click="vm.openFolderCreatePopup()">{{ 'NEW_FOLDER' | translate }}
                </button>
                <button class="btn btn--normal btn--size_sm width--size150 mrg__bottom4"
                        ng-disabled="!vm.selected.isSub || vm.selected.name === 'Archive'"
                        ng-click="vm.openFolderEditPopup()">{{ 'RENAME' | translate }}
                </button>
                <button class="btn btn--normal btn--size_sm width--size150 mrg__bottom4"
                        ng-disabled="!vm.selected.name"
                        ng-click="vm.openFolderClearConfirmPopup()">{{ 'CLEAR' | translate }}
                </button>
                <button class="btn btn--normal btn--size_sm width--size150 mrg__bottom4"
                        ng-disabled="!vm.selected.name"
                        ui-sref="settings.ruleAdd({folder: vm.selected.name })">
                    {{ 'CREATE_RULE' | translate }}
                </button>

                <!--<p class="mrg__top10 color&#45;&#45;gray">
                    Пометить все письма в папка
                    <a class="link link&#45;&#45;black link&#45;&#45;dotted"
                       href
                       ng-click="vm.setSeen()">как прочитанные</a>
                </p>-->
            </div>
        </div>
    </div>
    <div class="form__field-item"></div>
</div>
