<div class="layout__bread-crumbs mrg__bottom15">
    <div class="bread-crumbs font-sizer--bigger-20">
        <a class="bread-crumbs__item" ui-sref="mail.inbox">Почта</a>
        <a class="bread-crumbs__item" ui-sref="settings.main">Все настройки</a>
        <a class="bread-crumbs__item" ui-sref="settings.rules">Правила обработки</a>
        <a class="bread-crumbs__item bread-crumbs--active" ui-sref="settings.ruleAdd">Создать правило</a>
    </div>
</div>

<article class="layout-settings width--inh">
    <section class="layout-settings__col mrg__left">
        <!-- Создание правила -->
        <div class="rule-add">
            <div class="form">

                <div class="rule-add__item mrg__bottom20">
                    <div class="field-style flex--inline just-content--sp-btw align-items--cn mrg__bottom8">
                        <span class="font__size13">Название</span>
                        <input class="input input--size_xs width--size527 input--bg-white input--fc-sh-yellow"
                               type="text"
                               name="name"
                               placeholder="Укажите название правила"
                               ng-model="vm.sieveForm.model.name"
                               required>
                    </div>

                    <div class="field-style flex--inline just-content--sp-btw align-items--cn mrg__bottom8">
                        <span class="font__size13">Применять</span>
                        <div class="flex--inline just-content--sp-btw align-items--cn width--all width--max527">
                            <ui-select ng-model="vm.sieveForm.model.spam_accept"
                                       class="select-list select-list--size_xs select-list--not-border-of-sides mrg__right6 "
                                       theme="select2"
                                       search-enabled="false">
                                <ui-select-match class="select-list__body select-list--size_xs width--inh"
                                                 placeholder="ко всем письмам, кроме спама">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.spamAccept.list" value="{{ $select.selected.value }}">
                                    <div ng-bind-html="item.name"></div>
                                </ui-select-choices>
                            </ui-select>

                            <ui-select ng-model="vm.sieveForm.model.attachment_accept"
                                       class="select-list select-list--size_xs select-list--not-border-of-sides"
                                       theme="select2"
                                       search-enabled="false">
                                <ui-select-match
                                        class="select-list__body select-list--size_xs width--inh"
                                        placeholder="c вложениями и без вложений">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.attachmentAccept.list" value="{{ $select.selected.value }}">
                                    <div ng-bind-html="item.name"></div>
                                </ui-select-choices>
                            </ui-select>

                        </div>

                    </div>

                </div>

                <div class="rule-add__item mrg__bottom20">
                    <div class="rule-add__item-title">Если</div>

                    <div class="rule-add__condition">
                        <div class="rule-add__condition-item" ng-repeat="rule in vm.sieveForm.model.sieveRules">
                            <div class="field-style flex--inline just-content--sp-btw align-items--cn mrg__bottom8">

                                <ui-select ng-model="rule.type"
                                           class="select-list select-list--size_xs select-list--not-border-of-sides mrg__right6 width--size80"
                                           theme="select2"
                                           search-enabled="false">
                                    <ui-select-match class="select-list__body select-list--size_xs width--inh"
                                                     placeholder="От кого">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.sieveRules.list" value="{{ $select.selected.value }}">
                                        <div ng-bind-html="item.name"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <ui-select ng-model="rule.compare_type"
                                           class="select-list select-list--size_xs select-list--not-border-of-sides width--size108 mrg__right6"
                                           theme="select2"
                                           search-enabled="false">
                                    <ui-select-match
                                            class="select-list__body select-list--size_xs width--inh"
                                            placeholder="совпадает с">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.compareTypes.list"  value="{{ $select.selected.value }}">
                                        <div ng-bind-html="item.name"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <input class="input input--size_xs width--inh input--bg-white input--fc-sh-yellow"
                                       type="text"
                                       ng-model="rule.value"
                                       placeholder="Укажите название правила"
                                       required>
                            </div>
                            <button class="rule-add__condition-remove btn btn--not-style btn--not-events btn--remove icon-close-thin"
                                    type="button" ng-click="vm.removeRule(rule)"></button>
                        </div>
                    </div>

                    <button class="btn btn--normal btn--size_xs width--size131 border--cl-bl-silver"
                            type="button"
                            ng-click="vm.addRule()">
                        Добавить условие
                    </button>
                </div>

                <div class="rule-add__item mrg__bottom20">
                    <div class="rule-add__item-title">Выполнить действие</div>

                    {{ vm.sieveForm.model.sieveActions }}

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">
                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'delete' }"
                                   checklist-comparator=".type">
                                <div class="checkbox-y__body">
                                    <span class="checkbox-y__icon"></span>
                                </div>
                                <span class="checkbox__text" role="presentation">
                                    Удалить
                                </span>
                        </label>
                    </div>

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">
                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'read' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon">
                                </span>
                            </div>
                            <span class="checkbox__text" role="presentation">
                                Пометить прочитанным
                            </span>
                        </label>

                    </div>
                    <div class="field-style flex--inline align-items--cn mrg__bottom6">

                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'move' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                                <span class="checkbox-y__icon">
                                                </span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                Положить в папку
                            </span>
                        </label>
                        <!-- select -->
                        <ui-select ng-model=""
                                   class="select-list select-list--size_xs select-list--not-border-of-sides mrg__right6 width--aut width--max126"
                                   style=""
                                   theme="select2"
                                   title="Choose a person">
                            <ui-select-match
                                    class="select-list__body select-list--size_xs width--inh"
                                    placeholder="От кого">
                                {{ $select.selected.caption }}
                            </ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.folders.items" value="{{ $select.selected.name }}">
                                <div ng-bind-html="item.caption"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <div class="field-style flex--inline align-items--cn mrg__bottom6">

                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'flag' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                                <span class="checkbox-y__icon">
                                                </span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                Поставить метку
                            </span>
                        </label>`

                        <ui-select ng-model=""
                                   class="select-list select-list--size_xs select-list--not-border-of-sides mrg__right6 width--aut width--max126"
                                   style=""
                                   theme="select2"
                                   title="Choose a person">
                            <ui-select-match
                                    class="select-list__body select-list--size_xs width--inh"
                                    placeholder="От кого">
                                {{ $select.selected.tag_name }}
                            </ui-select-match>
                            <ui-select-choices repeat="item.value as item in vm.tags.items" value="{{ $select.selected.tag_id }}">
                                <div ng-bind-html="item.tag_name"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>

                    <div class="rule-add__notif">При активации правил пересылки писем потребуется ввести пароль.</div>

                    <div class="field-style flex--inline align-items--st mrg__bottom6">

                        <label class="align-items-st checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'resend' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">

                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                Переслать по адресу
                            </span>
                        </label>
                        <div class="width--inh">
                            <input class="input input--size_xs width--inh input--bg-white input--fc-sh-yellow"
                                   type="text"
                                   name="rules"
                                   placeholder="Укажите название правила"
                                   required>
                            <label class="checkbox-y__label checkbox-y width--inh">
                                <input class="checkbox-y__input" id="isChecked" type="checkbox" name="isChecked"
                                       ng-model="isChecked">
                                <div class="checkbox-y__body">

                                    <span class="checkbox-y__icon"></span>
                                </div>
                                <span class="checkbox__text " role="presentation">
                                сохранить копию при пересылке
                            </span>
                            </label>
                        </div>

                    </div>

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">

                        <label class="align-items-st checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'notify' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">

                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                Уведомить по адресу
                            </span>
                        </label>
                        <input class="input input--size_xs width--inh input--bg-white input--fc-sh-yellow"
                               type="text"
                               name="rules"
                               placeholder="Укажите название правила"
                               required>

                    </div>

                    <div class="field-style align-items--cn mrg__bottom6">

                        <label class="align-items-st checkbox-y__label checkbox-y width--inh">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'answer' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">

                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                Ответить следующим текстом
                            </span>
                        </label>
                        <textarea class="rule-add__field-text textarea--normal width--inh font__size13 mrg__top5"
                                  name="" id="" cols="10" rows="10" placeholder="Введите текст сообщения"></textarea>

                    </div>

                    <div class="field-style  align-items--cn mrg__bottom6">
                        <label class="align-items-st checkbox-y__label checkbox-y width--inh">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'stop' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">

                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                Не применять остальные правила
                            </span>
                        </label>

                    </div>

                    <div class="field-style mrg__bottom6">
                        <div class="rule-add__notif mer">Также вы можете <a href="">указать название</a>, которое будет
                            отображаться в списке правил
                        </div>
                        <div class="flex--inline align-items--cn mrg__top15">
                            <button class="btn btn--yellow btn--size_sm mrg__right10"
                                    type="button"
                                    ng-if="!vm.sieveForm.model.id">
                                Создать правило
                            </button>
                            <button class="btn btn--yellow btn--size_sm mrg__right10"
                                    type="button"
                                    ng-click="vm.update()"
                                    ng-if="vm.sieveForm.model.id">Сохранить изменени
                            </button>
                            <button class="btn btn--normal btn--size_sm mrg__right10">Применить к существующим письмам
                            </button>
                            <button class="btn btn--size_sm btn--link-style mrg__none mrg__left10 ">Отмена</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>

</article>