<div class="layout__bread-crumbs mrg__bottom15">
    <div class="bread-crumbs font-sizer--bigger-20">
        <a class="bread-crumbs__item" ui-sref="mail.inbox">{{ 'MAIL' | translate }}</a>
        <a class="bread-crumbs__item" ui-sref="settings.main"></a>
        <a class="bread-crumbs__item" ui-sref="settings.rules">{{ 'PROCESSING_RULES' | translate }}</a>
        <a class="bread-crumbs__item bread-crumbs--active" ui-sref="settings.ruleAdd">{{ 'CREATE_RULE' | translate }}</a>
    </div>
</div>

<article class="layout-settings width--inh">
    <section class="layout-settings__col mrg__left">
        <!-- Создание правила -->
        <div class="rule-add">
            <div class="form">

                <div class="rule-add__item mrg__bottom20">
                    <div class="field-style flex--inline just-content--sp-btw align-items--cn mrg__bottom8">
                        <span class="font__size13">{{ 'NAME' | translate }}</span>
                        <input class="input input--size_xs width--size527 input--bg-white input--fc-sh-yellow"
                               type="text"
                               name="name"
                               placeholder="{{ 'INPUT_PLACEHOLDER_NAME_RULE' | translate }}"
                               ng-model="vm.sieveForm.model.name"
                               required>
                    </div>

                    <div class="field-style flex--inline just-content--sp-btw align-items--cn mrg__bottom8">
                        <span class="font__size13">Применять</span>
                        <div class="flex--inline just-content--sp-btw align-items--cn width--all width--max527">
                            <ui-select ng-model="vm.sieveForm.model.spam_accept"
                                       class="select-list select-list--size_xs select-list--not-border-of-sides mrg__right6 "
                                       theme="select2"
                                       search-enabled="false">
                                <ui-select-match class="select-list__body select-list--size_xs width--inh"
                                                 placeholder="{{ 'RULE_ADD_SELECT_FOR_ALL_LETTERS' | translate }}">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.spamAccept.list"
                                                   value="{{ $select.selected.value }}">
                                    <div ng-bind-html="item.name"></div>
                                </ui-select-choices>
                            </ui-select>

                            <ui-select ng-model="vm.sieveForm.model.attachment_accept"
                                       class="select-list select-list--size_xs select-list--not-border-of-sides"
                                       theme="select2"
                                       search-enabled="false">
                                <ui-select-match
                                        class="select-list__body select-list--size_xs width--inh"
                                        placeholder="{{ 'RULE_ADD_SELECT_IS_ATTACH_0R_NOT' | translate }}">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices repeat="item.value as item in vm.attachmentAccept.list"
                                                   value="{{ $select.selected.value }}">
                                    <div ng-bind-html="item.name"></div>
                                </ui-select-choices>
                            </ui-select>

                        </div>

                    </div>

                </div>

                <div class="rule-add__item mrg__bottom20">
                    <div class="rule-add__item-title">Если</div>

                    <div class="rule-add__condition">
                        <div class="rule-add__condition-item" ng-repeat="rule in vm.sieveForm.model.sieveRules">
                            <div class="field-style flex--inline just-content--sp-btw align-items--cn mrg__bottom8">

                                <ui-select ng-model="rule.type"
                                           class="select-list select-list--size_xs select-list--not-border-of-sides mrg__right6 width--size80"
                                           theme="select2"
                                           search-enabled="false">
                                    <ui-select-match class="select-list__body select-list--size_xs width--inh"
                                                     placeholder="{{ 'FROM_WHOM_U' | translate }}">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.sieveRules.list"
                                                       value="{{ $select.selected.value }}">
                                        <div ng-bind-html="item.name"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <ui-select ng-model="rule.compare_type"
                                           class="select-list select-list--size_xs select-list--not-border-of-sides width--size108 mrg__right6"
                                           theme="select2"
                                           search-enabled="false">
                                    <ui-select-match
                                            class="select-list__body select-list--size_xs width--inh"
                                            placeholder="{{ 'RULE_ADD_SELECT_IS_COINCIDES' | translate }}">
                                        {{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in vm.compareTypes.list"
                                                       value="{{ $select.selected.value }}">
                                        <div ng-bind-html="item.name"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <input class="input input--size_xs width--inh input--bg-white input--fc-sh-yellow"
                                       type="text"
                                       ng-model="rule.value"
                                       placeholder="{{ 'INPUT_PLACEHOLDER_NAME_RULE' | translate }}"
                                       required>
                            </div>
                            <button class="rule-add__condition-remove btn btn--not-style btn--not-events btn--remove icon-close-thin"
                                    type="button"
                                    ng-click="vm.removeRule(rule)"></button>
                        </div>
                    </div>

                    <button class="btn btn--normal btn--size_xs width--size131 border--cl-bl-silver"
                            type="button"
                            ng-click="vm.addRule()">
                        {{ 'ADD_CONDITION' | translate }}
                    </button>
                </div>

                <div class="rule-add__item mrg__bottom20">
                    <div class="rule-add__item-title">
                        {{ 'RUN_ACTION' | translate }}
                    </div>

                    <!--{{ vm.sieveForm.model.sieveActions }}-->

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">
                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'delete' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text" role="presentation">
                                    {{ 'DELETE' | translate }}
                                </span>
                        </label>
                    </div>

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">
                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'read' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon">
                                </span>
                            </div>
                            <span class="checkbox__text" role="presentation">
                                {{ 'MARK_AS_READ' | translate }}
                            </span>
                        </label>

                    </div>

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">
                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   ng-model="vm.isFolder"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="vm.sieveActions.move"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon">
                                </span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                {{ 'PUT_IN_FOLDER' | translate }}
                            </span>
                        </label>
                        <ui-select ng-model="vm.sieveActions.move.value"
                                   class="select-list select-list--if-less200 select-list--size_xs select-list--not-border-of-sides mrg__right6 width--aut width--max126"
                                   theme="select2"
                                   ng-disabled="!vm.isFolder"
                                   search-enabled="false">
                            <ui-select-match
                                    class="select-list__body select-list--size_xs width--inh"
                                    placeholder="{{ 'CHOOSE' | translate }}">
                                {{ $select.selected.caption }}
                            </ui-select-match>
                            <ui-select-choices repeat="item.name as item in vm.folders.items"
                                               value="{{ $select.selected.name }}">
                                <div ng-bind-html="item.caption"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">
                        <label class="checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input" type="checkbox"
                                   ng-model="vm.isFlag"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="vm.sieveActions.flag"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon">
                                </span>
                            </div>
                            <span class="checkbox__text" role="presentation">
                                {{ 'SET_TAG' | translate }}
                            </span>
                        </label>
                        <ui-select ng-model="vm.sieveActions.flag.value"
                                   class="select-list select-list--if-less200 select-list--size_xs select-list--not-border-of-sides mrg__right6 width--aut width--max126"
                                   theme="select2"
                                   title="Choose a person"
                                   ng-disabled="!vm.isFlag"
                                   search-enabled="false">
                            <ui-select-match
                                    class="select-list__body select-list--size_xs width--inh"
                                    placeholder="{{ 'CHOOSE' | translate }}">
                                {{ $select.selected.tag_name }}
                            </ui-select-match>
                            <ui-select-choices repeat="item.tag_name as item in vm.tags.items"
                                               value="{{ $select.selected.tag_name }}">
                                <div ng-bind-html="item.tag_name"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="rule-add__notif">
                        {{ 'RULE_ADD_MESSAGE_WHEN_ACTIVE_RULE' | translate }}.
                    </div>

                    <div class="field-style flex--inline align-items--st mrg__bottom6">
                        <label class="align-items-st checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input"
                                   type="checkbox"
                                   ng-model="vm.isResend"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="vm.sieveActions.resend"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text" role="presentation">
                                {{ 'FORWARD_TO' | translate }}
                            </span>
                        </label>
                        <div class="width--inh">
                            <input class="input input--size_xs width--inh input--bg-white input--fc-sh-yellow"
                                   type="text"
                                   placeholder="INPUT_PLACEHOLDER_NAME_RULE"
                                   ng-model="vm.sieveActions.resend.value"
                                   ng-disabled="!vm.isResend"
                                   required>
                            <label class="checkbox-y__label checkbox-y width--inh">
                                <input class="checkbox-y__input"
                                       type="checkbox"
                                       data-checklist-model="vm.sieveForm.model.sieveActions"
                                       data-checklist-value="vm.sieveActions.option"
                                       ng-disabled="!vm.isResend"
                                       checklist-comparator=".type">
                                <div class="checkbox-y__body">
                                    <span class="checkbox-y__icon"></span>
                                </div>
                                <span class="checkbox__text " role="presentation">
                                    {{ 'RULE_ADD_MESSAGE_SAVE_COPY' | translate }}
                            </span>
                            </label>
                        </div>
                    </div>

                    <div class="field-style flex--inline align-items--cn mrg__bottom6">
                        <label class="align-items-st checkbox-y__label checkbox-y width--min190">
                            <input class="checkbox-y__input"
                                   type="checkbox"
                                   ng-model="vm.isNotify"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="vm.sieveActions.notify"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                {{ 'RULE_ADD_MESSAGE_NOTIFY_BY_EMAIL' | translate }}
                            </span>
                        </label>
                        <input class="input input--size_xs width--inh input--bg-white input--fc-sh-yellow"
                               type="text"
                               ng-model="vm.sieveActions.notify.value"
                               ng-disabled="!vm.isNotify"
                               placeholder="{{ 'INPUT_PLACEHOLDER_NAME_RULE' | translate }}"
                               required>
                    </div>

                    <div class="field-style align-items--cn mrg__bottom6">
                        <label class="align-items-st checkbox-y__label checkbox-y width--inh">
                            <input class="checkbox-y__input"
                                   type="checkbox"
                                   ng-model="vm.isAnswer"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="vm.sieveActions.answer"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">
                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                {{ 'RULE_ADD_MESSAGE_REPLY_TEXT' | translate }}
                            </span>
                        </label>
                        <textarea class="rule-add__field-text textarea--normal width--inh font__size13 mrg__top5"
                                  name="" id="" cols="10" rows="10" placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_MESSAGE_TEXT' | translate }}"
                                  ng-model="vm.sieveActions.answer.value"
                                  ng-disabled="!vm.isAnswer"></textarea>
                    </div>

                    <div class="field-style  align-items--cn mrg__bottom6">
                        <label class="align-items-st checkbox-y__label checkbox-y width--inh">
                            <input class="checkbox-y__input" type="checkbox"
                                   data-checklist-model="vm.sieveForm.model.sieveActions"
                                   data-checklist-value="{ 'type': 'stop' }"
                                   checklist-comparator=".type">
                            <div class="checkbox-y__body">

                                <span class="checkbox-y__icon"></span>
                            </div>
                            <span class="checkbox__text " role="presentation">
                                {{ 'RULE_ADD_MESSAGE_DONOT_NOT_APPLY_RULE' | translate }}
                            </span>
                        </label>

                    </div>

                    <div class="field-style mrg__bottom6">
                        <div class="rule-add__notif mer">{{ 'RULE_ADD_MESSAGE_VIEW_LIST_RULES' | translate }} <a href="">{{ 'RULE_ADD_MESSAGE_VIEW_LIST_RULE_1' | translate }}</a>,{{ 'RULE_ADD_MESSAGE_VIEW_LIST_RULES_2' | translate }}
                        </div>
                        <div class="flex--inline align-items--cn mrg__top15">
                            <button class="btn btn--yellow btn--size_sm mrg__right10"
                                    type="button"
                                    ng-click="vm.add()"
                                    ng-if="!vm.sieveForm.model.id">
                                {{ 'CREATE_RULE' | translate }}
                            </button>
                            <button class="btn btn--yellow btn--size_sm mrg__right10"
                                    type="button"
                                    ng-click="vm.update()"
                                    ng-if="vm.sieveForm.model.id">
                                {{ 'BTN_SAVE_CHANGE' | translate }}
                            </button>
                            <button class="btn btn--normal btn--size_sm mrg__right10"
                                    type="button">
                                {{ 'BTN_APPLY_TO_EXISTING_EMAILS' | translate }}
                            </button>
                            <button class="btn btn--size_sm btn--link-style mrg__none mrg__left10"
                                    type="button"
                                    ui-sref="settings.rules">
                                {{ 'BTN_CANCEL' | translate }}
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>

</article>