<div>

    <div class="edit-contact__add-data edit-contact__add-data--added"
         ng-repeat="phone in vm.phones">
        <span class="remove-data-input" ng-click="vm.remove(phone)">
            <svg class="remove-data-input__icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </span>
        <input class="input input--size_xs input--up-shadow width--size220"
               type="text"
               name="phone"
               ng-model="phone.value">
    </div>

    <!-- добавить еще номер-->
    <div class="edit-contact__add-data mrg__top5">
        <ng-form name="phoneForm" novalidate>
            <span class="remove-data-input">
                <svg class="remove-data-input__icon">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </span>
            <input class="input input--size_xs input--up-shadow width--size220"
                   type="text"
                   name="phone"
                   ng-model="vm.phoneForm.model.phone"
                   ng-keyup="vm.add(phoneForm, $event.keyCode);"
                   placeholder="Добавить телефон"
                   required>
        </ng-form>
    </div>

</div>