<div>

    <div class="edit-contact__add-data edit-contact__add-data--added"
         ng-repeat="phone in vm.phones">
        <span class="remove-data-input">
            <svg class="remove-data-input__icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </span>
        <input class="input input--size_xs input--up-shadow width--size220"
               type="text"
               name="phone"
               ng-model="phone.value">
    </div>

    <!-- добавить еще номер-->
    <div class="edit-contact__add-data mrg__top5">
        <form name="phoneForm" ng-submit="vm.add(phoneForm)" novalidate>
            <span class="remove-data-input">
                <svg class="remove-data-input__icon">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </span>
            <input class="input input--size_xs input--up-shadow width--size220"
                   type="text"
                   name="phone"
                   ng-model="vm.phoneForm.model.phone"
                   placeholder="Добавить телефон">
        </form>
    </div>

</div>