@import "compass/css3/animation";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3";
@import 'core/mixins';
@import 'core/vars';
@import 'core/color';
@import "core/fonts";
@import 'core/helper';
@import 'layout/layout';
@import 'layout/menu-main';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/layout-settings.scss';
@import 'layout/menu-main-layout';
@import 'layout/container';
@import "layout/help";
@import 'layout/menu-settings-layout';
@import 'layout/menu-settings';
@import 'layout/auth-layout';
@import 'layout/mail-message';
@import "layout/password-reset-layout";
@import "layout/rules-settings";
@import "layout/accounts";
@import "layout/contacts-settings";
@import "layout/menu-contacts";
@import "layout/storage";
@import "layout/terms";
@import 'ui/checked';
@import 'ui/hr';
@import 'ui/btn-y';
@import "ui/form";
@import "ui/a";
@import "ui/button";
@import "ui/input";
@import "ui/popover";
@import "ui/popup";
@import "ui/row";
@import "ui/card";
@import "ui/checkbox";
@import "ui/btn-group";
@import "ui/input-line";
@import "ui/checkbox-y";
@import "ui/textarea";
@import "ui/radiobutton";
@import "ui/select-list";
@import "ui/select-input-line";
@import "ui/dropdown-menu";
@import "ui/ui-calendar";
@import "components/validation";
@import 'components/avatar';
@import 'components/round';
@import 'components/folders-setup';
@import 'components/square';
@import 'components/inbox-header';
@import 'components/inbox-message';
@import 'components/inbox-footer';
@import 'components/date-sort';
@import "components/notific";
@import "components/bread-crumbs";
@import "components/personal-info";
@import "components/additional-info";
@import "components/user-signatures";
@import "components/social-icons";
@import "components/search-mail";
@import "components/settings-menu";
@import "components/user-menu";
@import "components/search-result";
@import "components/list-dash";
@import "components/label-ydx";
@import "components/auth-form";
@import "components/message-textarea";
@import "components/compose-from";
@import "components/quick-reply";
@import "components/to-whom";
@import "components/info-sender";
@import "components/compose-send";
@import "components/body-message";
@import "components/time-send";
@import "components/choice-language";
@import "components/spinner";
@import "components/folder-list";
@import "components/folder-create";
@import "components/tag-list";
@import "components/tag-create";
@import "components/palette-list";
@import "components/message-input";
@import "components/tags-settings";
@import "components/option-icons";
@import "components/inbox-list";
@import "components/avatar-upload";
@import "components/contacts-list";
@import "components/contacts-header";
@import "components/letter-tags";
@import "components/contacts-footer";
@import "components/contacts-list-is-null";
@import "components/group-setup";
@import "components/add-contact";
@import "components/restore-contacts";
@import "components/edit-contact";
@import "components/viewed-contact";
@import "components/load-contacts-from-file";
@import "components/add-group-contacts";
@import "components/password-change";
@import "components/email-change";
@import "components/phone-change";
@import "components/contact-group-create";
@import "components/rule-add";
@import "components/attach-item";
@import "components/attachments";
@import "components/template-header";
@import "components/contact-other-list";
@import "components/template-list";
@import "components/tag-contact";
@import "components/search-filters";
@import "components/contact-to-add";
@import "components/message-alert-send";
@import "components/messages-nav";
@import "components/attach-upload";
@import "components/inbox-templates";
@import "components/additional-mail-info";
@import "components/search-help";
@import "components/help-search-results";
@import 'font-icons/icomoon';

body {
  width: 100%;
  height: 100%;

  margin: 0;

  font-family: Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

label {
  font-weight: normal;
}