<div class="email-change">
    <div class="email-change__title">Сменить email</div>
    <div class="mrg__top15">

        <form name="emailForm" ng-submit="vm.changeEmail(emailForm)" novalidate>
            <div class="email-change__input mrg__top15">
                <div class="mrg__right10">
                    <span class="font__size13">Email</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           type="email"
                           name="email"
                           ng-model="vm.emailForm.model.email"
                           required>
                </div>
            </div>

            <!--Server error-->
            <div>{{ vm.error }}</div>

            <div class="email-change__btn mrg__top40">
                <button class="btn-y btn-y--border" type="submit">Сменить</button>
                <button class="btn-y btn-y--border" type="button" ng-click="vm.close()">Отменить</button>
            </div>
        </form>

    </div>
</div>