@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?q4o3f6');
  src:  url('../fonts/icomoon.eot?q4o3f6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q4o3f6') format('truetype'),
    url('../fonts/icomoon.woff?q4o3f6') format('woff'),
    url('../fonts/icomoon.svg?q4o3f6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-c:before {
  content: "\e900";
}
.icon-align-l:before {
  content: "\e901";
}
.icon-align-r:before {
  content: "\e902";
}
.icon-archive:before {
  content: "\e903";
}
.icon-attach:before {
  content: "\e904";
}
.icon-autoreply:before {
  content: "\e905";
}
.icon-background-color:before {
  content: "\e906";
}
.icon-bin:before {
  content: "\e907";
}
.icon-bin-solid:before {
  content: "\e908";
}
.icon-bold:before {
  content: "\e909";
}
.icon-contacts:before {
  content: "\e90a";
}
.icon-draft:before {
  content: "\e90b";
}
.icon-emoji:before {
  content: "\e90c";
}
.icon-folder:before {
  content: "\e90d";
}
.icon-folder-star:before {
  content: "\e90e";
}
.icon-font-color:before {
  content: "\e90f";
}
.icon-font-family:before {
  content: "\e910";
}
.icon-font-size:before {
  content: "\e911";
}
.icon-forward:before {
  content: "\e912";
}
.icon-full-screen:before {
  content: "\e913";
}
.icon-img:before {
  content: "\e914";
}
.icon-important:before {
  content: "\e915";
}
.icon-incoming:before {
  content: "\e916";
}
.icon-italic:before {
  content: "\e917";
}
.icon-link:before {
  content: "\e918";
}
.icon-more:before {
  content: "\e919";
}
.icon-next:before {
  content: "\e91a";
}
.icon-ol:before {
  content: "\e91b";
}
.icon-pin:before {
  content: "\e91c";
}
.icon-preview:before {
  content: "\e91d";
}
.icon-profile:before {
  content: "\e91e";
}
.icon-quote:before {
  content: "\e91f";
}
.icon-read:before {
  content: "\e920";
}
.icon-redirect:before {
  content: "\e921";
}
.icon-redo:before {
  content: "\e922";
}
.icon-reply:before {
  content: "\e923";
}
.icon-rules:before {
  content: "\e924";
}
.icon-sent:before {
  content: "\e925";
}
.icon-settings:before {
  content: "\e926";
}
.icon-spam:before {
  content: "\e927";
}
.icon-spam-solid:before {
  content: "\e928";
}
.icon-spinner:before {
  content: "\e929";
}
.icon-style:before {
  content: "\e92a";
}
.icon-tag:before {
  content: "\e92b";
}
.icon-tag-star:before {
  content: "\e92c";
}
.icon-thru:before {
  content: "\e92d";
}
.icon-ul:before {
  content: "\e92e";
}
.icon-underlay:before {
  content: "\e92f";
}
.icon-undo:before {
  content: "\e930";
}
.icon-unlink:before {
  content: "\e931";
}
.icon-unread:before {
  content: "\e932";
}
.icon-unread-solid:before {
  content: "\e933";
}
.icon-up:before {
  content: "\e934";
}
.icon-write:before {
  content: "\e935";
}