<div class="email-change" >

    <div class="email-change__header">
        <span class="email-change__title">{{ 'ADD_EMAIL' | translate }}</span>
    </div>

    <div class="email-change__content">
        <form name="emailForm" ng-submit="vm.changeEmail(emailForm)" novalidate>
            <div class="email-change__input">
                <div class="email-change__field-input">
                    <div class="email-change__caption-input mrg--r10">
                        <span class="font--size13">{{ 'NEW_MAIL' | translate }}</span>
                    </div>
                    <div>
                        <input class="input input--size_s width--size220 input--fc-sh-yellow"
                               type="email"
                               name="email"
                               ng-model="vm.emailForm.model.email"
                               required>
                    </div>
                </div>
            </div>

            <!--Server error-->
            <div>{{ vm.error }}</div>

            <div class="email-change__footer position ">
                <hr class="hr hr--top">
                <button class="btn btn--normal btn--size_l width--size168 mrg--r16" type="button" ng-click="vm.cancel()">
                    {{ 'CANCEL' | translate }}
                </button>
                <button class="btn btn--yellow btn--size_l width--size168" type="submit">
                    {{ 'ADD' | translate }}
                </button>
            </div>
        </form>

    </div>

</div>