.additional-mail-info {
  min-width: 100%;
  padding: 18px 20px;
  margin-right: 4px;

  &__items-spinner {
    padding: 10px 0;
  }

  &__caption {
    display: block;
    padding: 16px 0;
    font: 700 11px $mainSecondFont;
    text-transform: uppercase;
    letter-spacing: .5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, .5)!important;
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 1)!important;
    }
  }

  &__list {
    height: 0 !important;
    overflow: hidden;
    transition: all .6s;
  }

  &__items {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
  }

  &__item {
    display: block;

    color: rgba(0, 0, 0, .5);

    cursor: pointer;

    padding-left: 10px;
    margin-bottom: 9px;

    border-left: 3px solid $textBlack;

    &--active {
      color: $textBlack;
    }
  }

  &__item-header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
  }

  &__date {
    text-align: right;
  }

  &__text-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__letters-on-thems {
    //box-shadow: 0 -1px 0 0 rgba(0,0,0,.1);
  }

  &__attachments {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .1);
  }

  &__links {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .1);

  }
  &__letters-from {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .1);
  }

  &__letters-on-thems,
  &__attachments,
  &__links,
  &__letters-from {
    &.is-open {
      &> .additional-mail-info__caption {
        color: rgba(0, 0, 0, 1)!important;
      }
      .additional-mail-info__list {
        height: auto !important;
        transition: all .6s;
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    box-shadow: 0 0 0 1px rgba(0,0,0,.06),
                0 10px 20px -5px rgba(0,0,0,.4);
  }
}