.add-group-contacts{
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-sizing: border-box;

  width: 800px;
  padding: 0;

  background: $white-color;

  &__header{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;

    height: 90px;

    padding: 0;

    color: $textBlack ;

    border-bottom: 1px solid $hr-main-color;

  }
  &__header-title{
    font: bold 18px/1 $mainFont;
    display: block;
    margin: auto 0px;
    width: 100%;
  }

  &__left{
    display: inline-flex;
    flex-flow: column;

    padding: 8px 20px 12px 28px;

    width: 100%;
    height: inherit;


  }
  &__left-content{

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: auto 0 0;
    padding: 0;
  }
  &__right{

    display: flex;

    width: 270px;
    min-width: 270px;

    min-height: 100%;
    background: $menu-main-color;
    padding: 8px 20px 12px 20px;

  }

  &__content{
    position: relative;

    display: flex;

    min-height: 400px;
    max-height: 560px;

    overflow-y: auto;
    overflow-x: hidden;

  }

  &__footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    height: 64px;
  }


//  -----------------------------

  &__contact-list{
    margin: 0 -20px auto -28px;

  }

  &__item{
    position: relative;

    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    min-height: 45px;
    width: 100%;


    color: $conacts-list-text-color;

    padding: 0 20px 0 15px;
    //border-top: 1px solid $conacts-item-border-color;
    border-bottom: 1px solid $conacts-item-border-color;
    overflow: hidden;

    cursor: pointer!important;

    &:hover{
      cursor: pointer!important;

      background: rgba($yellow-hard-light, .1);

      border-bottom-color: $yellow-yandex;

      opacity: .90;

      transition: all .6s;

      .contancts-list__check-icon,
      .contancts-list__quik-delete,
      .contancts-list__new_message{
        opacity: 1;
      }
    }

    &.is-check{

      background: rgba($yellow-yandex, .5);
      border-bottom-color: $yellow-yandex;

      .add-group-contacts__check-icon{
        background: rgba($validtae-ok-green, .9);

        opacity: 1;
        .all-select-check__icon{
          fill: $white-color;
        }

      }
    }
  }

  &__contact-avatar{
    display: flex;
    align-items: center;
  }

  &__contact-name{
    min-width: 22%;

    padding: 0 15px;

    color: $textBlack;
  }

  &__mail-adress{
    min-width: 18%;
    padding: 0 15px;
  }

  &__icon{
    color: $conacts-icon-header-color;
  }

  &__text{
    font: 100 13px/1 $mainFont;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inherit;
  }


  &__check-icon{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba($white-color, .3);

    opacity: 0;

    .all-select-check__icon{
      width: 14px;
      height: 14px;

      fill: $conacts-checkbox-color;
    }

    &:hover{
      background: rgba($validtae-ok-green, .4);
      .all-select-check__icon{
        fill: $white-color;
      }
    }
  }



}
