.attach-upload {
  &__list {
    &:after {
      @include clear;
    }
  }

  &__item {
    display: block;

    width: 140px;
    min-height: 241px;

    //margin: 0 50px 40px 0;
    margin: 0 35px 25px 0;

    float: left;
  }

  &__info {
    display: flex;

    margin-top: 10px;

    align-items: center;

    justify-content: space-between;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 12px;

    max-width: 60%;
  }

  &__size {
    color: gray;

    font-size: 12px;
  }

  &__image {
    text-align: center;
    width: 140px;
    height: 140px;

    overflow: hidden;

    background-size: cover;
    background-position: center;

    &--shadow {
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
    }

    img {
      max-width: 140px;
      max-height: 140px;
      min-width: 140px;
      min-height: 140px;
    }
  }

  &__links {
    text-align: center;
  }
}