.avatar {
  @include border-radius(50%);

  display: inline-block;
  position: relative;

  overflow: hidden;

  &--size28 {
    width: 28px;
    height: 28px;
  }

  &--size30 {
    width: 30px;
    height: 30px;
  }

  &--size42 {
    width: 42px;
    height: 42px;
  }

  &--size203 {
    width: 203px;
    height: 203px;
  }

  &--second-style{
    border: 1px solid $avatar-border-color;
    background: $silver-avatar-bg-color;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &--header {
    border: 1px solid $avatar-border-color;
  }
}
