.avatar {
  @include border-radius(50%);

  display: inline-block;
  position: relative;

  overflow: hidden;

  &--size30 {
    width: 30px;
    height: 30px;
  }

  &--size42 {
    width: 42px;
    height: 42px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
