.bread-crumbs {
  width: 100%;
  height: auto;

  padding: 18px 20px;

  &__item {
    color: $crumb-link-color;
    text-decoration: underline;

    &::after {
      content: "";
      position: relative;
      top: 3px;

      display: inline-flex;

      margin: 0 3px 0 7px;

      @extend .icon-crumbs-arrow;
    }
  }
  &--active {
    color: #000;
    text-decoration: none;

    &:after {
      display: none;
    }
  }
}