.compose-from {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  //max-width: 370px;

  &__item {
    margin-right: 8px;

    &--connection {
      max-width: 360px;
    }
  }

  &__button {}

  &__from {}
}