.inbox-templates{
  padding: 12px 30px 17px;
  background: $menu-main-color;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  &__new-template-message{
    display: block;

  }
  &__text-message{
    color: $textBlack;
    display: block;

  }
  border-bottom: 1px solid #e6e6e6;
}