.inbox-header {
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;

  align-items: center;

  justify-content: space-between;

  background-color: $white-color!important;

  border-bottom: 1px solid rgba(0, 0, 0, .05);

  &__row {
    display: flex;
  }

  &__item {
    text-align: center;
    font-family: Arial, sans-serif;

    &:hover {
      background: #f4f4f4;
    }

    &--checked {
      &:hover {
        background: none;
      }

      display: flex;
      flex-direction: row;
      align-items: center;

      margin-left: 9px;
      padding: 4px 5px 4px 10px;
    }
  }

  &__link {
    display: flex;

    align-items: center;

    padding: 12px 15px;

    border: none;

    background: #fff;

    outline: none;

    &:hover {
      background: #f4f4f4;
    }

    &:active, &:focus {
      outline: none;
      border: none;
    }

    &--disabled {
      cursor: default;

      .inbox-header__icon {
        color: rgba(0, 0, 0, .2) !important;
      }
      .inbox-header__name {
        color: rgba(0, 0, 0, .2) !important;
      }
    }
  }

  &__icon {
    display: block;

    font-size: 18px;

    &--green {
      color: #86ba82;
    }

    &--blue {
      color: #859dc6;
    }

    &--red {
      color: #e76a50;
    }

    &--yellow {
      color: #fcc93a;
    }
  }

  &__name {
    margin-left: 7px;

    color: #000;
  }

  &__name-icon {
    margin-top: 3px;

    color: #000;
    font-size: 10px;
  }

}