.inbox-message {
  display: flex;
  position: relative;

  //padding: 4px 0;

  min-height: 39px;

  flex-flow: row;
  align-items: center;
  //justify-content: space-between;

  font-family: Arial,sans-serif;
  font-size: 15px;

  border-bottom: 1px solid rgba(0,0,0,.05);

  &:hover {
    background: rgba(0,0,0,.03);
  }

  &__importance {
    //margin-right: 12px;
    padding-right: 3px;
    min-height: 38px;
    display: flex;
    align-items: center;

    color: #bcbcbc;

    &--active {
      color: #e20000;
    }

    .icon-important:before{
      left: -6px;
      position: relative;
      font-size: 16px;
    }
  }

  &__folder {
    margin-right: 10px;

    color: #a5a8a7;
  }

  &__checked {
    padding-right: 7px;
    min-height: 38px;
    display: flex;
    align-items: center;
  }

  &__avatar {
    margin-right: 11px;
    min-height: 38px;
    display: flex;
  }

  &__name {
    width: 185px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 4px;
  }

  &__round {
    padding: 0 5px;
    width: 20px;
    min-height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__subject {
    display: inline-block;

    //max-width: 50%;

    flex-shrink: 0;

    margin-right: 10px;

    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__labels {
    display: flex;
    padding-left: 5px;
  }

  &__label {
    margin: 3px 6px 3px 0 ;
  }

  &__message {
    display:inline-block;
    color: rgba(0,0,0,.5);

    //max-width : 50%;
    flex-shrink: 1;

    margin-right: 10px;

    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__text {
    display: flex;
    padding: 0 5px 0 0;
    margin-right: 6px;

    width: 100%;

    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    min-width: 60px;
  }
  &__attach{
    padding: 0 0 0 15px;
    color:#808080;

  }

  &__data {
    width: auto;
    min-width: 80px;
    padding-right: 16px;
    padding-left: 5px;
    color: rgba(0,0,0,.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }

  &--new {
    .inbox-message__name {
      font-weight: bold;
    }

    .inbox-message__subject {
      font-weight: bold;
    }
  }

  &--importmant {
    background: #ffe6e6!important;
    &:hover{
      background: #ffe6e6!important;
    }

    .inbox-message__importance {
      color: #e20000;
    }
  }
  &--is-checked{
    background: #ebebeb!important;
    &:hover{
      background: #ebebeb!important;
    }

  }
}