.info-sender {
  margin: 10px 0;
  align-items: center;
  width: 100%;

  &__avatar {
    //width: 82px;
    margin-right: 20px;
  }

  &__to-whom {
    align-items: center;

    min-height: 23px;

    margin-top: 2px;

    color: $silver-mail-message-title-color;
    font: 100 13px/1 $mainFont;

  }

  &__from-whom {
    color: $black;
    font: bold 15px/1 $mainFont;

    &__mail-name {
      color: $message-date-color;
      font-size: 13px;
      font-weight: 300;
    }
  }

  &__date {
    color: $message-date-color;
    font-size: 15px;
    padding: 0 16px;
    white-space: nowrap;
  }
}