.menu-main-filter {
  width: 100%;

  @media only screen and (max-width: 220px) {
    display: block !important;
  }

  &__item {
    width: 100%;

    button {
      display: flex;

      font-size: 15px;
      color: rgba($black, 0.5) !important;

      span {
        margin: auto;
      }
    }

    &:first-child {
      .btn-y {
        border-right: 0;
      }
    }

    &:last-child {
      .btn-y {
        border-left: 0;
      }
    }

    &:nth-child(2) {
      .btn-y {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          transition: all .6s;

          //.round-mail-icon {
          //
          //  box-shadow: 0px 0px 0px 1px rgba($mail-round-border-icon-color, .8);
          //}
        }
      }
    }

    .btn-y {
      width: 100%;
      height: 28px;

      padding: 0;

      transition: all .4s;

      @include border-radius(0);

      &:hover {
        background-color: $yellow-hard-light;
        color: $black!important;
      }
    }

    .btn-y--active {
      background-color: $yellow-normal-light !important;
      color: $black !important;

      //.round-mail-icon {
      //  box-shadow: 0px 0px 0px 1px rgba($mail-round-border-icon-color, .8);
      //}
    }

    @media only screen and (max-width: 220px) {
      display: block;

      width: auto !important;
    }
  }

  &__item-counter {
    font-size: 14px;
  }
}