.message-textarea {
  .note-editor {
    border: none;
  }

  .note-frame {
    border: none;
  }

  .note-toolbar {
    border: none;

    background: none;
  }

  .note-statusbar {
    margin-top: 25px;

    height: 2px;

    background-color: #ffdb4d !important;
  }

  .summernote__resize {
    margin-top: -20px;

    float: right;

    cursor: se-resize;
  }

  .note-btn-group {
    @include border-radius(0);
    border: none;
  }

  .note-btn {
    @include border-radius(2px);

    border: none;

    width: 20px;
    height: 20px;

    padding: 0;

    box-shadow: none;

    font-size: 14px;

    color: rgba(0, 0, 0, .5);

    &.active {
      background: #ffeba0;
    }

    .note-btn-italic {
      font-size: 10px;
    }

    &.dropdown-toggle {
      width: auto;
    }

    .icon-arrow-down {
      font-size: 9px;
    }

    .icon-italic {
      font-size: 11px;
    }

    .icon-underlay {
      font-size: 12px;
    }
  }
}

// убираем всплывашки подсказок в компоненте редактора
.tooltip{
  display: none!important;
  visibility: hidden!important;
}