.notific {
  display: block;

  font: 13px/1.185 sans-serif;
  color: $silver-notific-color;
  
  &__link {
    color: $notific-link-color;
    &--dotted{
      text-decoration: dotted;
      text-decoration-color: $black;
      color: $black;
      &:hover{
        color: $link-color;
      }
    }
  }

  &--auth {
    font-size: 12px;
    color: $notific-auth-color;
  }

  &--layout{
    font: 100 13px/1.2 $mainFont;
    color: $textBlack;
  }
  &--layout-light{
    font: 12px/1 $mainFont;
    color: $rules-settings--title-color;
  }
}