.password-change {
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-sizing: content-box;

  margin: auto;

  &__header{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 44px;

    padding: 0;
    margin-bottom: 15px;

    color: $textBlack ;
    font: bold 18px/1 $mainFont;
  }

  &__content{
    position: relative;

    display: flex;
    justify-content: space-around;

    flex-flow: row wrap;

    padding: 0px 20px;
  }

  &__footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0 0;
    margin-top: 30px;

  }

  &__title {
    font: 100 17px/1 $mainFont;
    text-transform: uppercase;
  }

  &__field-input {
    display: flex;
    align-items: center;
  }

  &__caption-input{
    font: 100 13px/1 $mainFont;
    width: 120px;
    text-align: right;
  }


}