.personal-info {
  display: flex;
  flex-flow: column;

  &__user-avatar {
    display: block;
    margin: 0 0 auto;
  }

  &___user-name{
    width: 550px;
  }

  &__user-info {
    //margin: auto 15px;
    width: 550px;
  }

  @media only screen and(max-width: 980px) {

  }
}
