/* Блок с формой быстрого ответа */

.quick-reply{
  position: relative;
  right: 0;
  bottom: 0
;
  width: auto;
  min-width: 50% ;
  min-height: 130px;

  display: inline-flex;
  align-items: center;
  flex-flow: row wrap;



  padding: 0 0 18px 15px;
  //margin-right: 303px;
  //margin-bottom: 20px;


  //overflow: hidden;

  &:before{
    content: "";

    position: absolute;
    top:0;
    right: 0;
    //bottom: 0;
    left: 0;

    min-height: 90px;
    //margin-left: 82px;
    //max-width: 610px;

    border: 1px solid $quick-reply-border-color;

  }

  &--used{

  }

  &--notused{

  }


  &__not-form-message{




    &__title{
      color: $silver-mail-message-title-color;
      font: 100 13px/1 $mainFont;
      &__method{

        color: $notific-link-color;

        cursor: pointer;

        &:hover{
          color: $red-remove-color;

        }

      }

    }


  }

  &__form-message{

    &__btn-close{
      position: absolute;
      top: 15px;
      right: 10px;
      padding: 2px;
    }

    &__header{
      position: absolute;
      top: 8px;
      left: 10px
    }

    &__content{}

    &__footer{
      position: absolute;
      bottom: 0;
      left: 0;

      &__allform{
        font: 100 13px/1 $mainFont;
        color: $silver-mail-message-title-color;
        cursor: pointer;
        &:hover{
          color: $link-color;
        }
      }
    }

  }


}
//.textarea{
//
//  width: inherit;
//
//  height: inherit;
//
//  min-height: 60px;
//  border: none;
//  overflow: 0;
//}