.search-mail {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  &__body {
    display: flex;
    flex-direction: row;
  }

  &__group {
    display: flex;
    flex-direction: row;
  }

  &__close {
    margin-right: 5px;
  }

  &__input {
    width: 188px;
  }

  &__button {
  }

  &--open {
    .search-mail__input {
      width: 100%;
    }

    .header__navigation {
      display: none;
    }

    form {
      width: 100%;
    }

    .search-mail__body {
      width: 100%;
    }

    .search-mail__group {
      width: 100%;
    }
  }
}

@include keyframes(search-input) {
  from {
    width: 0;
  }
  50% {
    width: 50%;
  }
  to {
    width: 100%;
  }
}