.settings-menu {
  width:600px;
  max-width: none !important;
  box-sizing: border-box;

  &__body {
    padding: 40px;
  }
  &__row{
    margin-left: 15px;
  }

  &__title {
    display: block;
    font-size: 15px;

    color: #2222cc;
    font-weight: bold;

    &:hover {
      color: #2222cc;
      text-decoration: underline;
    }
  }

  &__link {
    color: #000;
    font-size: 13px;
    margin-left: 15px;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}