.settings-menu {
  width: 600px;
  max-width: none !important;
  box-sizing: border-box;

  &__body {
    padding: 40px;
  }
  &__row {
    margin-left: 15px;
  }

  &__title {
    display: block;

    color: $link-color !important;
    font-weight: bold;

    &:hover {
      color: rgba($link-color, .8) !important;
      text-decoration: underline;
    }
  }

  &__link {
    color: $textBlack !important;
    margin-left: 15px;

    &:hover {
      color: rgba($textBlack, .8) !important;
      text-decoration: underline;
    }
  }
}