.sign-list {
  width: 250px;
  max-width: none !important;

  height: 170px;

  overflow-y: auto;
  overflow-x: hidden;

  &__header {
    padding: 12px;
  }

  &__link {
    &:hover {
      //background: $yellow-normal-light;
    }
  }

  &__item {
    display: block;

    padding: 15px 10px;

    color: #000;

    &:hover {
      background: $yellow-normal-light;
    }
  }

  img {
    display: none;
  }
}