.sign-list {
  width: 180px;
  max-width: none !important;

  height: 170px;

  overflow-y: scroll;
  overflow-x: hidden;

  &__header {
    padding: 10px;
  }

  &__link {
    &:hover {
      //background: $yellow-normal-light;
    }
  }

  &__item {
    display: block;

    padding: 20px 10px;

    color: #000;

    &:hover {
      background: $yellow-normal-light;
    }
  }
}