.tag-contact {
  display: flex;
  align-items: center;

  &__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $textBlack;

  }

  &__email {
    color: $storage-text-color;
  }

  &__phone {
    color: $storage-text-color;
  }

  &--more {
    width: 100%;

    padding: 4px 12px;

    .tag-contact__name {
      font-size: 16px;
    }

    &:hover {
      background-color: $yellow-hard-light;
    }
  }
}