.tags-settings {

  &__title {
  }

  &__control {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 16px;
    max-width: 200px;
    min-height: 262px;
  }

  &__content {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 262px;
  }

  &__fields {
    position: relative;

    min-width: 262px;
    max-width: 262px;
    min-height: 262px;

    display: inline-flex;

    flex-flow: column;
    overflow: hidden;

    border: 1px solid $tags-field-border-color;

    resize: vertical;

    &--auto-width {
      max-width: 500px;
    }

    &__title-block {

      position: relative;

      margin: 0 0 5px;
      padding: 0px 0 6px;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: -45px;
        width: 150%;
        height: 1px;
        background: $tags-field-border-color;
      }

    }
  }

  &__item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px 8px;
    cursor: pointer;

    &:hover {
      //background: $yellow-hard-light;
    }

    &--active, &:active, &:focus {
      background: $yellow-hard-light;
    }

    &--is-folders {
      padding: 4px 8px;
    }

    &--sub {
      padding: 0 0 0 20px;

      .tags-settings__item {
        padding: 3px 8px;
      }
    }
  }

  &__values{
    color: rgba(0,0,0, .5);
  }

  &__attach {
    position: relative;

    flex-flow: column wrap;
    padding: 0 0 0 20px;

    margin: 0 auto 0 0;
    width: 100%;

    &--hide, &--show {
    }

    &--hide::before, &--show {
      position: absolute;
      //top: calc(50% - (12px/2));
      left: 8px;

      content: "";

      width: 12px;
      height: 12px;

      background-position: center center;
    }

    &--hide::before {
      @extend .icon-icon-attach-hide;
    }

    &--show::before {
      @extend .icon-icon-attach-show;
    }
  }
}