.template-list {
  width: 250px;
  display: flex;
  flex-flow: column;
  color: $textBlack;
  font-size: 15px;
  font-weight: 300;
  padding: 15px 0;

  &__is-not-templates{
    //padding: 0 12px;

  }

  &__mail-template-list{
    list-style: none;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
    margin: 0 0 15px;
    width: 250px;
  }
  &__mail-template-list-item{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .39em 12px;
    cursor: pointer;
    &:hover{
      background: rgba(0,0,0,.2);
    }
  }

  &__link{
    color: $textBlack;
  }
  &__template-name{

  }
  &__create-template{

  }

  &__save-button{
    padding: 15px 12px .39em;
  }

}