.textarea-translate-menu {
  position: sticky;
  top: 42px;
  z-index: 1;

  background-color: #fff;

  margin-bottom: 10px;
  padding: 5px 0 10px;

  text-align: center;

  &__button {
    border-radius: 0 !important;
    text-transform: uppercase;
    color: #999;

    &:hover {
      background-color: rgba(0, 0, 0, .05) !important;
      color: $textBlack;
    }
  }

  &__icon {
    margin: 0 10px;
  }
}