.time-send {
  position: relative;

  max-width: none !important;

  padding: 20px 20px;

  width: auto;
  //min-width: 360px;
  &--info-open {
    width: 490px;
  }

  &__close {
    position: absolute;

    top: 5px;
    right: 5px;

    width: 15px;
    height: 15px;
  }

  &__planing {
    display: flex;
    align-items: center;
  }

  &__planing-item {
    margin-left: 5px;
    white-space: nowrap;

    &:first-child {
    margin-left: 0;
  }
  }
  &__text-underline{
    color: #444;
    cursor: pointer;
    //text-decoration: none;
    border-bottom: 1px dotted;

  }
  &__dropdown{
    position: relative;
    top: 3px;
  }
}