.user-menu {
  width: 244px;
  max-width: none !important;

  &__item {

  }

  &__separator {
    border-top: 1px solid #D8D8D8;
  }

  &__link {
    display: flex;
    align-items: center;

    padding: 8px 12px;

    color: rgba($textBlack, .6)!important;

    &:hover {
      color: rgba($textBlack, 1)!important;
    }

    &--gray {
      color: rgba(0, 0, 0, .5)!important;
    }

    &--red {
      color: #000;

      &:hover {
        color: #d00;
      }
    }

    &--hover-gray {
      padding: 9px 20px;

      color: $textBlack!important;

      &:hover {
        background: rgba(0, 0, 0, .1);
      }

      .user-menu__title {
        padding-left: 0;
      }
    }
  }

  &__title {
    padding-left: 12px;

    overflow: hidden;
  }

  &__body {
    padding: 6px 0;

    &--bg-gray {
      background: #f6f5f3;

      border-bottom: 1px solid #d8d8d8;
    }

    &--no-mrg {
      margin: 0;
      padding: 0;
    }
  }
}