.user-signatures {
  padding: 15px;

  &__edit-text {
    display: inline-block;
    min-width: 100%;
    min-height: 142px;

    border: 1px solid $avatar-border-color;
  }

  &__view {
    position: relative;

    display: inline-block;
    min-width: 576px;
    min-height: 142px;

    background-color: $signature-pred-publick;
    box-shadow: $signature-shadow;

    padding: 20px;

    &:hover {
      .user-signatures__buttons {
        display: block;
      }
    }
  }

  .note-editor.note-frame .note-editing-area .note-editable {
    min-height: 85px !important;
  }

  &__buttons {
    position: absolute;

    display: none;

    top: 5px;
    right: 5px;
  }

  &__connection {
    display: flex;
    align-items: center;
  }

  &__text {
    position: relative;
  }

  &__connection-email {
    position: absolute;

    bottom: 5px;
    right: 5px;
  }
}

