<div class="time-send" ng-class="{'time-send--info-open': vm.isInfoOpen}">
    <div class="time-send__close pointer" ng-click="vm.close()">
        <img class="img-responsive" src="/images/cancel.svg">
    </div>
    <div class="time-send__content">
        <div class="time-send__info font__size13" ng-if="vm.isInfoOpen">
            Вы можете указать дату и время, когда письмо должно быть отправлено. Отправку письма можно отложить не более
            чем на один год с текущей даты.
        </div>
        <div class="time-send__planing mrg__top10">
            <div class="time-send__planing-item flex">
                <div class="checkbox-y checkbox-y--size15">
                    <label class="checkbox-y__label">
                        <input class="checkbox-y__input"
                               type="checkbox"
                               name="isChecked"
                               ng-model="vm.isChecked">
                        <div class="checkbox-y__body">
                            <span class="checkbox-y__icon"></span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="time-send__planing-item font__size15">
                <div class="dropdown dropup">
                    {{ 'SEND' | translate }} <button class="dropdown-toggle btn--not-style" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown2"
                       href="#" ng-disabled="!vm.isChecked">
                        {{ vm.timeForm.model.date.name }}
                    </button> в
                    <div class="dropdown-menu dropdown-menu--calendar" role="menu" aria-labelledby="dLabel">
                        <datetimepicker class="ui-calendar"
                                        data-ng-model="vm.timeForm.model.date.value"
                                        data-datetimepicker-config="{
                                            dropdownSelector: '.dropdown-toggle',
                                            minView: 'day'
                                        }"
                                        data-before-render="vm.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)">
                            <hr class="hr ui-calendar__hr">
                        </datetimepicker>
                    </div>
                </div>
            </div>
            <div class="time-send__planing-item">
                <ui-select ng-model="vm.timeForm.model.time"
                           class="select-list select-list--size_s select-list--not-border-of-sides width-inh"
                           theme="select2"
                           ng-click="$event.stopPropagation();"
                           search-enabled="false"
                           ng-disabled="!vm.isChecked">
                    <ui-select-match
                            class="select-list__body select-list--size_s width-inh"
                            placeholder="Время">
                        {{ $select.selected }}
                    </ui-select-match>
                    <ui-select-choices repeat="time in vm.timeList">
                        <div ng-bind-html="time"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="time-send__planing-item">
                <a class="link link--gray font__size18" href
                   ng-click="vm.isInfoOpen = !vm.isInfoOpen">
                    <span class="icon-info"></span>
                </a>
            </div>
        </div>
    </div>
</div>