<div>
    <div class="popup__close" ng-click="vm.close()">×</div>
    <div class="flex just-content--center">
        <div class="storage">
            <div class="storage__plans">
                <div class="storage__header">
                    <span class="color--red" ng-if="vm.isQuotaFull()">
                        {{ 'QUOTA_FULL' | translate }}
                    </span>
                    <br ng-if="vm.isQuotaFull()">
                    <span class="font__center">{{ 'STORAGE_HEADER' | translate }}</span>
                </div>
                <div class="storage__content mrg__top16">
                    <div class="storage__item"
                         ng-repeat="tariff in vm.tariff.items"
                         ng-class="{'is-check': vm.tariff.selected === tariff}">
                        <label ng-click="vm.createQuota(tariff)">
                            <div class="storage__space-pie"
                                 ng-class="{'storage__space-pie--yellow-orange': vm.tariff.selected === tariff,
                                'storage__space-pie--light-blue': vm.tariff.selected !== tariff}">
                                <span class="storage__volume-text">{{ tariff.name }}</span>
                            </div>
                            <div class="storage__plan-price">
                                {{ tariff.price }} {{ tariff.currency }}
                                <!--{{ 'PRICE_PLAN' | translate }}-->
                            </div>
                            <div class="storage__chose-plan">
                                <span class="icon-check-box-mark"></span>
                            </div>
                            <input style="display: none" name="tariff" type="radio" ng-model="vm.tariff.selected"
                                   ng-value="tariff">
                        </label>
                        <!--<div class="storage__pay-button radiobutton main-switch radiobutton&#45;&#45;size_s width&#45;&#45;size140 mrg__auto"
                             ng-if="vm.tariff.selected === tariff">
                            <input class="main-switch__input"
                                   type="radio"
                                   name="payType"
                                   value="sms"
                                   ng-model="vm.payType">
                            <span class="radiobutton&#45;&#45;size_s main-switch__btn main-switch__btn&#45;&#45;firs width&#45;&#45;inh">SMS</span>
                            <input class="main-switch__input"
                                   type="radio"
                                   name="payType"
                                   value="paypal"
                                   ng-model="vm.payType">
                            <span class="radiobutton&#45;&#45;size_s main-switch__btn main-switch__btn&#45;&#45;last width&#45;&#45;inh">PayPal</span>
                        </div>-->
                    </div>
                </div>

                <div class="storage__footer">
                    <span class="font__center mrg--t20" ng-if="vm.payType === 'sms' && vm.tariff.selected">{{ 'STORAGE_TEXT_1' | translate }}<b>&nbsp;{{ vm.tariff.selected.name }} &nbsp;</b>{{ 'STORAGE_TEXT_3' | translate }}<b> "Mail {{ vm.quota.result.code }}"&nbsp;</b>{{ 'STORAGE_TEXT_4' | translate }} {{ vm.tariff.selected.phone }}. {{ 'STORAGE_TEXT_5' | translate }} {{ vm.tariff.selected.price }} {{ 'STORAGE_TEXT_6' | translate }}.</span>
                </div>

                <div class="storage__footer" ng-if="vm.payType === 'paypal' && vm.tariff.selected">
                    <div class="">
                        <paypal-tariff-button tariff="vm.tariff.selected"></paypal-tariff-button>
                    </div>
                </div>

                <!--        <div ng-if="vm.payType === 'sms' && vm.tariff.selected">
                            <form name="smsForm" ng-submit="vm.setSms()" novalidate>
                                <input class="input input&#45;&#45;size_l"
                                       type="text"
                                       ng-model="vm.smsForm.model.code">
                                <button>Подтвердить</button>
                            </form>
                        </div>-->

            </div>
            <div class="storage__now-space">
                <div class="storage__header">
                    <span>{{ 'MAY_SPACE' | translate }}</span>
                </div>
                <div class="storage__content">
                    <div class="storage__now-item">
                        <div class="storage__space-pie pie storage__space-pie--my-space mrg__auto"
                             ng-class="{'storage__space-pie--my-space--red': vm.isQuotaFull()}"
                             storage-graph>
                        </div>

                        <div class="storage__free"
                             ng-class="{'color--white': vm.isQuotaFull()}">
                            <span ng-if="vm.user.profile.quota < 1024">
                                {{ vm.isNominalValue(vm.user.profile.quota) ? (vm.user.profile.quota | number:0) : (vm.user.profile.quota | number:3)  }} MB
                            </span>
                            <span ng-if="vm.user.profile.quota >= 1024">
                                {{ vm.isNominalValue(vm.user.profile.quota / 1024) ? (vm.user.profile.quota / 1000 | number:0) : (vm.user.profile.quota / 1024 | number:3)  }} GB
                            </span>
                        </div>

                        <div class="storage__footer mrg--t15">
                            <div class="storage__footer-content">
                                <span ng-if="vm.user.profile.freeQuota < 1024">
                                    {{ vm.isNominalValue(vm.user.profile.freeQuota) ? (vm.user.profile.freeQuota | number:0) : (vm.user.profile.freeQuota | number:3) }} MB
                                </span>
                                <span ng-if="vm.user.profile.freeQuota >= 1024">
                                    {{ vm.isNominalValue(vm.user.profile.freeQuota / 1024) ? (vm.user.profile.freeQuota / 1000 | number:0) : (vm.user.profile.freeQuota / 1024 | number:3) }} GB
                                </span>
                                <span class="font__size15">{{ 'STORAGE_USED_SPACE' | translate }}</span>
                                <div class="storage__hr "></div>
                            </div>
                            <div class="storage__footer-content"
                                ng-class="{'storage__footer-content--green': !vm.isQuotaFull(),
                                           'storage__footer-content--red': vm.isQuotaFull()}">
                                <span ng-if="vm.user.profile.freeQuota < 1024">
                                    {{ vm.isNominalValue(vm.user.profile.freeQuota) ? (vm.user.profile.usedQuota | number:0) : (vm.user.profile.usedQuota | number:3) }} MB
                                </span>
                                <span ng-if="vm.user.profile.freeQuota >= 1024">
                                    {{ vm.isNominalValue(vm.user.profile.usedQuota / 1024) ? (vm.user.profile.usedQuota /
                                    1024 | number:0) : (vm.user.profile.usedQuota / 1000 | number:3) }} GB
                                </span>
                                <span class="font__size15">{{ 'STORAGE_USED' | translate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>