<div class="auth-layout">

    <div class="auth-layout__content">
        <div class="auth-layout__form auth-layout__form--wd388 ">

            <div class="card">
                <div class="auth-form">

                    <div class="auth-form__logo mrg__bottom16">
                        <img class="img-responsive mrg__auto" src="/images/logo.png">
                    </div>

                    <form class="form" name="userForm" ng-submit="vm.signUp(userForm)" novalidate>

                        <!-- имя и фамилия -->
                        <div class="form__field-item mrg__bottom10 flex--inline">
                            <div class="field-style mrg__right5">
                                <input class="input input--size_l input--up-shadow width--inh" type="text"
                                       name="first_name"
                                       ng-model="vm.userForm.model.first_name"
                                       placeholder="Имя"
                                       required>
                                <validation-errors data="userForm.first_name"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.first_name">
                                </validation-errors>
                            </div>

                            <div class="field-style">
                                <input class="input input--size_l input--up-shadow width--inh" type="text"
                                       ng-model="vm.userForm.model.last_name"
                                       placeholder="Фамилия"
                                       required>
                                <validation-errors data="userForm.last_name"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.last_name">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- логин в базе -->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style">

                                <label class="field-style__title font__size13">Придумайте имя пользователю</label>

                                <div class="field-style__group">

                                    <input class="input input--size_l input--up-shadow width--inh"
                                           type="text"
                                           name="username"
                                           ng-model="vm.userForm.model.username"
                                           placeholder="Имя почты"
                                           required>

                                    <validation-errors data="userForm.username"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.username">
                                    </validation-errors>
                                   <!-- <div class="validation">
                                        <div class="validation__message validation__message&#45;&#45;red">
                                            Это имя пользователя уже занято. Попробуйте
                                            другое
                                        </div>
                                    </div>-->


                                </div>
                                <div class="">
                                    Свободно: abc779736
                                </div>
                            </div>
                        </div>

                        <!-- пароль -->
                        <div class="form__field-item mrg__bottom6">
                            <div class="field-style">
                                <input class="input input--size_l input--up-shadow width--inh"
                                       type="password"
                                       name="password"
                                       ng-model="vm.userForm.model.password"
                                       placeholder="Пароль"
                                       required>
                                <validation-errors data="userForm.password"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.password">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- подтверждение пароля -->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style">
                                <input class="input input--size_l input--up-shadow width--inh"
                                       type="password"
                                       name="passwordConf"
                                       ng-model="vm.userForm.model.passwordConf"
                                       placeholder="Подтверждение пароля"
                                       required>
                                <validation-errors data="userForm.passwordConf"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.passwordConf">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- СМС валидация -->
                        <div class="form__field-item mrg__bottom10 mrg__top25 flex flex--row-wrap sms-bg">
                            <div class="field-style mrg__right5 width--size177">
                                <input class="input input--size_l input--up-shadow width--inh"
                                       type="text"
                                       name="phone"
                                       ng-model="vm.userForm.model.phone"
                                       placeholder="+420 xxx xxx xxx"
                                       ui-mask="+420 999-999-999"
                                       required>
                            </div>
                            <div class="field-style width--inh">
                                <button class="btn btn--size_l btn--normal width--inh" type="button"
                                        ng-click="vm.sendCode()">Получить код
                                </button>
                            </div>

                            <validation-errors data="userForm.phone"
                                               server="vm.userForm.errors"
                                               messages="vm.userForm.validations.phone"></validation-errors>

                            <span class="notific notific--auth" ng-if="vm.codeResult">
                                    На номер +420 xxx xxx xxx был отправлен код проверки (временно)
                                    <span class="color--red">{{ vm.codeResult }}</span>
                            </span>
                        </div>

                        <!-- СМС подтверждение кода -->
                        <div class="form__field-item mrg__bottom20 flex sms-bg">
                            <div class="field-style mrg__right5 width--size177">
                                <input class="input input--size_l input--up-shadow width--inh"
                                       type="text"
                                       name="code"
                                       ng-model="vm.userForm.model.code"
                                       placeholder="Введите код из смс"
                                       required>
                                <validation-errors data="userForm.code"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.code">
                                </validation-errors>
                            </div>
                            <div class="field-style">
                                <button class="btn btn--size_l btn--normal width--inh" type="button">Подтвердить
                                </button>
                            </div>
                        </div>

                        <!-- Соглашение -->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style widtn--inh">
                                <!--<div class="checkbox">-->
                                <!--<span class="checkbox__" ></span>-->
                                <!--<input class="checkbox__input" id="checkbox" type="checkbox"  />-->
                                <!--<label class="checkbox__label" for="checkbox">Я переключаю чекбокс</label>-->
                                <!--</div>-->

                                <label class="checkbox checkbox_theme_islands checkbox_size_m checkbox_checked i-bem"
                                       data-bem='{"checkbox":{}}'>
                                    <span class="checkbox__box">
                                        <input class="checkbox__control"
                                               type="checkbox"
                                               autocomplete="off"
                                               name="name1"
                                               value="val_1"
                                               checked="checked"/>
                                    </span>
                                    <span class="checkbox__text" role="presentation">
                                         Подтверждая регистрацию вы принимаете правила
                                описанные в <a class="link link-aith" href="">Пользовательском соглашении</a>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <!-- Зарегистрироватся -->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style">
                                <button class="btn btn--size_l btn--red width--inh" type="submit">Регистрация</button>
                            </div>
                        </div>

                    </form>

                    <hr class="hr hr--auth ">
                    <button class="btn btn--size_l btn--link-style width--inh" ui-sref="signIn">Вход</button>
                </div>
            </div>

        </div>
    </div>

    <div class="auth-layout__bg"></div>
</div>

<!-- футтер на странице авторизации-->
<div class="footer footer__auth">

    <!-- Копирайт-->
    <div class="footer__copyright">
        <span class="">© 2001—2017 «Mail.cz» Group a.s.</span>
    </div>

    <!-- Основное меню-->
    <div class="footer__menu">
        <div class="navigation">
            <div class="navigation__row">
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Поиск</a>
                </div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a"
                                                 href="">Контакты</a></div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Файлы</a>
                </div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Новости</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Дополнительное меню с выбором языка-->
    <div class="footer__right-menu  mrg__right">

        <div class="navigation">
            <div class="navigation__row">
                <div class="navigation__item">
                    <div class="nav-language">
                        <a class="navigation__link" href="">
                            <img class="country" src="" alt="">
                        </a>
                    </div>
                </div>
                <div class="navigation__item"><a class="navigation__link" href="">Контакты</a></div>
                <div class="navigation__item"><a class="navigation__link" href="">Реклама</a></div>
            </div>
        </div>
    </div>

</div>