<div class="inbox-header font-sizer--bigger-15">
    <div class="inbox-header__row">
        <div class="inbox-header__item inbox-header__item--checked" ng-if="vm.$state.current.name === 'mail.inbox'">
            <div class="checkbox-y checkbox-y--size14">
                <label class="checkbox-y__label">
                    <input class="checkbox-y__input" type="checkbox"
                           ng-model="vm.isAllChecked"
                           ng-change="vm.checkedAllMessages()"
                           ng-disabled="!vm.messages.items.length">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                </label>
            </div>
        </div>
        <div class="inbox-header__item" ng-if="vm.$state.current.name === 'mail.message'">
            <a class="inbox-header__link" href ng-click="vm.goToAnswer()">
                <span class="icon-write inbox-header__icon inbox-header__icon--blue"></span>
                <span class="inbox-header__name">{{ 'REPLAY' | translate }}</span>
            </a>
        </div>
        <div class="inbox-header__item">
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               ng-click="vm.goToFwd()"
               ng-disabled="true">
                <span class="icon-forward inbox-header__icon inbox-header__icon--blue"></span>
                <span class="inbox-header__name">{{ 'FORWARD' | translate }}</span>
            </a>
        </div>
        <div class="inbox-header__item">
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               ng-if="vm.$state.params.mbox !== 'Trash'"
               ng-click="vm.move({name: 'Trash', caption: 'Корзина'})">
                <span class="icon-bin inbox-header__icon inbox-header__icon--red"></span>
                <span class="inbox-header__name">{{ 'DELETE' | translate }}</span>
            </a>
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               ng-if="vm.$state.params.mbox === 'Trash'"
               ng-click="vm.destroy({name: 'Trash'})">
                <span class="icon-bin inbox-header__icon inbox-header__icon--red"></span>
                <span class="inbox-header__name">{{ 'DELETE' | translate }}</span>
            </a>
        </div>
        <div class="inbox-header__item">
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               ng-if="vm.$state.params.mbox !== 'Junk'"
               ng-click="vm.move({name: 'Junk', caption: 'Спам'})">
                <span class="icon-spam inbox-header__icon inbox-header__icon--yellow"></span>
                <span class="inbox-header__name">{{ 'SPAM' | translate }}</span>
            </a>
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               ng-if="vm.$state.params.mbox === 'Junk'"
               ng-click="vm.move({name: 'Inbox', caption: 'Входящие'})">
                <span class="icon-redo inbox-header__icon inbox-header__icon--blue"></span>
                <span class="inbox-header__name">{{ 'NOT_SPAM' | translate }}</span>
            </a>
        </div>
        <div class="inbox-header__item">
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               ng-click="vm.triggerSeen()">
                <span class="icon-unread inbox-header__icon inbox-header__icon--blue"></span>
                <span class="inbox-header__name" ng-if="vm.isSeen">{{ 'NOT_READ' | translate }}</span>
                <span class="inbox-header__name" ng-if="!vm.isSeen">{{ 'READ' | translate }}</span>
            </a>
        </div>
        <div class="inbox-header__item">
            <a class="inbox-header__link" href
               ng-if="vm.messages.checked.length"
               uib-popover-template="'app/components/tag-list/tag-list-popover.html'"
               popover-class="popover--tag-list"
               popover-placement="bottom"
               popover-animation="true"
               popover-trigger="'outsideClick'"
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}">
                <span class="icon-tag inbox-header__icon inbox-header__icon--blue"></span>
                <div class="inbox-header__name">
                    {{ 'LABEL' | translate }}
                    <span class="icon-arrow-down inbox-header__name-icon"></span>
                </div>
            </a>
            <a class="inbox-header__link inbox-header__link--disabled link--disabled"
               ng-if="!vm.messages.checked.length">
                <span class="icon-tag inbox-header__icon inbox-header__icon--blue"></span>
                <div class="inbox-header__name">
                    {{ 'LABEL' | translate }}
                    <span class="icon-arrow-down inbox-header__name-icon opacity--0"></span>
                </div>
            </a>
        </div>
        <div class="inbox-header__item">
            <a class="inbox-header__link" href
               ng-if="vm.messages.checked.length"
               uib-popover-template="'app/components/folder-list/folder-list-popover.html'"
               popover-class="popover--folder-list"
               popover-placement="bottom"
               popover-animation="true"
               popover-trigger="'outsideClick'">
                <span class="icon-folder inbox-header__icon inbox-header__icon--blue"></span>
                <div class="inbox-header__name">
                    {{ 'IN_FOLDER' | translate }}
                    <span class="icon-arrow-down inbox-header__name-icon"></span>
                </div>
            </a>

            <a class="inbox-header__link inbox-header__link--disabled link--disabled"
               ng-if="!vm.messages.checked.length">
                <span class="icon-folder inbox-header__icon inbox-header__icon--blue"></span>
                <div class="inbox-header__name">
                    {{ 'IN_FOLDER' | translate }}
                    <span class="icon-arrow-down inbox-header__name-icon opacity--0"></span>
                </div>
            </a>
        </div>
        <div class="inbox-header__item">
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               ng-click="vm.move({name: 'Archive', caption: 'Архив'})">
                <span class="icon-archive inbox-header__icon inbox-header__icon--blue"></span>
                <span class="inbox-header__name"> {{ 'ARCHIVED' | translate }}</span>
            </a>
        </div>
        <div class="inbox-header__item" ng-if="vm.$state.current.name === 'mail.message'">
            <a class="inbox-header__link" href
               ng-class="{'inbox-header__link--disabled link--disabled': !vm.messages.checked.length}"
               uib-popover-template="'app/components/more-list/more-list-popover.html'"
               popover-class="popover--more-list"
               popover-placement="bottom"
               popover-animation="true"
               popover-trigger="'outsideClick'">
                <span class="icon-more inbox-header__icon inbox-header__icon--blue"></span>
                <span class="inbox-header__name">{{ 'YET' | translate }}</span>
            </a>
        </div>
    </div>
</div>