<div class="menu-settings-layout font-sizer--bigger-15">
    <div class="menu-settings">
        <div class="menu-settings__list ">
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.main" ui-sref-active="menu-settings__link--active">Управление аккаунтом</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.folders" ui-sref-active="menu-settings__link--active">Папки</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.tags" ui-sref-active="menu-settings__link--active">Метки</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.rules" ui-sref-active="menu-settings__link--active">Правила обработки</a>
            </div>
            <div class="menu-settings__item" >
                <a class="menu-settings__link" ui-sref="settings.accounts" ui-sref-active="menu-settings__link--active">Почта с других ящиков</a>
            </div>
        </div>
    </div>

    <hr class="hr hr--dotted menu-settings-layout__hr ">

    <div class="menu-settings ">
        <div class="menu-settings__list">
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.contacts" ui-sref-active="menu-settings__link--active">Настройки контактов</a>
            </div>
        </div>
    </div>

    <hr class="hr hr--dotted menu-settings-layout__hr">

    <div class="menu-settings">
        <div class="menu-settings__list">
            <div class="menu-settings__item">
                <a class="menu-settings__link" href="">
                    Язык: Русский
                </a>
            </div>
            <div class="menu-settings__item mrg__top20">
                <a class="menu-settings__link" href
                   uib-popover-template="'app/components/timezone-list/timezone-list-popover.html'"
                   popover-class="popover--more-list"
                   popover-placement="bottom"
                   popover-animation="true"
                   popover-trigger="'outsideClick'"
                   popover-is-open="vm.isOpen">
                    <!--Часы: (GMT+02:00) Киев-->
                    Часы: {{  vm.user.profile.timezone }}
                </a>
            </div>
        </div>
    </div>

    <div class="menu-settings-layout__padding">

        <button class="btn-y btn-y--size26 btn-y--border pointer mrg__top20" type="button" href
                ng-click="vm.openPasswordChangePopup()">
            Поменять пароль
        </button>

        <p class="menu-settings-layout__pass-info mrg__top5">
            Рекомендуем вам в целях безопасности менять пароль каждые 6 месяцев, а также указать дополнительные данные о
            себе — это поможет восстановить пароль, если вы его забудете.
        </p>

    </div>

</div>