<div class="search-mail" search-mail-open>
    <form name="searchForm" ng-submit="vm.search(searchForm)" novalidate>
        <div class="search-mail__body">
            <div class="search-mail__close" ng-if="isOpen">
                <button class="btn-y btn-y--white btn-y--close"
                        type="button"
                        ng-click="close(); vm.searchForm.model.search = ''">
                    <img class="btn-y__icon" src="/images/cancel.svg" alt="close search">
                </button>
            </div>
            <div class="search-mail__group">
                <input class="input input--size_m input--fc-sh-yellow search-mail__input font--inh"
                       placeholder="{{ 'INPUT_PLACEHOLDER_SEARCH_QUERY' | translate }}" type="text"
                       name="search"
                       ng-model="vm.searchForm.model.search"
                       ng-click="open()"/>
                <button class="btn-y btn-y--border search-mail__button font--inh"
                        type="submit"
                        ng-if="isOpen">
                    {{ 'SEARCH' | translate }}
                </button>
                <button class="btn-y btn-y--border search-mail__button font--inh"
                        type="button"
                        ng-if="!isOpen"
                        ng-click="open()">
                    {{ 'SEARCH' | translate }}
                </button>

                <button class="search-mail__reset btn btn--size_m btn--not-style btn--not-events"
                        type="button"
                        ng-if="isOpen"
                        ng-click="vm.searchForm.model.search = ''">
                    <span class="icon-close-thin"></span>
                </button>

                <button class="search-mail__filter btn btn--size_m btn--not-style btn--not-events font__size10"
                        type="button"
                        ng-if="isOpen"
                        ng-class="{'is-open': vm.isOpenFilters}"
                        uib-popover-template="'app/components/search-mail/search-mail-popover.html'"
                        popover-class="popover--search-filters popover--no-arrow"
                        popover-placement="bottom"
                        popover-animation="true"
                        popover-is-open="vm.isOpenFilters"
                        popover-trigger="'outsideClick'">
                    <span class="icon-select-arrow"></span>
                </button>
            </div>
        </div>
    </form>
</div>