<div class="contacts-list-is-null">
    <!--
        клсс переключатель при наведении файла contacts-list-is-null__content--is-hover-file
    -->
    <form class="contacts-list-is-null__content ng-pristine ng-valid" name="uploadForm" ng-submit="vm.upload(uploadForm)"
          ngf-drop
          ngf-select="vm.upload(uploadForm)"
          type="file"
          name="file"
          ng-model="vm.uploadForm.model.file"
          accept="text/x-vcard"
          ngf-max-size="2MB"
          ngf-model-invalid="vm.uploadForm.errors"
          ngf-allow-dir="true"
          ngf-drag-over-class="'contacts-list-is-null__content--is-hover-file'">

        <div class="contacts-list-is-null__adder hide-elm">
            <input class="contacts-list-is-null__drop-mode hide-elm" type="file" name="data" >
        </div>

        <div class="contacts-list-is-null__title">{{ 'DOWNLOAD_CONTACTS_FORM_FILE' | translate }}</div>
        <div class="contacts-list-is-null__text">{{ 'SUPPORTS_IMPORT' | translate }}</div>

        <div class="contacts-list-is-null__text-comment">{{ 'DRAG_THE_FILE_HERE' | translate }}</div>

        <div class="contacts-list-is-null__error-added-file" ngf-no-file-drop>
            {{ 'CONTACT_IMPORT_FAIL' }}
        </div>

        <button class="btn btn--normal btn--size_xs btn--silver-hover"
                type="file"
                name="file"
                ng-model="vm.uploadForm.model.file"
                ngf-select="vm.upload(uploadForm)"
                accept="text/x-vcard"
                ngf-max-size="2MB"
                ngf-model-invalid="vm.uploadForm.errors"
                required>{{ 'OR_SELECT_A_FILE' | translate }}</button>
    </form>

    <div class="contacts-list-is-null__success hide-elm">
        <div class="">
            <span class="contacts-list-is-null__success-title icon-check-box-mark mrg--r5"></span>
            {{ 'CONTACTS_MOVER' | translate }}
        </div>
    </div>
</div>
