<div class="contact-group-create">
    <div class="viewed-contact">

        <div class="viewed-contact__header">
            <span class="">{{ 'ABOUT_CONTACTS' | translate }}</span>
        </div>

        <div class="viewed-contact__content">
            <div class="viewed-contact__column">

                <div class="viewed-contact__avatar">
                    <div class="avatar avatar--settings avatar--size50 avatar--second-style ">
                        <img class="avatar__image" src="/images/avatar-personal.svg">
                    </div>
                </div>

                <div class="viewed-contact__caption">
                    <div class="viewed-contact__contact-name">
                        {{ vm.contact.last_name }} {{ vm.contact.first_name }}
                    </div>

                    <div class="viewed-contact__control-elements">
                        <button class="btn btn--normal btn--size_sm width--aut mrg__right7"
                                type="button"
                                ng-click="vm.close(); vm.openComposePopup()">
                            {{ 'WRITE_LETTERS' | translate }}
                        </button>
                        <button class="btn btn--normal btn--size_sm width--aut flex align-items--cn mrg__right7"
                                type="button"
                                ng-click="vm.close(); vm.openComposePopup()">
                            <svg class="svg-icon mrg__right10">
                                <use xlink:href="#conacts-sort-message"></use>
                            </svg>
                            {{ '' | translate }}
                        </button>
                        <button class="btn btn--normal btn--size_sm width--aut flex align-items--cn mrg__right7"
                                type="button"
                                ng-click="vm.addToBlackList()">
                            <svg class="svg-icon svg-icon--red">
                                <use xlink:href="#conacts-add-black-list"></use>
                            </svg>
                        </button>
                        <!--<button class="btn btn&#45;&#45;normal btn&#45;&#45;size_sm width&#45;&#45;aut icon-attach font__size16"></button>-->
                    </div>
                </div>
            </div>


            <div class="viewed-contact__column">

                <hr class="hr hr--top">

                <div class="viewed-contact__left">

                    <!-- Адреса электронной почты-->
                    <div class="viewed-contact__item" ng-if="vm.contact.emails.length">
                         <span class="viewed-contact__icon">
                            <svg class="svg-icon">
                                <use xlink:href="#conact-icon-mail"></use>
                            </svg>
                         </span>
                        <!-- список-->
                        <div class="viewed-contact__emails">
                            <div ng-repeat="email in vm.contact.emails">
                                <a class="viewed-contact__link" href>
                                    {{ email.value }}
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Тут вводится группы-->
                    <div class="viewed-contact__item" ng-if="vm.contact.contactGroups.length">
                         <span class="viewed-contact__icon">
                            <svg class="svg-icon">
                                <use xlink:href="#conacts-add-group"></use>
                            </svg>
                         </span>
                        <!-- список-->
                        <div class="viewed-contact__groups">
                            <span class="viewed-contact__group-item"
                                  ng-repeat="contactGroup in vm.contact.contactGroups">
                                <svg class="viewed-contact__group-item__icon group-icon group-pall--c-1">
                                    <use xlink:href="#grid-square"></use>
                                </svg>
                                {{ contactGroup.name }}
                            </span>
                        </div>
                    </div>

                    <!-- Тут вводитс номер телефона-->
                    <div class="viewed-contact__item" ng-if="vm.contact.phones.length">
                         <span class="viewed-contact__icon">
                            <svg class="svg-icon">
                                <use xlink:href="#contact-phone"></use>
                            </svg>
                         </span>
                        <!-- список-->
                        <div class="viewed-contact__phones">
                            <span class="viewed-contact__number-phone" ng-repeat="phone in vm.contact.phones">
                                {{ phone.value }}
                            </span>
                        </div>
                    </div>

                    <!-- дата рождения-->
                    <div class="viewed-contact__item" ng-if="vm.contact.birthday">
                        <span class="viewed-contact__icon">
                            <svg class="svg-icon">
                                <use xlink:href="#contact-birthday"></use>
                            </svg>
                        </span>
                        <div class="viewed-contact__birthday">
                            {{ vm.getDate(vm.contact.birthday) }}
                        </div>
                    </div>
                </div>

                <div class="viewed-contact__right">
                    <div class="viewed-contact__item align-items--st" ng-if="vm.contact.comment">
                        <span class="viewed-contact__icon">
                            <svg class="svg-icon">
                                <use xlink:href="#conact-comment"></use>
                            </svg>
                        </span>

                        <div class="viewed-contact__text-field">
                            <span>
                                {{ vm.contact.comment }}
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <hr class="hr hr--bottom">

        </div>

        <div class="viewed-contact__footer">
            <button class="btn btn--normal btn--size_sm width--aut float--left"
                    type="button"
                    ng-click="vm.openContactEditPopup()">
                {{ 'CHANGE' | translate }}
            </button>
        </div>

    </div>
</div>