<compose-header></compose-header>

<div class="layout--padding20">
    <form name="sendForm" ng-submit="vm.send(sendForm)" novalidate>

        <div class="compose-from mrg__top20">
            <div class="compose-from__item font__size13" ng-if="vm.$state.params.template">
                <button class="btn btn--size_s btn--yellow width--inh"
                        type="button"
                        ng-click="vm.save()">
                    Сохранить шаблон
                </button>
            </div>
            <div class="compose-from__item font__size13">
                <button class="btn btn--size_s btn--yellow width--inh" type="submit">Отправить</button>
            </div>
            <div class="compose-from__item font__size13">от кого:</div>
            <div class="compose-from__item font__size15">
                <div class="avatar avatar--size28">
                    <img class="avatar__image" src="/images/avatar.png">
                </div>
            </div>
            <div class="compose-from__item font__size15">
                {{ vm.user.profile.email }}
            </div>
            <div class="compose-from__item font--size13">
                <button class="btn-y" type="button">
                    ({{ vm.user.profile.email }})
                    <span class="btn-y__icon btn-y__icon--arrow icon-arrow-down"></span>
                </button>
            </div>
        </div>

        <div class="input-line input-line--full mrg__top20 position">
            <label class="input-line__label">
                <a class="link link--gray link--hv-red font__size13" href="">Кому</a>
            </label>
            <div class="input-line__links">
                <a class="link link--violet link--hv-red font__size15" href ng-click="vm.isCopy = true">
                    Копия
                </a>
                <a class="link link--violet link--hv-red font__size15" href="#"
                   ng-click="vm.isCopyHidden = true">
                    Скрытая копия
                </a>
            </div>
            <contact-to-add-select addresses="vm.sendForm.model.to"></contact-to-add-select>
        </div>

        <div class="input-line__error" ng-if="sendForm.to.$invalid && sendForm.$submitted">
            Поле не заполнено. Необходимо ввести адрес.
        </div>

        <div class="input-line input-line--full position mrg__top10" ng-if="vm.isCopy">
            <label class="input-line__label">
                <a class="link link--gray link--hv-re font__size13" href="">Копия</a>
            </label>
            <contact-to-add-select addresses="vm.sendForm.model.toCopy"></contact-to-add-select>
        </div>
        <div class="input-line input-line--full position mrg__top10" ng-if="vm.isCopyHidden">
            <label class="input-line__label">
                <a class="link link--gray link--hv-re font__size13" href="">Скрытая</a>
            </label>
            <contact-to-add-select addresses="vm.sendForm.model.toCopyHidden"></contact-to-add-select>
        </div>

        <div class="input-line input-line--full mrg__top10">
            <div class="input-line__body">
                <label class="input-line__label">
                    <a class="link link--gray link--hv-re font__size13" href="">Тема</a>
                </label>
                <div class="input-line__links">
                    <a class="link link--violet link--hv-red font__size13"
                       uib-popover-template="'app/components/template-list/template-list-popover.html'"
                       popover-class="popover--template-list"
                       popover-placement="bottom-right"
                       popover-animation="true"
                       popover-trigger="'outsideClick'">
                        Шаблон
                    </a>
                </div>
                <input class="input-line__input" type="text"
                       ng-model="vm.sendForm.model.subject">
            </div>
        </div>

        <div class="mrg__top20">
            <div message-textarea ng-model="vm.sendForm.model.body"></div>
        </div>

        <div class="row mrg__top20">
            <div class="col-xs-6">

                <!--<compose-send></compose-send>-->

                <div class="compose-send">
                    <div class="btn-group compose-send__item">
                        <button class="btn-group__btn btn btn--size_m btn--yellow"
                                type="submit">Отправить <span ng-if="vm.sendForm.model.sdate">в</span>
                            {{ vm.sendForm.model.sdate }}
                        </button>
                        <button class="btn-group__btn btn btn--size_m btn--yellow"
                                type="button"
                                uib-popover-template="'app/components/time-send/time-send-popover.html'"
                                popover-class="popover--time-send popover--no-arrow"
                                popover-placement="top"
                                popover-animation="true"
                                popover-trigger="'outsideClick'">
                            <span class="icon-clock"></span>
                        </button>
                    </div>

                    <button class="btn btn--not-style btn--attach btn--size_m btn--not-events width--size28 icon-attach font__size16 mrg__left5 compose-send__item"
                            type="file"
                            multiple
                            accept="**/*"
                            ngf-select="vm.upload($files, $invalidFiles)">
                        <!--<span class="icon-attach"></span>-->
                    </button>

                </div>
            </div>
            <div class="col-xs-6">
                <p class="font__size13 pull-right">
                    Сохранено как черновик в
                    <to-date date="vm.sendForm.model.date.date"></to-date>
                </p>
            </div>
        </div>

        <div class="row mrg__top20">
            <div class="col-xs-12">
                <attach-upload attachments-data="vm.sendForm.model.attachmentsData"
                               message="vm.sendForm"
                               is-uploading="vm.isUploading"></attach-upload>

            </div>
        </div>

    </form>
</div>