<div class="popup">
    <div class="popup__header">
        <span class="">{{ 'CREATE_LABEL' | translate }}</span>
    </div>

    <form name="paletteForm" ng-submit="vm.create(paletteForm)" novalidate>

        <div class="popup__content just-content--center pdd--t20 pdd--b20">
            <span class="mrg--t4 mrg--r10">{{ 'NAME' | translate }}</span>

            <div class="">
                <input class="input input--size_sm input--up-shadow width--size208"
                       type="text"
                       name="tag_name"
                       ng-model="vm.paletteForm.model.tag_name"
                       required/>
                <div class="palette-list mrg--t20">
                    <input type="hidden"
                           name="palette"
                           ng-model="vm.paletteForm.model.bgcolor"
                           required>
                    <div class="palette-list__item"
                         style="background-color: {{ palette.color }}"
                         ng-repeat="palette in vm.palette.items track by $index"
                         ng-click="vm.select(palette)">
                        <span class="palette-list__icon icon-check-box-mark" ng-if="palette.color === vm.palette.selected.color"></span>
                    </div>
                </div>
            </div>

            <hr class="hr hr--bottom">
        </div>

        <div class="popup__footer">
            <button class="btn btn--normal btn--size_l"
                    type="button"
                    ng-click="vm.close()">{{ 'CANCEL' | translate }}</button>

            <button class="btn btn--yellow btn--size_l"
                    type="submit">{{ 'CREATE_TAG' | translate }}</button>
        </div>
    </form>
</div>