<div class="folder-create">
    <div class="tag-create__title">Создаём папку</div>

    <div class="mrg__top15">
        <form name="form" ng-submit="vm.create(form)" novalidate>
            <div class="folder-create__input mrg__top15">
                <div class="mrg__right10">
                    <span class="font__size13">Название</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           name="mbox"
                           ng-model="vm.form.model.mbox"
                           type="text"
                           required>
                    <!--<a class="link link&#45;&#45;dotted link&#45;&#45;violet font__size13" href="">Вложить в другую папку</a>-->
                </div>
            </div>

            <div class="folder-create__btn mrg__top40">
                <button class="btn-y btn-y--border" type="submit">Создать папку</button>
                <button class="btn-y btn-y--border">Отменить</button>
            </div>
        </form>
    </div>
</div>