<div class="contact-other-list">
    <div>
        <a class="contact-other-list__link" href
           ng-click="vm.openContactImportFilePopup()">
            <span class="contact-other-list__name">
                {{ 'BTN_LOAD_CONTACT_0F_FILE' | translate }}
            </span>
        </a>
        <a class="contact-other-list__link" href
           ng-click="vm.openContactExportFilePopup()">
            <span class="contact-other-list__name">
                {{ 'LOAD_CONTACT_IN_FILE' | translate }}
            </span>
        </a>
    </div>
</div>