<div class="contact-group-create">
    <div class="restore-contacts">

        <div class="restore-contacts__header">
            <span class="">Восстановление контактов</span>
        </div>

        <div class="restore-contacts__content">
            <!---->
            <div class="restore-contacts__item">
                <span class="restore-contacts__date">11 апреля 2017 5:08</span>
                <span class="restore-contacts__count">1 контакт</span>
            </div>

            <!---->
            <div class="restore-contacts__item is-selected">
                <span class="restore-contacts__date">11 апреля 2017 5:08</span>
                <span class="restore-contacts__count">1 контакт</span>
            </div>

            <!---->
            <div class="restore-contacts__item">
                <span class="restore-contacts__date">11 апреля 2017 5:08</span>
                <span class="restore-contacts__count">1 контакт</span>
            </div>

            <!---->
            <div class="restore-contacts__item">
                <span class="restore-contacts__date">11 апреля 2017 5:08</span>
                <span class="restore-contacts__count">1 контакт</span>
            </div>

            <!---->
            <div class="restore-contacts__item">
                <span class="restore-contacts__date">11 апреля 2017 5:08</span>
                <span class="restore-contacts__count">1 контакт</span>
            </div>


        </div>

        <div class="restore-contacts__footer">
            <hr class="hr hr--top">
            <button class="btn btn--normal btn--size_l width--aut float--left"> Восстановить
                контакты
            </button>
        </div>

    </div>
</div>