<section class="main-layout" layout-height>
    <div class="main-layout__header">
        <header></header>
    </div>

    <div class="main-layout__inner">
        <div class="main-layout__left">
            <div class="main-layout__menu resize-menu" resize-menu>
                <div class="main-layout__button-up">
                    <button class="icon-arrow-up-2 btn btn--page-up"
                            type="button"
                            scroll-up>
                    </button>
                </div>
                <button class="main-layout__menu-switch btn--not-style"
                        type="button"
                        ng-click="close()">
                </button>
                <menu-main folder="vm.folder"></menu-main>
            </div>
        </div>

        <div class="main-layout__content">
            <!--
            class="height-flex--content position"
            -->
            <ui-view class="height-flex--content" ng-class="{'flex':listViewStyle}"></ui-view>

            <div class="main-layout__footer" ng-if="!listViewStyle">
                <footer></footer>
            </div>
        </div>

        <!--<div class="main-layout__right">-->
        <!--<div class="main-layout__banner">-->
        <!--<div class="banner-block banner-block&#45;&#45;size160x600">-->
        <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <!--&lt;!&ndash; My.mail.cz 160x600 &ndash;&gt;-->
        <!--<ins class="adsbygoogle"-->
        <!--style="display:inline-block;width:160px;height:600px"-->
        <!--data-ad-client="ca-pub-7169913763254428"-->
        <!--data-ad-slot="9800681361"></ins>-->
        <!--<script>-->
        <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
        <!--</script>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!---->
    </div>
</section>
