<!--<div class="l1 ">-->
    <!--<div class="l1__l2">-->
        <div class="footer">
            <div class="footer__row">

                <div class="footer-left">
                    <div class="footer__date-info">
                        Последний вход 31 марта 2017 года в 17:30
                    </div>
                </div>

                <div class="footer-right">

                    <!--<div class="footer-right__elemets">-->
                        <!--<a href="">Помощь</a>-->
                    <!--</div>-->

                    <div class="footer-right__elemets">
                        © 2017, Mail.cz
                    </div>

                    <div class="footer-right__elemets ">
                        <!-- Языковое меню-->
                        <div class="choice-language choice-language--main-footer">

                            <a class="choice-language__link choice-language--active" href=""><img
                                    class="choice-language__country" src="images/country/albania.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/bosnia.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/croatia.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/cz.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/macedonia.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/russia.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/serbia.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/slovakia.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/Slovenia.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/uk.svg" alt=""></a>
                            <!---->
                            <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                          src="images/country/ukraine.svg" alt=""></a>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    <!--</div>-->
<!--</div>-->

