<div class="footer">
    <div class="footer__row">
        <div class="footer-left">
            <div class="footer__date-info" ng-if="vm.user.profile.last_login">
                {{ 'FOOTER_LAST_SING_IN' | translate }}
                <to-date class="mrg--l3"
                         date-unix="vm.user.profile.last_login">
                </to-date>
            </div>
        </div>

        <div class="footer-right">
            <div class="footer-right__elemets">
                © 2017, Mail.{{ vm.CONFIG.domainZone }}
            </div>

            <div class="footer-right__elemets">
                <choice-language class="choice-language--main-footer"></choice-language>
            </div>
        </div>
    </div>
</div>
