<div class="info-sender-menu">
    <div class="info-sender-menu__header" id="info-sender-to">
        {{ vm.to.address }}
    </div>

    <div class="flex flex--colum">
        <button class="info-sender-menu__button" type="button"
                ng-click="vm.openComposePopup(); vm.close();">
            {{ 'WRITE_LETTER' | translate }}
        </button>
        <button class="info-sender-menu__button"
                type="button"
                ng-click="vm.close()"
                ngclipboard data-clipboard-target="#info-sender-to">
            {{ 'COPY_ADDRESS' | translate }}
        </button>
    </div>
</div>