<div class="info-sender-menu">
    <div class="info-sender-menu__header">
        {{ to.name || to.address || to.fullAddress || to }}
        twic@sandbox.mail.cz

        <!--<avatar-name-->
                <!--class="avatar avatar&#45;&#45;settings avatar&#45;&#45;size20 avatar&#45;&#45;second-style mrg&#45;&#45;l10"-->
                <!--name="to.name" email="to.address || to.fullAddress">-->
        <!--</avatar-name>-->

    </div>

    <div class="flex flex--colum">
        <button class="info-sender-menu__button" type="button" ng-click="">Написать писльмо</button>

        <button class="info-sender-menu__button" type="button" ng-click="">Скопировать адрес</button>
    </div>
</div>