<div class="info-sender-menu">
    <div class="info-sender-menu__header" id="info-sender-to">
        {{ vm.to.name || vm.to.address || vm.to.fullAddress || vm.to }}
    </div>

    <div class="flex flex--colum">
        <button class="info-sender-menu__button" type="button"
                ng-click="vm.openComposePopup(); vm.close();">
            Написать писльмо
        </button>
        <button class="info-sender-menu__button"
                type="button"
                ng-click="vm.close()"
                ngclipboard data-clipboard-target="#info-sender-to">
            Скопировать адрес
        </button>
    </div>
</div>