<div class="social-auth hide">
    <div class="social-auth__row">
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=facebook">
                <img class="" src="/images/social/icon-32x32-fb.png">
            </a>
        </div>
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=google">
                <img class="" src="/images/social/icon-32x32-google.png">
            </a>
        </div>
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=twitter">
                <img class="" src="/images/social/icon-32x32-twitter.png">
            </a>
        </div>
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=linkedin">
                <img class="" src="/images/social/icon-32x32-linkedin.png">
            </a>
        </div>
    </div>
</div>
<div class="social-auth">
    <div class=" social-icons width--inh">
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--fb-icon" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=facebook"></a>
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--gp-icon" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=google"></a>
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--tw-icon" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=twitter"></a>
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--ln-icon" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=linkedin"></a>
    </div>
</div>