.color__white {
  color: #fff;
}
.color__gray {
  color: #717376;
}

.pointer {
  cursor: pointer;
}

.layout {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 60px;
}
.layout__inner {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  height: 100%;
}
.layout__menu {
  position: relative;
  width: 260px;
  height: 100%;
  background: #edeff3;
}

.menu-main {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}
.menu-main__icon {
  margin-right: 8px;
}
.menu-main__link {
  display: block;
  padding: 0 20px;
  color: #000;
  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 26px;
}
.menu-main__link:hover {
  background: rgba(0, 0, 0, 0.1);
}
.menu-main__link--gray {
  color: rgba(0, 0, 0, 0.5);
}
.menu-main__link--active {
  color: #fff;
  background: #8ea4d3 !important;
}
.menu-main__link--open:before {
  content: "";
}
.menu-main__sub .menu-main__link {
  padding-left: 70px;
}
.menu-main__counter {
  float: right;
}
.menu-main--tag {
  display: block;
  padding: 0 20px;
}
.menu-main--tag .menu-main__item {
  float: left;
  width: 50%;
}
.menu-main--tag:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background: #e1e5eb;
}
.header__name {
  color: #717376;
  font-size: 13px;
}
.header__spinner {
  width: 30px;
  margin: 10px;
}
.header__logo {
  width: 130px;
}
.header__settings-link {
  color: #717376;
  font-size: 20px;
}
.header__settings-link:hover {
  color: #000;
}
.header__left {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
.header__left-item {
  margin-right: 20px;
}

.navigation__row {
  display: flex;
  flex-direction: row;
}
.navigation__item {
  margin-right: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  color: #707275;
  font-size: 11px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}
.navigation__link--active {
  color: #000;
}
.navigation__link:hover {
  color: #000;
}

.hr {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.btn-y {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 9px;
  font-size: 13px;
  background: none;
  border: 1px solid transparent;
}
.btn-y:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-y:active, .btn-y:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffeba0;
}
.btn-y__active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffeba0;
}
.btn-y__icon {
  margin-right: 4px;
}

.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.avatar--size42 {
  width: 42px;
  height: 42px;
}
.avatar__image {
  width: 100%;
  height: 100%;
}

.round {
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}
.round--yellow {
  background: #f1cb30;
}

.folders-setup {
  padding: 0 20px;
}
.folders-setup__row {
  margin: 4px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.folders-setup__link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-family: Verdana, sans-serif;
}
.folders-setup__link:hover {
  color: black;
}

.square {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.square--green {
  background: #15da00;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?q4o3f6");
  src: url("../fonts/icomoon.eot?q4o3f6#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?q4o3f6") format("truetype"), url("../fonts/icomoon.woff?q4o3f6") format("woff"), url("../fonts/icomoon.svg?q4o3f6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-c:before {
  content: "\e900";
}

.icon-align-l:before {
  content: "\e901";
}

.icon-align-r:before {
  content: "\e902";
}

.icon-archive:before {
  content: "\e903";
}

.icon-attach:before {
  content: "\e904";
}

.icon-autoreply:before {
  content: "\e905";
}

.icon-background-color:before {
  content: "\e906";
}

.icon-bin:before {
  content: "\e907";
}

.icon-bin-solid:before {
  content: "\e908";
}

.icon-bold:before {
  content: "\e909";
}

.icon-contacts:before {
  content: "\e90a";
}

.icon-draft:before {
  content: "\e90b";
}

.icon-emoji:before {
  content: "\e90c";
}

.icon-folder:before {
  content: "\e90d";
}

.icon-folder-star:before {
  content: "\e90e";
}

.icon-font-color:before {
  content: "\e90f";
}

.icon-font-family:before {
  content: "\e910";
}

.icon-font-size:before {
  content: "\e911";
}

.icon-forward:before {
  content: "\e912";
}

.icon-full-screen:before {
  content: "\e913";
}

.icon-img:before {
  content: "\e914";
}

.icon-important:before {
  content: "\e915";
}

.icon-incoming:before {
  content: "\e916";
}

.icon-italic:before {
  content: "\e917";
}

.icon-link:before {
  content: "\e918";
}

.icon-more:before {
  content: "\e919";
}

.icon-next:before {
  content: "\e91a";
}

.icon-ol:before {
  content: "\e91b";
}

.icon-pin:before {
  content: "\e91c";
}

.icon-preview:before {
  content: "\e91d";
}

.icon-profile:before {
  content: "\e91e";
}

.icon-quote:before {
  content: "\e91f";
}

.icon-read:before {
  content: "\e920";
}

.icon-redirect:before {
  content: "\e921";
}

.icon-redo:before {
  content: "\e922";
}

.icon-reply:before {
  content: "\e923";
}

.icon-rules:before {
  content: "\e924";
}

.icon-sent:before {
  content: "\e925";
}

.icon-settings:before {
  content: "\e926";
}

.icon-spam:before {
  content: "\e927";
}

.icon-spam-solid:before {
  content: "\e928";
}

.icon-spinner:before {
  content: "\e929";
}

.icon-style:before {
  content: "\e92a";
}

.icon-tag:before {
  content: "\e92b";
}

.icon-tag-star:before {
  content: "\e92c";
}

.icon-thru:before {
  content: "\e92d";
}

.icon-ul:before {
  content: "\e92e";
}

.icon-underlay:before {
  content: "\e92f";
}

.icon-undo:before {
  content: "\e930";
}

.icon-unlink:before {
  content: "\e931";
}

.icon-unread:before {
  content: "\e932";
}

.icon-unread-solid:before {
  content: "\e933";
}

.icon-up:before {
  content: "\e934";
}

.icon-write:before {
  content: "\e935";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
