.color__white {
  color: #fff;
}
.color__gray {
  color: #717376;
}

.pointer {
  cursor: pointer;
}

.mrg__top16 {
  margin-top: 16px;
}
.mrg__top20 {
  margin-top: 20px;
}
.mrg__top30 {
  margin-top: 30px;
}

.link--next {
  color: #2f333f;
  font-family: Arial, sans-serif;
}
.link--underline {
  text-decoration: underline;
}

.font__size11 {
  font-size: 11px;
}
.font__size13 {
  font-size: 13px;
}

.layout {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 60px;
}
.layout__inner {
  height: 100%;
}
.layout__menu {
  position: relative;
  width: 260px;
  height: 100%;
  float: left;
  background: #edeff3;
  z-index: 2;
}
.layout__content {
  max-width: 100%;
  margin-left: 260px;
}

.menu-main {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}
.menu-main__icon {
  margin-right: 8px;
}
.menu-main__link {
  display: block;
  padding: 0 20px;
  color: #000;
  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 26px;
}
.menu-main__link:hover {
  background: rgba(0, 0, 0, 0.1);
}
.menu-main__link--gray {
  color: rgba(0, 0, 0, 0.5);
}
.menu-main__link--active {
  color: #fff;
  background: #8ea4d3 !important;
}
.menu-main__link--open:before {
  content: "";
}
.menu-main__sub .menu-main__link {
  padding-left: 70px;
}
.menu-main__counter {
  float: right;
}
.menu-main--tag {
  display: block;
}
.menu-main--tag .menu-main__item {
  float: left;
  width: 50%;
}
.menu-main--tag:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  min-width: 960px;
  background: #e1e5eb;
}
.header__name {
  color: #717376;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
.header__spinner {
  width: 30px;
  margin: 10px;
}
.header__logo {
  width: 130px;
}
.header__settings-link {
  color: #717376;
  font-size: 20px;
}
.header__settings-link:hover {
  color: #000;
}
.header__left {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}
.header__left-item {
  margin-right: 10px;
}

.footer {
  border-top: 1px solid #e6e6e6;
  font-family: Verdana, sans-serif;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: #fff;
  color: #808080;
  font-size: 11px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 260px;
  height: 60px;
  padding: 0 36px;
}

.navigation__row {
  display: flex;
  flex-direction: row;
}
.navigation__item {
  margin-right: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  color: #707275;
  font-size: 11px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}
.navigation__link--active {
  color: #000;
}
.navigation__link:hover {
  color: #000;
}

.bread-crumbs {
  width: 100%;
  height: auto;
}
.bread-crumbs__item {
  margin: 0 15px;
}
.bread-crumbs__item::after {
  content: "\e91f";
  font: 18px/1  'icomoon';
}

.menu-main-layout__padding {
  padding: 0 20px;
}
.menu-main-layout__padding--size10 {
  padding: 0 10px;
}

.container {
  min-width: 960px;
}

.menu-settings-layout__padding {
  padding: 0 20px;
}
.menu-settings-layout__padding--size10 {
  padding: 0 10px;
}
.menu-settings-layout__pass-info {
  color: #78797a;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

.menu-settings {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}
.menu-settings__icon {
  margin-right: 8px;
}
.menu-settings__link {
  display: block;
  padding: 0 20px;
  color: #000;
  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 26px;
}
.menu-settings__link:hover {
  background: rgba(0, 0, 0, 0.1);
}
.menu-settings__link--gray {
  color: rgba(0, 0, 0, 0.5);
}
.menu-settings__link--active {
  color: #fff;
  background: #8ea4d3 !important;
}
.menu-settings__link--open:before {
  content: "";
}
.menu-settings__sub .menu-main__link {
  padding-left: 70px;
}
.menu-settings__counter {
  float: right;
}
.menu-settings--tag {
  display: block;
}
.menu-settings--tag .menu-main__item {
  float: left;
  width: 50%;
}
.menu-settings--tag:after {
  content: "";
  display: block;
  clear: both;
}

.hr {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.hr--dashed {
  border: none;
  border-bottom: 1px dotted;
}

.btn-y {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 9px;
  font-size: 13px;
  background: none;
  border: 1px solid transparent;
}
.btn-y:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-y:active, .btn-y:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffeba0;
}
.btn-y__active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffeba0;
}
.btn-y__icon {
  margin-right: 4px;
}
.btn-y--white {
  background: #fff;
}
.btn-y--border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-y--image-icon {
  display: flex;
}
.btn-y--image-icon .btn-y__name {
  margin-right: 4px;
}
.btn-y--image-icon .btn-y__icon {
  width: 16px;
}
.btn-y--size26 {
  padding: 4px 9px;
}
.btn-y--settings {
  padding: 4px 9px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 20px;
}
.btn-y--settings:hover {
  color: black;
}
.btn-y--settings:active, .btn-y--settings:focus {
  color: black;
}

.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.avatar--size30 {
  width: 30px;
  height: 30px;
}
.avatar--size42 {
  width: 42px;
  height: 42px;
}
.avatar__image {
  width: 100%;
  height: 100%;
}

.round {
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.round--yellow {
  background: #f1cb30;
}

.folders-setup__row {
  margin: 4px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.folders-setup__link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-family: Verdana, sans-serif;
}
.folders-setup__link:hover {
  color: black;
}

.square {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.square--green {
  background: #15da00;
}

.inbox-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.inbox-header__row {
  display: flex;
}
.inbox-header__item {
  text-align: center;
  font-family: Arial,sans-serif;
  font-size: 13px;
}
.inbox-header__item:hover {
  background: #f4f4f4;
}
.inbox-header__link {
  display: block;
  padding: 12px 15px;
}
.inbox-header__link:hover {
  background: #f4f4f4;
}
.inbox-header__icon {
  display: block;
  font-size: 18px;
}
.inbox-header__icon--green {
  color: #86ba82;
}
.inbox-header__icon--blue {
  color: #859dc6;
}
.inbox-header__icon--red {
  color: #e76a50;
}
.inbox-header__icon--yellow {
  color: #fcc93a;
}
.inbox-header__name {
  margin-top: 3px;
  display: block;
  color: #000;
}
.inbox-header__name-icon {
  margin-top: 3px;
  color: #000;
  font-size: 10px;
}

.inbox-message {
  display: flex;
  padding: 3px 0;
  flex-flow: row;
  align-items: center;
  font-family: Arial,sans-serif;
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.inbox-message:hover {
  background: rgba(0, 0, 0, 0.03);
}
.inbox-message__importance {
  margin-right: 10px;
  color: #bcbcbc;
}
.inbox-message__checked {
  margin-right: 10px;
}
.inbox-message__avatar {
  margin-right: 10px;
}
.inbox-message__name {
  width: 190px;
}
.inbox-message__round {
  margin-right: 10px;
}
.inbox-message__subject {
  margin-right: 10px;
}
.inbox-message__message {
  width: 100%;
  margin-right: 10px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inbox-message__data {
  width: 70px;
}
.inbox-message--new .inbox-message__name {
  font-weight: bold;
}
.inbox-message--new .inbox-message__message {
  font-weight: bold;
}
.inbox-message--pink {
  background: #ffe6e6;
}
.inbox-message--pink .inbox-message__importance {
  color: #e20000;
}

.inbox-footer {
  padding: 0 24px;
  font-family: Arial, sans-serif;
}
.inbox-footer__row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.date-sort {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.date-sort__title {
  margin-right: 5px;
}
.date-sort__link {
  padding: 5px 7px;
  color: #000;
  text-decoration: underline;
}
.date-sort__link:hover {
  background: #e6e6e6;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?7dq2o4");
  src: url("../../fonts/icomoon.eot?7dq2o4#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?7dq2o4") format("truetype"), url("../../fonts/icomoon.woff?7dq2o4") format("woff"), url("../../fonts/icomoon.svg?7dq2o4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-contact:before {
  content: "\e900";
}

.icon-add-contacts-2:before {
  content: "\e901";
}

.icon-align-c:before {
  content: "\e902";
}

.icon-align-l:before {
  content: "\e903";
}

.icon-align-r:before {
  content: "\e904";
}

.icon-archive:before {
  content: "\e905";
}

.icon-arrow-down:before {
  content: "\e906";
}

.icon-arrow-up:before {
  content: "\e907";
}

.icon-attach:before {
  content: "\e908";
}

.icon-autoreply:before {
  content: "\e909";
}

.icon-background-color:before {
  content: "\e90a";
}

.icon-bin:before {
  content: "\e90b";
}

.icon-bin-solid:before {
  content: "\e90c";
}

.icon-bold:before {
  content: "\e90d";
}

.icon-contacts:before {
  content: "\e90e";
}

.icon-contacts-ava:before {
  content: "\e90f";
}

.icon-draft:before {
  content: "\e910";
}

.icon-emoji:before {
  content: "\e911";
}

.icon-folder:before {
  content: "\e912";
}

.icon-folder-star:before {
  content: "\e913";
}

.icon-font-color:before {
  content: "\e914";
}

.icon-font-family:before {
  content: "\e915";
}

.icon-font-size:before {
  content: "\e916";
}

.icon-forward:before {
  content: "\e917";
}

.icon-full-screen:before {
  content: "\e918";
}

.icon-img:before {
  content: "\e919";
}

.icon-important:before {
  content: "\e91a";
}

.icon-incoming:before {
  content: "\e91b";
}

.icon-italic:before {
  content: "\e91c";
}

.icon-link:before {
  content: "\e91d";
}

.icon-more:before {
  content: "\e91e";
}

.icon-next:before {
  content: "\e91f";
}

.icon-ol:before {
  content: "\e920";
}

.icon-pin:before {
  content: "\e921";
}

.icon-preview:before {
  content: "\e922";
}

.icon-profile:before {
  content: "\e923";
}

.icon-quote:before {
  content: "\e924";
}

.icon-read:before {
  content: "\e925";
}

.icon-redirect:before {
  content: "\e926";
}

.icon-redo:before {
  content: "\e927";
}

.icon-reply:before {
  content: "\e928";
}

.icon-rules:before {
  content: "\e929";
}

.icon-sent:before {
  content: "\e92a";
}

.icon-settings:before {
  content: "\e92b";
}

.icon-spam:before {
  content: "\e92c";
}

.icon-spam-solid:before {
  content: "\e92d";
}

.icon-spinner:before {
  content: "\e92e";
}

.icon-style:before {
  content: "\e92f";
}

.icon-tag:before {
  content: "\e930";
}

.icon-tag-star:before {
  content: "\e931";
}

.icon-thru:before {
  content: "\e932";
}

.icon-ul:before {
  content: "\e933";
}

.icon-underlay:before {
  content: "\e934";
}

.icon-undo:before {
  content: "\e935";
}

.icon-unlink:before {
  content: "\e936";
}

.icon-unread:before {
  content: "\e937";
}

.icon-unread-solid:before {
  content: "\e938";
}

.icon-up:before {
  content: "\e939";
}

.icon-upload:before {
  content: "\e93a";
}

.icon-write:before {
  content: "\e93b";
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}
