<inbox-header messages="vm.messages"></inbox-header>

<div class="inbox-templates font-sizer--bigger-15" ng-if="vm.$state.params.mbox === 'Templates'">
    <div class="inbox-templates__new-template-message">
        <span class="inbox-templates__text-message">В этой папке хранятся шаблоны, которые можно использовать как основу для написания повторяющихся писем</span>
        <button class="btn btn--normal btn--size_xs btn--silver-hover btn--silver-bg-y-shw width--aut mrg__top10"
                type="button"
                ui-sref="mail.compose({'template': true})">
            Создать шаблон
        </button>
    </div>
</div>

<div class="search-result" ng-if="vm.isNoResult">
    <strong>Результаты поиска «info»</strong>
</div>

<div class="search-result search-result--no-result"
     ng-if="(vm.messages.params.mbox === 'INBOX' || !vm.messages.params.mbox) && !vm.messages.params.search && !vm.messages.params.tag_id && !vm.messages.params.filter &&!vm.messages.items.length">
    У вас нет сообщений.
    <div class="mrg__top10">
        <a class="link link--black link--underline"
           ui-sref="mail.compose()">Написать письмо</a>
    </div>
</div>

<div class="search-result search-result--no-result"
     ng-if="vm.messages.params.mbox && vm.messages.params.mbox !== 'INBOX' && !vm.messages.params.search && !vm.messages.params.tag_id && !vm.messages.params.filter &&!vm.messages.items.length">
    В папке «
    <to-folder-name name="vm.$state.params.mbox"></to-folder-name>
    » нет писем.
    <div class="mrg__top10">
        <a class="link link--black link--underline" ui-sref="mail.inbox({mbox: 'INBOX'})">Перейти в папку «Входящие»</a>
    </div>
</div>

<div class="search-result search-result--no-result"
     ng-if="vm.messages.params.tag_id && !vm.messages.items.length">
    Писем с меткой «
    <to-tag-name tag-id="vm.$state.params.tag_id"></to-tag-name>
    » пока нет.
    <div class="mrg__top10">
        <a class="link link--black link--underline"
           ui-sref="mail.inbox({mbox: 'INBOX'})">Перейти в папку «Входящие»</a>
    </div>
</div>

<div class="search-result search-result--no-result"
     ng-if="vm.messages.params.filter === 'unseen' && !vm.messages.items.length">
    Непрочитанных писем нет.
    <div class="mrg__top10">
        <a class="link link--black link--underline" ui-sref="mail.inbox({mbox: 'INBOX'})">Перейти в папку «Входящие»</a>
    </div>
</div>

<div class="search-result search-result--no-result"
     ng-if="vm.messages.params.filter === 'flagged' && !vm.messages.items.length">
    Писем с меткой «Важные» пока нет
    <div class="mrg__top10">
        <a class="link link--black link--underline"
           ui-sref="mail.inbox({mbox: 'INBOX', filter: undefined, tag_id: undefined})">
            Перейти в папку «Входящие»
        </a>
    </div>
</div>

<div class="search-result search-result--no-result"
     ng-if="vm.messages.params.search && !vm.messages.items.length">

    <strong class="font__size18">
        Не нашлось ни одного письма. Попробуйте сформулировать запрос иначе
    </strong>

    <p class="color--gray mrg__top20">Рекоммендации:</p>

    <ul class="list-dash list-dash--gray">
        <li class="list-dash__item">
            Убедитесь, что в запросе нет ошибок
        </li>
        <li class="list-dash__item">
            Попробуйте уменьшить дилнну запроса
        </li>
        <li class="list-dash__item">
            Если вы помните отправителя, получателя, названия файлов или их тип, попробуйте воспользоваться
            расширеным поиском или языком запросов
        </li>
        <li class="list-dash__item">
            Попробуйте найти нужное письмо вручную
        </li>
    </ul>
</div>

<div class="main-plash" ng-if="vm.messages.items.length && vm.$state.params.mbox === 'Junk'">
    <div class="main-plash__message">
        <div class="main-plash__text">В эту папку попадают письма, определённые, как нежелательные или вредоносные.
        </div>
        <button class="btn btn--normal btn--silver-hover btn--size_s btn--silver-bg-y-shw mrg__top8"
                type="button"
                ng-click="vm.clearFolder($event, {name: 'Junk'})">Очистить папку
        </button>
    </div>
</div>


<div class="inbox-list">
    <inbox-message-list messages="vm.messages"></inbox-message-list>

    <div class="inbox-list__pagination">
        <paginate-button data="vm.messages"></paginate-button>
    </div>
</div>

<div class="inbox-footer mrg__top30">
    <div class="inbox-footer__row">
        <div>
            <!--<div class="font__size13">-->
            <!--Вы просмотрели все письма за март 2017 года-->
            <!--</div>-->
            <!--<div class="mrg__top20">-->
            <!--<a class="link link&#45;&#45;underline link&#45;&#45;next" href="">апрель-->
            <!--<span class="icon-next"></span></a>-->
            <!--</div>-->
        </div>

        <date-sort from="vm.messages.params.search_start"
                   to="vm.messages.params.search_end"></date-sort>

    </div>
</div>