<section class="layout">
    <div class="layout__header">
        <header></header>
    </div>

    <div class="layout__inner" layout-height>

        <div class="layout__left">
            <div class="layout__menu">
                <menu-contacts contact-group="vm.contactGroup"></menu-contacts>
            </div>
        </div>

        <!-- поповеры -->
        <div style="display: none">

            <!-- Тело поповера Загрузить контакты из файла -->

            <!-- Тело поповера изменение контакта-->

            <!-- Тело поповера просмотра контакта-->
            <div class="viewed-contact">

                <div class="viewed-contact__header">
                    <span class="">Информации о контакте</span>
                </div>

                <div class="viewed-contact__content">

                    <div class="viewed-contact__column">

                        <div class="viewed-contact__avatar">

                            <div class="avatar avatar--settings avatar--size50 avatar--second-style ">
                                <img class="avatar__image" src="/images/avatar-personal.svg" alt=""
                                     ng-if="!vm.firstLetter && !vm.emailLetter">

                                <!--<div class="avatar__symbol-image" ng-if="vm.firstLetter || vm.emailLetter">-->
                                <!--<div class="avatar__first-name">{{ vm.firstLetter ? vm.firstLetter : vm.emailLetter }}-->
                                <!--</div>-->
                                <!--<div class="avatar__last-name" ng-if="vm.lastLetter">{{ vm.lastLetter }}</div>-->
                                <!--</div>-->

                            </div>

                        </div>

                        <div class="viewed-contact__caption">
                            <div class="viewed-contact__contact-name">
                                Пащук Илья Викторови
                            </div>

                            <div class="viewed-contact__control-elements">
                                <button class="btn btn--normal btn--size_sm width--aut mrg__right7 ">
                                    Написать письмо
                                </button>
                                <button class="btn btn--normal btn--size_sm width--aut flex align-items--cn mrg__right7">
                                    <svg class="svg-icon mrg__right10">
                                        <use xlink:href="#conacts-sort-message"></use>
                                    </svg>
                                    Переписка
                                </button>
                                <button class="btn btn--normal btn--size_sm width--aut flex align-items--cn mrg__right7">
                                    <svg class="svg-icon svg-icon--red">
                                        <use xlink:href="#conacts-add-black-list"></use>
                                    </svg>

                                </button>
                                <button class="btn btn--normal btn--size_sm width--aut icon-attach font__size16"></button>
                            </div>


                        </div>

                    </div>


                    <div class="viewed-contact__column">

                        <hr class="hr hr--top">

                        <div class="viewed-contact__left">
                            <!-- Адреса электронной почты-->
                            <div class="viewed-contact__item">

                                                 <span class="viewed-contact__icon">
                                                    <svg class="svg-icon">
                                                        <use xlink:href="#conact-icon-mail"></use>
                                                    </svg>
                                                 </span>

                                <!-- список-->
                                <div class="viewed-contact__emails">
                                    <a class="viewed-contact__link" href="">twiclove@sandbox.mail.cz</a>
                                    <a class="viewed-contact__link" href="">tllada@big.net</a>
                                </div>

                            </div>

                            <!-- Тут вводится группы-->
                            <div class="viewed-contact__item">

                                                 <span class="viewed-contact__icon">
                                                    <svg class="svg-icon">
                                                        <use xlink:href="#conacts-add-group"></use>
                                                    </svg>
                                                 </span>

                                <!-- список-->
                                <div class="viewed-contact__groups">

                                                    <span class="viewed-contact__group-item">
                                                        <svg class="viewed-contact__group__icon group-icon group-pall--c-1">
                                                            <use xlink:href="#grid-square"></use>
                                                        </svg>
                                                        Друзья
                                                    </span>

                                    <span class="viewed-contact__group-item">
                                                        <svg class="viewed-contact__group__icon group-icon group-pall--c-16">
                                                            <use xlink:href="#grid-square"></use>
                                                        </svg>
                                                        supetsds
                                                    </span>

                                    <span class="viewed-contact__group-item">
                                                        <svg class="viewed-contact__group__icon group-icon group-pall--c-10">
                                                            <use xlink:href="#grid-square"></use>
                                                        </svg>
                                                        cnhfyass
                                                    </span>

                                    <span class="viewed-contact__group-item">
                                                        <svg class="viewed-contact__group__icon group-icon group-pall--c-8">
                                                            <use xlink:href="#grid-square"></use>
                                                        </svg>
                                                        Друзья
                                                    </span>

                                    <span class="viewed-contact__group-item">
                                                        <svg class="viewed-contact__group__icon group-icon group-pall--c-8">
                                                            <use xlink:href="#grid-square"></use>
                                                        </svg>
                                                        Друзья
                                                    </span>

                                </div>
                            </div>

                            <!-- Тут вводитс номер телефона-->
                            <div class="viewed-contact__item">

                                                 <span class="viewed-contact__icon">
                                                    <svg class="svg-icon">
                                                        <use xlink:href="#contact-phone"></use>
                                                    </svg>
                                                 </span>

                                <!-- список-->
                                <div class="viewed-contact__phones">
                                    <span class="viewed-contact__number-phone">+35656565215</span>
                                    <span class="viewed-contact__number-phone">+35656565215</span>
                                    <span class="viewed-contact__number-phone">+35656565215</span>
                                </div>
                            </div>

                            <!-- дата рождения-->
                            <div class="viewed-contact__item">

                                                <span class="viewed-contact__icon">
                                                    <svg class="svg-icon">
                                                        <use xlink:href="#contact-birthday"></use>
                                                    </svg>
                                                </span>

                                <div class="viewed-contact__birthday">
                                    <span class="viewed-contact__day">2</span>
                                    <span class="viewed-contact__month">Августа</span>
                                    <span class="viewed-contact__year">1990</span>
                                </div>

                            </div>

                        </div>

                        <!---->
                        <div class="viewed-contact__right">
                            <div class="viewed-contact__item align-items--st">

                                                <span class="viewed-contact__icon">
                                                    <svg class="svg-icon">
                                                        <use xlink:href="#conact-comment"></use>
                                                    </svg>
                                                </span>

                                <div class="viewed-contact__text-field">
                                                    <span>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Proin placerat aliquam elit, eu scelerisque mauris ultrices non.
                                                    </span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <hr class="hr hr--bottom">

                </div>

                <div class="viewed-contact__footer">

                    <button class="btn btn--normal btn--size_sm width--aut float--left">Изменить
                    </button>

                </div>

            </div>

            <!-- Тело поповера воостановления контактов -->

            <!-- Тело поповера добавления контактов-->

        </div>


        <div class="layout__content">

            <ui-view></ui-view>

        </div>

    </div>
</section>