<div class="settings-menu font-sizer--bigger-15">
    <div class="settings-menu__body">
        <a class="settings-menu__title font-sizer--bigger-18" ui-sref="settings.main">
            {{ 'ALL_SETTING' | translate }}
        </a>
        <div class="settings-menu__row mrg--t20">

            <div class="row row--size15 mrg--t20">

                <div class="col-xs-6 flex--inline align-items--cn">
                    <span class="icon-account color--blue font__size18 width--aut"></span>
                    <a class="settings-menu__link" ui-sref="settings.main">
                        {{ 'MANAGE_ACCOUNT' | translate }}
                    </a>
                </div>

                <div class="col-xs-6 flex--inline align-items--cn">
                    <span class="icon-processing-rules color--green font__size18 width--aut"></span>
                    <a class="settings-menu__link" ui-sref="settings.rules">
                        {{ 'PROCESSING_RULES' | translate }}
                    </a>
                </div>

            </div>

            <div class="row row--size15 mrg--t20">
                <div class="col-xs-6 flex--inline align-items--cn">
                    <span class="icon-to-a-folder color--yellow font__size18 width--aut"></span>
                    <a class="settings-menu__link" ui-sref="settings.folders">
                        {{ 'FOLDERS' | translate }}
                    </a>
                </div>

                <div class="col-xs-6 flex--inline align-items--cn">
                    <span class="icon-markers color--yellow font__size18 width--aut"></span>
                    <a class="settings-menu__link" ui-sref="settings.tags">
                        {{ 'TAGS' | translate }}
                    </a>
                </div>
            </div>

            <div class="row row--size15 mrg--t20">

                <div class="col-xs-6 flex--inline align-items--cn">
                    <span class="icon-contact-settings color--green font__size18 width--aut"></span>
                    <a class="settings-menu__link" ui-sref="settings.contacts">
                        {{ 'SETTINGS_CONTACTS' | translate }}
                    </a>
                </div>

                <div class="col-xs-6 flex--inline align-items--cn">
                    <span class="icon-other-mails color--blue font__size18 width--aut"></span>
                    <a class="settings-menu__link" ui-sref="settings.accounts">
                        {{ 'COLLECT_MAIL_FROM_OTHER_BOX' | translate }}
                    </a>
                </div>

            </div>

            <!--<div class="row row&#45;&#45;size15 mrg--t20">-->

                <!--<div class="col-xs-6 flex&#45;&#45;inline align-items&#45;&#45;cn">-->
                    <!--<span class="icon-mail-space color&#45;&#45;green font__size18 width&#45;&#45;aut"></span>-->
                    <!--<a class="settings-menu__link" ui-sref="storage">-->
                        <!--Увеличение обьема почты-->
                    <!--</a>-->
                <!--</div>-->

            <!--</div>-->

        </div>
    </div>
</div>