<ui-select class="select-input-line" multiple
           ng-model="vm.addresses"
           tagging="vm.makeContact"
           tagging-label="true" theme="bootstrap">

    <ui-select-match class="select-input-line__match-tags">
        <div class="select-input-line__match-item tag-contact font-sizer--bigger-15">
            <div class="avatar avatar--size20 mrg__right7">
                <avatar-name name="$item.first_name" email="$item.email"></avatar-name>
            </div>
            <div class="tag-contact__name">
                {{ $item.first_name }}
                {{ $item.last_name }}
            </div>
            <div class="tag-contact__email">
                {{ $item.email }}
            </div>
        </div>
    </ui-select-match>

    <ui-select-choices class="select-input-line__choices-tags font-sizer--bigger-15"
                       refresh="vm.findContacts($select.search)"
                       refresh-delay="500"
                       repeat="contact in (vm.contacts.items | filter: $select.search) track by contact.id">

        <div class="select-input-line__choices-item tag-contact">
            <div class="avatar avatar--size28 mrg__right16 avatar--bg-color">
                <avatar-name name="contact.name" email="contact.email"></avatar-name>
            </div>
            <div class="tag-contact__name">
                {{ contact.first_name }}
                {{ contact.last_name }}
            </div>
            <div class="tag-contact__email">
                {{ contact.email }}
            </div>
            <div class="tag-contact__phone">
                {{ contact.phone }}
            </div>
        </div>

        <!--<br>-->

        <!--<div class="select-input-line__choices-item tag-contact" ng-if="$last"-->
             <!--ng-click="vm.openContactToAddPopup()">-->
            <!--<div class="avatar avatar&#45;&#45;size28 mrg__right16 avatar&#45;&#45;bg-color">-->
                <!--<avatar-name name="contact.name" email="contact.email"></avatar-name>-->
            <!--</div>-->
            <!--<div class="tag-contact__name">-->
                <!--Показать все контакты-->
            <!--</div>-->
        <!--</div>-->

    </ui-select-choices>
</ui-select>

<!--<div>-->
<!--<button type="button" ng-click="vm.openContactToAddPopup()">Показать все контакты</button>-->
<!--</div>-->