<tags-input class="tags-input"
            type="email"
            name="{{ vm.name }}"
            ng-model="vm.addresses"
            template="tag-template"
            template-scope="vm"
            key-property="id"
            display-property="first_name"
            on-tag-adding="vm.onTagAdding($tag)"
            replace-spaces-with-dashes="true"
            autofocus="vm.isAutofocus"
            ng-focus="isTagFocus = true"
            ng-blur="isTagFocus = false"
            add-on-space="true"
            tags-input-phone-button="{{ vm.isPhoneButton }}"
            ng-required="vm.required">

    <auto-complete source="vm.findContacts($query, isTagFocus)"
                   min-length="0"
                   load-on-focus="true"
                   load-on-empty="false"
                   max-results-to-show="5"
                   auto-complete-after
                   debounce-delay="0"
                   template="autocomplete-template">
    </auto-complete>
</tags-input>

<script type="text/ng-template" id="tag-template">
    <div tag-input-edit ng-dblclick="editTag($event)">
        <div class="tag-contact font-sizer--bigger-15 tag-contact__autocomplete-item"
             uib-popover-template="'app/components/contact-to-add-select-menu/contact-to-add-select-menu-popover.html'"
             popover-class="popover--tag-list"
             popover-placement="bottom"
             popover-animation="true"
             popover-trigger="'outsideClick'"
             popover-append-to-body="true"
             ng-if="!data.isEdit"
             ng-class="{'pointer': !data.isEdit}"
             ng-click="$event.stopPropagation();">
            <div class="avatar avatar--size20 mrg--r7">
                <avatar-name name="data.first_name" email="data.emails[0].value"></avatar-name>
            </div>
            <div class="tag-contact__name" ng-if="data.first_name">
                {{ data.last_name }}
                {{ data.first_name }}
            </div>
            <div class="tag-contact__email" ng-if="!data.first_name">
                {{ data.emails[0].value }}
            </div>
        </div>
        <div class="tag-contact-edit"
             ng-if="data.isEdit"
             ng-blur="setEdit($event, data, newEditTag)"
             ng-click="$event.stopPropagation()"
             contenteditable="true">{{ tagEdit }}
        </div>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
    <div class="tag-contact">
        <div class="avatar avatar--size28 mrg--r16 avatar--bg-color">
            <avatar-name name="data.first_name" email="data.emails[0].value"></avatar-name>
        </div>
        <div class="tag-contact__name" ng-if="data.first_name">
            {{ data.first_name }}
            {{ data.last_name }}
        </div>
        <div class="tag-contact__email"
             ng-class="{'mrg--l10': data.first_name}"
             ng-if="data.emails[0].value">
            {{ data.emails[0].value }}
        </div>
        <div class="tag-contact__phone"
             ng-class="{'mrg--l10': data.first_name || data.emails[0].value}"
             ng-if="data.phone">
            {{ data.phone }}
        </div>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-template-footer">
    <div class="tag-contact tag-contact--more pointer" ng-click="vm.openContactToAddPopup()">
        <div class="avatar avatar--size28 mrg--r16 avatar--bg-color">
            <avatar-name name="'Contacts'" email="'Contacts'"></avatar-name>
        </div>
        <div class="tag-contact__name">
            {{ 'SHOW_ALL_CONTACTS' | translate }}
        </div>
    </div>
</script>