<div class="tag-create">
    <div class="tag-create__title">Создаем тэг</div>

    <div class="mrg__top15">
        <form name="paletteForm" ng-submit="vm.update(paletteForm)" novalidate>
            <div class="tag-create__input mrg__top15">
                <div class="mrg__right10">
                    <span class="font__size13">Название</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow"
                           type="text"
                           name="tag_name"
                           ng-model="vm.paletteForm.model.tag_name"
                           required/>
                </div>
            </div>

            <div class="palette-list tag-create__palette mrg__top30">
                <input type="hidden"
                       name="palette"
                       ng-model="vm.paletteForm.model.bgcolor"
                       required>
                <div class="palette-list__item"
                     style="background-color: {{ palette.bgcolor }}"
                     ng-repeat="palette in vm.palette.items track by $index"
                     ng-click="vm.select(palette)">
                    <span class="palette-list__icon icon-mark" ng-if="palette.bgcolor === vm.palette.selected.bgcolor"></span>
                </div>
            </div>

            <div class="tag-create__btn mrg__top40">
                <button class="btn-y btn-y--border" type="submit">Обновить тэг</button>
                <button class="btn-y btn-y--border" type="button" ng-click="vm.close()">Отменить</button>
            </div>
        </form>
    </div>
</div>