<div class="more-list">
    <div class="more-list__links">
        <div class="more-list__link more-list__link--gray">
            <span id="email-copy">{{ vm.tag.emails[0].value }}</span>
        </div>
        <a class="more-list__link" href ngclipboard data-clipboard-target="#email-copy"
           ng-click="vm.close(); $event.stopPropagation()">
            <span class="more-list__name">{{ 'COPY' | translate }}</span>
        </a>
        <a class="more-list__link" ng-if="!vm.tag.id" ng-click="vm.openContactAddPopup()">
            <span class="more-list__name">{{ 'ADD_TO_ADDRESS_BOOK' | translate }}</span>
        </a>
        <hr class="hr">
        <a class="more-list__link" href ng-click="vm.setEdit($event)">
            <span class="more-list__name">{{ 'EDIT' | translate }}</span>
        </a>
        <a class="more-list__link" href ng-click="vm.selectOnlyThis()">
            <span class="more-list__name">{{ 'SEND_ONLY_THIS_RECIPIENT' | translate }}</span>
        </a>
        <a class="more-list__link" href ng-click="vm.remove()">
            <span class="more-list__name">{{ 'REMOVE_FROM_RECIPIENTS' | translate }}</span>
        </a>
    </div>
</div>