<div class="inbox-message pointer"
     ng-class="{'inbox-message--importmant': vm.message.important, 'inbox-message--new': !vm.message.seen}"
     ng-mouseover="vm.message.hover = true" ng-mouseleave="vm.message.hover = false"
     inbox-message-hover
     ng-click="vm.goToUrl()"
     dnd-list dnd-drop="vm.onDrop(event, index, item)"
     dndDragover="inbox-message--dragover">

    <div ng-click="vm.setImportant(); $event.stopPropagation();">
        <div class="inbox-message__importance pointer"
             ng-class="{'opacity--0': !vm.message.hover && !vm.message.important}">
            <span class="icon-important"></span>
        </div>
    </div>
    <div>
        <div class="inbox-message__checked">
            <div class="checkbox-y checkbox-y--size14" ng-click="$event.stopPropagation();">
                <label class="checkbox-y__label">
                    <input class="checkbox-y__input"
                           type="checkbox"
                           data-checklist-model="vm.messages.checked" data-checklist-value="vm.message">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div>
        <div class="inbox-message__avatar">
            <avatar-name class="avatar avatar--settings avatar--size30 avatar--second-style mrg__auto"
                         name="vm.message.from" email="vm.message.fromAddress"
                         ng-if="vm.$state.params.mbox !== 'Sent' && vm.$state.params.mbox !== 'Drafts'"></avatar-name>

            <avatar-name class="avatar avatar--settings avatar--size30 avatar--second-style mrg__auto"
                         name="vm.message.to[0].name" email="vm.message.to[0].address"
                         ng-if="vm.$state.params.mbox === 'Sent' || vm.$state.params.mbox === 'Drafts'"></avatar-name>
        </div>
    </div>
    <div>
        <div class="inbox-message__name" ng-if="vm.$state.params.mbox !== 'Sent'">
            {{ vm.message.from || vm.message.fromAddress }}
        </div>
        <div class="inbox-message__name"
             ng-if="vm.$state.params.mbox === 'Sent' || vm.$state.params.mbox === 'Drafts'">
            {{ vm.message.to[0].address }}
        </div>
    </div>
    <div>
        <div class="inbox-message__round pointer"
             ng-click="vm.setSeen(); $event.stopPropagation();">
            <div class="round"
                 ng-class="{
                        'round--border': vm.message.hover,
                        'round--yellow': !vm.message.seen
                     }"></div>
        </div>
    </div>
    <div ng-if="vm.messages.isSearch">
        <div class="inbox-message__folder">
            <span class="{{ vm.getIconByFolderName(vm.message.mbox) }}"></span>
        </div>
    </div>
    <div ng-if="!vm.messages.isSearch && vm.message.answered">
        <div class="inbox-message__folder">
            <span class="icon-sent"></span>
        </div>
    </div>
    <div>
        <div class="inbox-message__labels">
            <div class="label-ydx inbox-message__label" ng-repeat="tag in vm.message.tags track by $index"
                 style="background: {{ tag.bgcolor }};">
                {{ tag.tag_name }}
            </div>
        </div>
    </div>
    <div class="inbox-message__text">
        <div class="inbox-message__subject">
            {{ vm.message.Subject }}
        </div>
        <div class="inbox-message__message"
             ng-bind-html="vm.message.body"></div>
    </div>
    <div class="inbox-message__attach" ng-if="vm.message.attachments">
        <span class="icon-attach"></span>
    </div>
    <div>
        <div class="inbox-message__data">
            <to-date date="vm.message.date.date" is-small="true"></to-date>
        </div>
    </div>
</div>
