<div class="menu-contacts">
    <!--Хедер-->
    <div class="menu-contacts__head">
        <a class="menu-contacts__link is-active"
           ui-sref="contacts.main({group_id: undefined})">
            <span class="">Все</span>
            <span class="font__size12">10</span>
        </a>

        <hr class="hr menu-contacts__hr">
    </div>

    <!--Основной контент-->
    <div class="menu-contacts__content">

        <ul class="menu-main">
            <li class="menu-main__item menu-main__item" ng-repeat="contactGroup in vm.contactGroup.items">
                <button class="btn-y pointer font__size15" type="button"
                        ui-sref="contacts.main({group_id: contactGroup.id})">
                    <svg class="menu-main__icon group-icon group-pall--c-1">
                        <use xlink:href="#grid-square"></use>
                    </svg>
                    {{ contactGroup.name }}
                </button>
            </li>
        </ul>

        <div class="group-setup">
            <div class="group-setup__row">
                <a class="group-setup__link"
                   href
                   ng-click="vm.openGroupAddPopup()">
                    Создать группу
                </a>
                <a class="group-setup__link" ui-sref="settings.contacts">
                    настроить...
                </a>
            </div>
            <hr class="hr">
        </div>

    </div>


    <!--<a href ng-click="vm.openContactImportFilePopup()">Import (for test)</a>-->
    <!-- Футер-->

    <div class="menu-main-contacts__footer"></div>
</div>