<div class="menu-main-contacts">
    <div class="menu-main-layout__item mrg__top20">
        <div class="menu-main-contacts__head">
            <a class="menu-main-contacts__link" href="">
                <span class="">Все</span>

                <span>10</span>

            </a>

        </div>



        <div class="menu-main-layout__padding menu-main-layout__padding--size10">

            <ul class="menu-main">

                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-1">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Друзья
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-9">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Друзья
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-8">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Друзья
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-10">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Друзья
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-19">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Друзья
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-2">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Друзья
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-2">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Родные
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-16">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Колегы по работе
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-12">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Важный проек киев
                    </button>
                </li>
                <!---->
                <li class="menu-main__item menu-main__item">
                    <button class="btn-y pointer font__size15" type="button">
                        <svg class="menu-main__icon group-icon group-pall--c-6">
                            <use xlink:href="#grid-square" ></use>
                        </svg>
                        Заблокированные
                    </button>
                </li>

            </ul>

            <div class="menu-main-layout__padding">

                <div class="folders-setup">
                    <div class="folders-setup__row">
                        <a class="folders-setup__link" href
                           ng-click="vm.openFolderCreatePopup()">
                            Создать группу
                        </a>
                        <a class="folders-setup__link" ui-sref="settings.folders">
                            настроить...
                        </a>
                    </div>
                    <hr class="hr folders-setup__hr">
                </div>
            </div>


        </div>
    </div>

</div>