<contact-header contacts="vm.contacts"></contact-header>

<div class="contacts-list">
    <contact-item-list contacts="vm.contacts"></contact-item-list>
</div>

<div class="contacts-list-is-null hide-elm">
    <!--
        клсс переключатель при наведении файла contacts-list-is-null__content--is-hover-file
    -->
    <form class="contacts-list-is-null__content ng-pristine ng-valid"
          ngf-drop ngf-select ng-model="files"
          ngf-multiple="true"
          ngf-allow-dir="true"
          accept="contacts/csv"
          ngf-pattern="'contacts/csv'"
          ngf-drag-over-class="'contacts-list-is-null__content--is-hover-file'">

        <div class="contacts-list-is-null__adder hide-elm">
            <input class="contacts-list-is-null__drop-mode hide-elm" type="file" name="data" >
        </div>

        <div class="contacts-list-is-null__title">{{ 'CONTACTS_LIST_TITLE_UPLOAD_IS_FILE' | translate }}</div>
        <div class="contacts-list-is-null__text">{{ 'CONTACTS_LIST_TEXT_SUPPORTS_IMPORT_CONTACTS' | translate }}</div>

        <div class="contacts-list-is-null__text-comment">{{ 'CONTACTS_LIST_TEXT_MOVE_THIS_FILE' | translate }}</div>

        <div class="contacts-list-is-null__error-added-file" ngf-no-file-drop>
            {{ 'CONTACTS_LIST_TEXT_ERROR_ADDED_FILE' | translate }}
        </div>

        <button class="btn btn--normal btn--size_xs btn--silver-hover" type="file" name="data" >
            {{ 'BTN_CHOOSE_FILE' | translate }}
        </button>

    </form>

    <div class="contacts-list-is-null__success hide-elm ">
        <div class="">
            <span class="contacts-list-is-null__success-title icon-check-box-mark mrg__right5"></span>
            {{ 'CONTACTS_LIST_MESSAGE_SUCCESS_MOVE' | translate }}
        </div>
    </div>

</div>

<div class="contacts-footer" ng-if="!vm.contacts.items.length && vm.contactGroup.model.name && !vm.contacts.isLoading">
    <div class="contacts-footer__message">
        {{ 'CONTACTS_MESSAGE_IN_NOT_CONTACT_ON_GROUP_1' | translate }}
        «<span class="contacts-footer__name-group">{{ vm.contactGroup.model.name }}</span>»
        {{ 'CONTACTS_MESSAGE_IN_NOT_CONTACT_ON_GROUP_2' | translate }}
    </div>
</div>

<div class="contacts-footer" ng-if="!vm.contacts.items.length && !vm.contactGroup.model.name">
    <div class="contacts-footer__message">
        {{ 'CONTACTS_MESSAGE_IN_NOT_CONTACT_ON_GROUP_1' | translate }}
        «<span class="contacts-footer__name-group">{ ‘ALL’ | translate }}</span>»
        {{ 'CONTACTS_MESSAGE_IN_NOT_CONTACT_ON_GROUP_2' | translate }}
    </div>
</div>

<contact-draggable ng-if="!vm.contacts.items.length && !vm.contacts.isLoading"></contact-draggable>