<div class="contact-to-add">
    <div class="contact-to-add__header">
        <div class="contact-to-add__header-title mrg--t15 mrg__bottom10">
            {{ 'ADD_RECIPIENTS' | translate }}
        </div>

        <div class="contact-to-add__filters">
            <div>
                <label class="contacts-header__icon all-select-check mrg--r16"
                       ng-class="{'is-check': vm.isAllChecked}">
                    <input type="checkbox"
                           style="display: none;"
                           ng-model="vm.isAllChecked"
                           ng-change="vm.checkedAllContacts()"
                           ng-disabled="!vm.contacts.items.length">
                    <svg class="all-select-check__icon">
                        <use xlink:href="#check-box-mark"></use>
                    </svg>
                </label>
            </div>

            <!-- выбор группы -->
            <ui-select ng-model="vm.searchForm.group"
                       class="select-list select-list--size_xs select-list--not-border-of-sides mrg--r10"
                       style="width: 145px!important;"
                       theme="select2"
                       search-enabled="false">
                <ui-select-match
                        class="select-list__body select-list--size_xs  width--all"
                        placeholder="{{ 'INPUT_PLACEHOLDER_CHOOSE_GROUP' | translate }}">
                    {{ $select.selected.name }}
                </ui-select-match>
                <ui-select-choices repeat="contactGroup in vm.contactGroup.items">
                    <div ng-bind-html="contactGroup.name"></div>
                </ui-select-choices>
            </ui-select>

            <!-- Поиск -->
            <input class="input input--size_s width--size220"
                   type="text"
                   placeholder="{{ 'INPUT_PLACEHOLDER_SEARCH' | translate }}"
                   ng-model="vm.searchForm.query">
        </div>
    </div>

    <div class="contact-to-add__contact-list">
        <label class="contact-to-add__item" ng-repeat="contact in vm.contacts.items | filter: vm.searchForm.query || vm.searchForm.group.name">

            <input class="contact-to-add__checkbox"
                   type="checkbox"
                   style="display: none;"
                   data-checklist-model="vm.contacts.checked"
                   data-checklist-value="contact">

            <div class="contact-to-add__checkbox-body">

                <!-- Аватарка-->
                <div class="contact-to-add__contact-avatar">
                    <div class="avatar avatar--settings avatar--size28 avatar--second-style ">
                        <img class="avatar__image" src="/images/avatar-personal.svg"
                             ng-if="!vm.firstLetter && !vm.emailLetter">

                        <div class="avatar__symbol-image"
                             ng-if="vm.firstLetter || vm.emailLetter">
                            <div class="avatar__first-name">{{ vm.firstLetter ?
                                vm.firstLetter : vm.emailLetter }}
                            </div>
                            <div class="avatar__last-name" ng-if="vm.lastLetter">{{ vm.lastLetter }}
                            </div>
                        </div>

                        <span class="contact-to-add__check-icon">
                            <svg class="all-select-check__icon">
                                <use xlink:href="#check-box-mark"></use>
                            </svg>
                        </span>
                    </div>
                </div>

                <!-- Имя-->
                <div class="contact-to-add__contact-name">
                    <span class="contact-to-add__text">
                        {{ contact.last_name }}
                        {{ contact.first_name }}
                    </span>
                </div>

                <!-- Адрес почты-->
                <div class="contact-to-add__mail-adress">
                    <div class="contact-to-add__text">
                        {{ contact.emails[0].value }}
                    </div>
                </div>
            </div>

        </label>
    </div>

    <div class="contact-to-add__footer">
        <hr class="hr hr--top">
        <button class="btn btn--not-style btn--size_l btn--not-events color--blue width--aut" type="button"
                ng-click="vm.cancel()">{{ 'BTN_CANCEL' | translate }}
        </button>
        <button class="btn btn--normal btn--size_l  width--aut" type="button" ng-click="vm.add()">
            {{ 'ADD' | translate }}
        </button>
    </div>
</div>