<div class="view-type">
    <div class="view-type__content">
        <a class="view-type__item" ng-class="{ 'view-type__item--active': !vm.viewStyle}" ng-click="vm.viewStyleList()">
            <span>
                <img src="images/view-type-list.svg" alt="">
            </span>
        </a>

        <a class="view-type__item" ng-class="{ 'view-type__item--active':  vm.viewStyle}" ng-click="vm.viewStyleColumn()">
            <span>
                <img src="images/view-type-list-column.svg" alt="">
            </span>
        </a>
    </div>
</div>


<!--<div class="mail-sort-list">-->
<!--<div class="mail-sort-list__body">-->
<!--<a class="mail-sort-list__link" href-->
<!--ng-class="{'mail-sort-list__link&#45;&#45;active': vm.$stateParams.sort == sort.value}"-->
<!--ng-repeat="sort in vm.sortList"-->
<!--ng-click="vm.onClickSort(sort)">-->
<!--<span class="mail-sort-list__name" ng-bind-html="sort.name | translate"></span>-->
<!--<img src="/images/sort/icon-sort-a-z.svg"-->
<!--ng-if="(vm.$stateParams.sort == sort.value && (vm.$stateParams.sortReverse == 0 || !vm.$stateParams.sortReverse) && (vm.$stateParams.sort !== 'date' && vm.$stateParams.sort !== 'size')) || (vm.$stateParams.sort == sort.value && vm.$stateParams.sortReverse == 1 && (vm.$stateParams.sort === 'date' || vm.$stateParams.sort === 'size' || vm.$stateParams.sort === 'unread')) ">-->
<!--<img src="/images/sort/icon-sort-z-a.svg"-->
<!--ng-if="(vm.$stateParams.sort == sort.value && vm.$stateParams.sortReverse == 1 && (vm.$stateParams.sort !== 'date' && vm.$stateParams.sort !== 'size' && vm.$stateParams.sort !== 'unread')) || (vm.$stateParams.sort == sort.value && (vm.$stateParams.sortReverse == 0 || !vm.$stateParams.sortReverse) && (vm.$stateParams.sort === 'date' || vm.$stateParams.sort === 'size'))">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
