<div class="view-type">
    <div class="view-type__content">
        <a class="view-type__item"
           ng-class="{'view-type__item--active': !vm.viewStyle}"
           ng-click="vm.viewStyleList()">
            <span>
                <img src="images/view-type-list.svg">
            </span>
        </a>

        <a class="view-type__item"
           ng-class="{'view-type__item--active':  vm.viewStyle}"
           ng-click="vm.viewStyleColumn()">
            <span>
                <img src="images/view-type-list-column.svg">
            </span>
        </a>
    </div>
</div>
