<div class="themes" ng-class="{'themes--active': vm.isThemeActive}">
    <div class="themes__right-content">
        <button class="btn--close btn--not-events"
                type="button"
                ng-click="vm.close()"></button>
        <div class="themes__title">{{ 'THE_TEMPLATES' | translate }}</div>
        <div class="themes__list">

            <div class="themes__item themes__item--additional themes__item--checked"
                 ng-repeat="theme in vm.themes.items"
                 ng-if="theme.isColor"
                 ng-click="vm.select(theme)">
                <div>
                    <span class="themes__name">
                        <span class="themes__name-text">{{ theme.name | translate }}</span>
                    </span>
                    <div class="themes__preview">
                        <img src="/images/colors.jpg">
                    </div>
                </div>

                <div>
                    <div class="themes__arrow-up"></div>
                    <div class="themes__item-additional">
                        <div class="themes__item-additional-content">
                            <div class="themes__item-colors"
                                 ng-class="{'themes__item-colors--checked': color === vm.themes.selected.colors.selected}"
                                 style="background: {{ color.color }}"
                                 ng-repeat="color in theme.colors.items"
                                 ng-click="vm.selectColor(color)"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="themes__item"-->
            <!--ng-class="{'themes__item&#45;&#45;checked': theme === vm.themes.selected}"-->
            <!--ng-repeat="theme in vm.themes.items"-->
            <!--ng-if="!theme.isColor"-->
            <!--ng-click="vm.select(theme)">-->
            <!--<span class="themes__name">-->
            <!--<span class="themes__name-text">{{ theme.name | translate }}</span>-->
            <!--</span>-->
            <!--<div class="themes__preview">-->
            <!--<img src="/images/themes/thumb/{{ theme.img }}" alt="{{ theme.name | translate }}">-->
            <!--</div>-->
            <!--</div>-->

        </div>
    </div>
    <button class="btn--closer" ng-click="vm.close()"></button>
</div>
