<div class="attach-item">
    <div>
        <div class="attach-item__name" ng-if="vm.attach.mime !== 'image/png' && vm.attach.mime !== 'image/jpeg'">
            {{ vm.attach.fileName }}
        </div>
        <div class="attach-item__type">
            {{ vm.attach.mime.split('/')[1]; }}
        </div>
        <div class="attach-item__buttons">
            <a class="attach-item__buttons-link" target="_blank"
               href="http://apimail.devogic.com/mail/{{ vm.message.number }}?mbox={{ vm.message.mbox }}&part=attach&screen=true&filename={{ vm.attach.fileName }}&token={{ vm.user.access_token }}&connection_id={{ vm.message.connection_id }}"
               ng-click="$event.stopPropagation();">
                <button class="attach-item__button">
                    <span class="icon-eye"></span>
                </button>
            </a>
            <a class="attach-item__buttons-link" target="_blank"
               href="http://apimail.devogic.com/mail/{{ vm.message.number }}?mbox={{ vm.message.mbox }}&part=attach&filename={{ vm.attach.fileName }}&token={{ vm.user.access_token }}&connection_id={{ vm.message.connection_id }}"
               ng-click="$event.stopPropagation();">
                <button class="attach-item__button">
                    <span class="icon-download-stroke"></span>
                </button>
            </a>
        </div>
        <div class="attach-item__image"
             ng-if="vm.attach.mime === 'image/png' || vm.attach.mime === 'image/jpeg'"
             style="background-image: url('http://apimail.devogic.com/mail/{{ vm.message.number }}?mbox={{ vm.message.mbox }}&part=attach&filename={{ vm.attach.fileName }}&token={{ vm.user.access_token }}&connection_id={{ vm.message.connection_id }}')"></div>

        <div class="attach-item__image attach-item__image--file"
             ng-if="vm.attach.mime !== 'image/png' && vm.attach.mime !== 'image/jpeg'"
             style="background-image: url('images/upload-file.png')"></div>
    </div>
</div>