<form class="form" name="form" ng-submit="vm.save(form)">

    <div class="personal-info__user-name mrg__bottom45">
        <div class="personal-info__user-info-title main-title-text font__size16 font__bold">
            {{ 'YOUR_NAME' | translate }}
        </div>

        <div class="forms__field-item">
            <div class="field-style  mrg__right18">
                <!--<label class="field-style__title">Ваше имя:</label>-->
                <input class="input input--size_s width--inh font__size14" type="text"
                       placeholder="{{ 'INPUT_PLACEHOLDER_YOUR_NAME' | translate }}"
                       ng-model="vm.profileForm.user_name"/>
                <span class="notific mrg__top5 font__size15">{{ 'YOUR_LOGIN_NOT_CHANGED' | translate }}</span>
            </div>
        </div>
    </div>

    <div class="personal-info__user-info-title main-title-text">{{ 'PERSONAL_DATA' | translate }}</div>

    <div class="form__fields">
        <!-- Имя и фамилия -->
        <div class="form__field-item">
            <div class="field-style field-style--max-wd260 mrg__right18">
                <label class="field-style__title">{{ 'NAME_AND_MIDDLE_NAME' | translate }}:</label>
                <input class="input input--size_l width--inh" type="text"
                       placeholder="{{ 'INPUT_PLACEHOLDER_YOUR_NAME' | translate }}"
                       ng-model="vm.profileForm.first_name"/>
            </div>

            <div class="field-style field-style--max-wd260">
                <label class="field-style__title hide-elm">&nbsp;&nbsp;</label>
                <input class="input input--size_l width--inh" type="text"
                       placeholder="{{ 'INPUT_PLACEHOLDER_YOUR_MIDDLE_NAME' | translate }}"
                       ng-model="vm.profileForm.last_name"/>
            </div>
        </div>
        <!-- Логин/имя в базе -->
        <!--<div class="form__field-item">-->

        <!--<div class="field-style field-style&#45;&#45;max-wd260 mrg__right18">-->
        <!--<label class="field-style__title">Имя на mail.cz:</label>-->
        <!--<div class="select select_mode_radio select_theme_islands select_size_l i-bem width&#45;&#45;inh"-->
        <!--data-bem='{"select":{"name":"select2"}}'>-->
        <!--<input class="select__control" type="hidden" name="select2"-->
        <!--value="2" autocomplete="off"/>-->
        <!--<button class="button button_size_l button_theme_islands button__control select__button i-bem"-->
        <!--data-bem='{"button":{}}' role="listbox" type="button"-->
        <!--aria-owns="uniq148861608057241 uniq148861608057242 uniq148861608057243"-->
        <!--aria-labelledby="uniq148861608057244">-->
        <!--<span class="button__text"-->
        <!--id="uniq148861608057244">@mail.cz</span>-->
        <!--<span class="icon select__tick"></span>-->
        <!--</button>-->
        <!--<div class="popup popup_target_anchor popup_theme_islands popup_autoclosable i-bem"-->
        <!--data-bem='{"popup":{"directions":["bottom-left","bottom-right","top-left","top-right"]}}'-->
        <!--aria-hidden="true">-->
        <!--<div class="menu menu_size_l menu_theme_islands menu_mode_radio menu__control select__menu i-bem"-->
        <!--data-bem='{"menu":{}}'>-->
        <!--<div class="menu__item menu__item_theme_islands"-->
        <!--data-bem='{"menu__item":{"val":1}}' role="option"-->
        <!--id="uniq148861608057241" aria-checked="false">@mail.cz-->
        <!--</div>-->
        <!--<div class="menu__item menu__item_checked menu__item_theme_islands"-->
        <!--data-bem='{"menu__item":{"val":2}}' role="option"-->
        <!--id="uniq148861608057242" aria-checked="true">@mail.cz-->
        <!--</div>-->
        <!--<div class="menu__item menu__item_theme_islands"-->
        <!--data-bem='{"menu__item":{"val":3}}' role="option"-->
        <!--id="uniq148861608057243" aria-checked="false">@mail.cz-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="field-style field-style&#45;&#45;max-wd260">-->
        <!--<label class="field-style__title hide-elm">&nbsp;&nbsp; </label>-->
        <!--<input class="input input&#45;&#45;size_l width&#45;&#45;inh"-->
        <!--type="text"-->
        <!--name="username"-->
        <!--placeholder="Ваш логин почты"-->
        <!--ng-model="vm.profileForm.username"/>-->
        <!--</div>-->
        <!--<div class="notific mrg__top7">-->
        <!--Это имя смогут видеть другие пользователи Mail.cz — например, им будет-->
        <!--подписана ваша страница-->
        <!--</div>-->
        <!--</div>-->


        <!-- Дата / Пол -->
        <div class="form__field-item position--stat">

            <!--Дата рождения-->
            <div class="field-style field-style--max-wd260 mrg__right18">
                <label class="field-style__title">{{ 'DATE_BIRTH' | translate }}:</label>

                <div class="field-style__container width--inh">

                    <!-- День -->
                    <input class="input input--size_l width--size65"
                           type="text"
                           placeholder="{{ 'DAY' | translate }}"
                           ng-model="vm.profileForm.bDay">

                    <!-- Месяц -->
                    <ui-select ng-model="vm.profileForm.bMonth"
                               class="select-list select-list--size_l select-list--not-border-of-sides width-inh "
                               theme="select2"
                               title="Choose a person">
                        <ui-select-match
                                class="select-list__body select-list--size_l  width-inh"
                                placeholder="{{ 'MONTH' | translate }}">
                            {{ $select.selected }}
                        </ui-select-match>
                        <ui-select-choices repeat="month in vm.monthList">
                            <div ng-bind-html="month"></div>
                        </ui-select-choices>
                    </ui-select>

                    <!-- Год -->
                    <input class="input input--size_l width--size65"
                           type="name"
                           placeholder="{{ 'YEAR' | translate }}"
                           ng-model="vm.profileForm.bYear">
                </div>
            </div>

            <!-- Пол -->
            <div class="field-style field-style--max-wd260">
                <label class="field-style__title">{{ 'FLOOR' | translate }}:</label>
                <div class="radiobutton main-switch radiobutton--size_l width--inh">
                    <input class="main-switch__input"
                           type="radio"
                           name="gender"
                           value="1"
                           ng-model="vm.profileForm.gender">
                    <span class="radiobutton--size_l main-switch__btn main-switch__btn--firs width--inh">{{ 'MALE' | translate }}</span>
                    <input class="main-switch__input"
                           type="radio"
                           name="gender"
                           value="2"
                           ng-model="vm.profileForm.gender">
                    <span class="radiobutton--size_l main-switch__btn main-switch__btn--last width--inh">{{ 'FEMALE' | translate }}</span>
                </div>

            </div>
        </div>

        <!-- Страна / Город -->
        <div class="form__field-item">
            <div class="field-style field-style--max-wd260 mrg__right18">
                <label class="field-style__title">{{ 'COUNTRY' | translate }}</label>
                <!-- Страна -->
                <ui-select ng-model="vm.profileForm.country"
                           class="select-list select-list--size_l width-inh"
                           theme="select2"
                           title="Choose a person">
                    <ui-select-match
                            class="select-list__body select-list--size_l width-inh"
                            placeholder="{{ 'COUNTRY' | translate }}">
                        {{ $select.selected }}
                    </ui-select-match>
                    <ui-select-choices repeat="country in vm.countryList">
                        <div ng-bind-html="country"></div>
                    </ui-select-choices>
                </ui-select>

            </div>

            <div class="field-style field-style--max-wd260">
                <label class="field-style__title">{{ 'CITY' | translate }}</label>
                <input class="input input--size_l width--inh" type="text"
                       placeholder="{{ 'INPUT_PLACEHOLDER_YOUR_NAME' | translate }}"
                       ng-model="vm.profileForm.city"/>
            </div>
        </div>
        <!--
           <p class="personal-info__user-info-title main-title-text">Информация об отправителе</p>

        <div class="forms__field-item">
            <div class="field-style field-style--max-wd260 mrg__right18">
                <label class="field-style__title">Ваше имя:</label>
                <input class="input input--size_l width--inh" type="text" placeholder="Введите имя"
                       ng-model="vm.profileForm.user_name"/>
            </div>
        </div>
        -->

        <!-- Применить / Отменить  -->
        <div class="forms__field-item mrg__top40">

            <div class="field-style field-style--max-wd260 mrg__right18">

                <button class="btn btn--normal btn--size_l width--size168 float--left"
                        type="button"
                        ng-click="vm.resetForm()">{{ 'CANCEL' | translate }}
                </button>

            </div>

            <div class="field-style field-style--max-wd260">

                <button class="btn btn--size_l btn--yellow width--size168 float--right"
                        type="submit">{{ 'SAVE' | translate }}
                </button>

            </div>

        </div>
        <div class="notific font__center mrg__top10 mrg__bottom45">
            {{ 'PROFILE_FORM_TEXT_1' | translate }}
            <br>
            <a class="notific__link" href="">{{ 'PROFILE_FORM_TEXT_2' | translate }}.</a>
        </div>
    </div>

</form>
