<form class="form" name="form" ng-submit="vm.save(form)">

    <div class="form__fields">
        <!-- Имя и фамилия -->
        <div class="form__field-item">
            <div class="field-style field-style--max-wd260 mrg__right18">
                <label class="field-style__title">Имя и фамилия:</label>
                <input class="input input--size_l width--inh" type="text" placeholder="Введите имя"
                       ng-model="vm.profileForm.first_name"/>
            </div>

            <div class="field-style field-style--max-wd260">
                <label class="field-style__title hide-elm">&nbsp;&nbsp;</label>
                <input class="input input--size_l width--inh" type="name" placeholder="Ваша Фамилия"
                       ng-model="vm.profileForm.last_name"/>
            </div>
        </div>
        <!-- Логин/имя в базе -->
        <!--<div class="form__field-item">-->

            <!--<div class="field-style field-style&#45;&#45;max-wd260 mrg__right18">-->
                <!--<label class="field-style__title">Имя на mail.cz:</label>-->
                <!--<div class="select select_mode_radio select_theme_islands select_size_l i-bem width&#45;&#45;inh"-->
                     <!--data-bem='{"select":{"name":"select2"}}'>-->
                    <!--<input class="select__control" type="hidden" name="select2"-->
                           <!--value="2" autocomplete="off"/>-->
                    <!--<button class="button button_size_l button_theme_islands button__control select__button i-bem"-->
                            <!--data-bem='{"button":{}}' role="listbox" type="button"-->
                            <!--aria-owns="uniq148861608057241 uniq148861608057242 uniq148861608057243"-->
                            <!--aria-labelledby="uniq148861608057244">-->
                                                        <!--<span class="button__text"-->
                                                              <!--id="uniq148861608057244">@mail.cz</span>-->
                        <!--<span class="icon select__tick"></span>-->
                    <!--</button>-->
                    <!--<div class="popup popup_target_anchor popup_theme_islands popup_autoclosable i-bem"-->
                         <!--data-bem='{"popup":{"directions":["bottom-left","bottom-right","top-left","top-right"]}}'-->
                         <!--aria-hidden="true">-->
                        <!--<div class="menu menu_size_l menu_theme_islands menu_mode_radio menu__control select__menu i-bem"-->
                             <!--data-bem='{"menu":{}}'>-->
                            <!--<div class="menu__item menu__item_theme_islands"-->
                                 <!--data-bem='{"menu__item":{"val":1}}' role="option"-->
                                 <!--id="uniq148861608057241" aria-checked="false">@mail.cz-->
                            <!--</div>-->
                            <!--<div class="menu__item menu__item_checked menu__item_theme_islands"-->
                                 <!--data-bem='{"menu__item":{"val":2}}' role="option"-->
                                 <!--id="uniq148861608057242" aria-checked="true">@mail.cz-->
                            <!--</div>-->
                            <!--<div class="menu__item menu__item_theme_islands"-->
                                 <!--data-bem='{"menu__item":{"val":3}}' role="option"-->
                                 <!--id="uniq148861608057243" aria-checked="false">@mail.cz-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="field-style field-style&#45;&#45;max-wd260">-->
                <!--<label class="field-style__title hide-elm">&nbsp;&nbsp; </label>-->
                <!--<input class="input input&#45;&#45;size_l width&#45;&#45;inh"-->
                       <!--type="text"-->
                       <!--name="username"-->
                       <!--placeholder="Ваш логин почты"-->
                       <!--ng-model="vm.profileForm.username"/>-->
            <!--</div>-->
            <!--<div class="notific mrg__top7">-->
                <!--Это имя смогут видеть другие пользователи Mail.cz — например, им будет-->
                <!--подписана ваша страница-->
            <!--</div>-->
        <!--</div>-->


        <!-- Дата / Пол -->
        <div class="form__field-item">


            <!--Дата рождения-->
            <div class="field-style field-style--max-wd260 mrg__right18">
                <label class="field-style__title">Дата рождения:</label>

                <div class="field-style__container width--inh">

                    <!-- День -->
                    <input class="input input--size_l width--size65"
                           type="text"
                           placeholder="День"
                           ng-model="vm.profileForm.bDay">

                    <!-- Месяц -->
                    <ui-select ng-model="vm.profileForm.bMonth"
                               style="width: 90px;"
                               theme="select2"
                               title="Choose a person">
                        <ui-select-match placeholder="Месяц">
                            {{ $select.selected }}
                        </ui-select-match>
                        <ui-select-choices repeat="month in vm.monthList">
                            <div ng-bind-html="month"></div>
                        </ui-select-choices>
                    </ui-select>

                    <!-- Год -->
                    <input class="input input--size_l width--size65"
                           type="name"
                           placeholder="Год"
                           ng-model="vm.profileForm.bYear">
                </div>
            </div>

            <!-- Пол -->
            <div class="field-style field-style--max-wd260">
                <label class="field-style__title">Пол:</label>
                <div class="radiobutton main-switch radiobutton--size_l width--inh">
                    <input class="main-switch__input"
                           type="radio"
                           name="gender"
                           value="1"
                           ng-model="vm.profileForm.gender">
                    <span class="radiobutton--size_l main-switch__btn main-switch__btn--firs width--inh">Мужской</span>
                    <input class="main-switch__input"
                           type="radio"
                           name="gender"
                           value="2"
                           ng-model="vm.profileForm.gender">
                    <span class="radiobutton--size_l main-switch__btn main-switch__btn--last width--inh">Женский</span>
                </div>
            </div>
        </div>

        <!-- Страна / Город -->
        <div class="form__field-item">

            <!-- Страна -->
            <ui-select ng-model="vm.profileForm.country"
                       style="width: 90px;"
                       theme="select2"
                       title="Choose a person">
                <ui-select-match placeholder="Страна">
                    {{ $select.selected }}
                </ui-select-match>
                <ui-select-choices repeat="country in vm.countryList">
                    <div ng-bind-html="country"></div>
                </ui-select-choices>
            </ui-select>

            <!-- Город -->
            <ui-select ng-model="vm.profileForm.city"
                       style="width: 90px;"
                       theme="select2"
                       title="Choose a person">
                <ui-select-match placeholder="Город">
                    {{ $select.selected }}
                </ui-select-match>
                <ui-select-choices repeat="city in vm.citiesList">
                    <div ng-bind-html="city"></div>
                </ui-select-choices>
            </ui-select>

        </div>

        <!-- Применить / Отменить  -->
        <div class="forms__field-item mrg__top40">

            <div class="field-style field-style--max-wd260 mrg__right18">

                <button class="btn btn--normal btn--size_l width--size168 float--left"
                        type="button"
                        ng-click="vm.resetForm()">Отменить
                </button>

                <!-- bem компонент -->
                <!--<button class="button button_theme_islands button_size_l button__control i-bem width&#45;&#45;size168 float&#45;&#45;left"
                        data-bem='{"button":{}}' role="button" type="button"><span
                        class="button__text">Отменить</span></button>-->
            </div>

            <div class="field-style field-style--max-wd260">

                <button class="btn btn--size_l btn--red width--size168 float--right"
                        type="submit">Сохранить
                </button>

                <!-- bem компонент -->
                <!--<button class="button button_theme_islands button_size_l button__control i-bem width&#45;&#45;size168 btn&#45;&#45;red float&#45;&#45;right"
                        data-bem='{"button":{}}' role="button" type="button"><span
                        class="button__text">Сохранить</span></button>-->
            </div>

        </div>
        <div class="notific font__center mrg__top10 mrg__bottom45">
            Mail.cz ни при каких обстоятельствах не предоставляет третьим лицам никаких
            персональных данных своих пользователей, кроме случаев, прямо
            предусмотренных в
            <br>
            <a class="notific__link" href="">Политике Конфиденциальности.</a>
        </div>
    </div>

</form>
