<div class="header-auth">
    <div class="header-auth__logo">
        <img src="/images/domains/cz/logo-mail-white.svg" width="70" alt="">
    </div>

    <div class="header-auth__right">
        <div class="header-auth__right-item">
            <a class="header-auth__weather"></a>
        </div>

        <div class="header-auth__right-item">
            <a class="header-auth__location">Česká republika</a>
        </div>

        <div class="header-auth__right-item">
            <div class="header-auth__exchange-rates">
                € 26.04
            </div>
        </div>

        <div class="header-auth__right-item">
            <div class="header-auth__language">
                <choice-language></choice-language>
            </div>
        </div>

        <div class="header-auth__right-item">
            <button class="btn btn--size_s" ui-sref="signUp">{{
                'CHECK_IN' | translate }}
            </button>
        </div>







        <div class="header-auth__sing-up"></div>

    </div>
    
</div>