<div class="header-auth">
    <div class="header-auth__logo">
        <a href="{{ vm.CONFIG.parentHost }}">
            <img src="/images/domains/{{ vm.CONFIG.domainZone }}/logo-mail-white.svg" width="70" logo-hover>
        </a>
    </div>

    <div class="header-auth__right">
        <div class="header-auth__right-item pdd">
            <div class="header-auth__language">
                <choice-language class="choice-language--up-panel"></choice-language>
            </div>
        </div>

        <div class="header-auth__right-item pdd">
            <div class="header-auth__weather"
                 ng-mouseenter="isOpenWeather = true"
                 ng-mouseleave="isOpenWeather = false">

                <div class="header-auth__logged-in-item flex align-items--cn">
                    <a class="link link--white flex align-items--cn">
                        <img class="width--size28"
                             src="/images/weather/{{ vm.weather.model.data.weather[0].icon }}.png">
                        <span class="mrg--l10">{{ vm.weather.model.data.main.temp }}°C</span>
                    </a>
                </div>

                <div class="header-auth__item-popup header-auth__item-popup--weather" ng-if="isOpenWeather">
                    <div class="flex just-content--sp-btw">
                        <div class="header-auth__weather-temp-icon">
                            <img class="width--size90"
                                 src="/images/weather/{{ vm.weather.model.data.weather[0].icon }}.png">
                        </div>
                        <div>
                            <div class="pdd--b1 font--left">{{ vm.weather.model.data.weather[0].description }}</div>

                            <div class="header-auth__weather-temp font--size28 font--bold">
                                {{ vm.weather.model.data.main.temp_min }} °C /
                                {{ vm.weather.model.data.main.temp_max }} °C
                            </div>
                        </div>
                    </div>
                    <div class="flex just-content--f-en mrg--t5">
                        <a class="link link--white" href="https://pocasi.mail.cz/">
                            {{ 'ALL_WEEK' | translate }}
                            <span class="icon-arrow-right font--size12"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-auth__right-item">
            <button class="header-auth__location link link--white flex align-items--cn" type="button">
                <span class="icon-map-icon-arrow mrg--r5"></span>
                {{ vm.weather.model.data.name }}
            </button>
        </div>

        <div class="header-auth__right-item">
            <div class="header-auth__exchange-rates" ng-repeat="currency in vm.currencies.data">
                {{ vm.getCurrencyByCode(currency.baseCurrency).symbol.grapheme }} /
                {{ vm.getCurrencyByCode(currency.currency).symbol.grapheme }}
                {{ currency.value | number:2 }}
                <span class="header-auth__exchange-rates-icon"
                      ng-class="{'icon-arrow-bottom': currency.direction, 'icon-arrow-top': !currency.direction}"></span>
            </div>
        </div>

        <!-- До Регистрация и вход -->
        <div class="header-auth__right-item pos--rel" ng-if="!vm.user.signedIn">
            <button class="link link--white flex align-items--cn" ui-sref="signUp">
                <span class="icon-no-avatar mrg--r5"></span>
                {{ 'CHECK_IN' | translate }}
            </button>
        </div>

        <div class="header-auth__right-item pos--rel" ng-if="!vm.user.signedIn">
            <button class="link link--white flex align-items--cn"
                    ng-click="vm.isOpenSingIn = !vm.isOpenSingIn"
                    type="button">
                <span class="icon-enter mrg--r5"></span>
                {{ 'SING_IN' | translate }}
            </button>

            <sing-in-auth-panel ng-if="vm.isOpenSingIn"
                                on-close="vm.isOpenSingIn = false;">
            </sing-in-auth-panel>
        </div>

        <!-- После входа-->
        <div class="header-auth__right-item" ng-if="vm.user.signedIn">
            <button class="link link--white flex align-items--cn"
                    ui-sref="mail.inbox({mbox: 'INBOX', compose: true})"
                    type="button">
                <span class="icon-write mrg--r5"></span>
            </button>
        </div>

        <div class="header-auth__right-item" ng-if="vm.user.signedIn">
            <!--
                если надо отображать значек когда нету новых писем то есть модификатор header-auth__message--not-message
            -->
            <div class="header-auth__message">
                <a class="link flex align-items--cn" ui-sref="mail.inbox({mbox: 'INBOX'})">
                    <img src="images/new-email.svg">
                </a>
            </div>
        </div>

        <div class="header-auth__right-item pdd" ng-if="vm.user.signedIn">
            <div class="header-auth__logged-in"
                 ng-mouseenter="isOpenLoged = true"
                 ng-mouseleave="isOpenLoged = flase">

                <div class="header-auth__logged-in-item flex align-items--cn">
                    <a class="link link--white flex align-items--cn"
                       ng-click="vm.setAuthProfile(profile)">

                        <div class="avatar avatar--size14 mrg--r5" ng-if="vm.user.profile.photo">
                            <img class="avatar__image"
                                 media-url="vm.user.profile.photo">
                        </div>

                        <span class="icon-no-avatar mrg--r5"
                              ng-if="!vm.user.profile.photo"></span>

                        <span>{{ vm.user.profile.username }}@mail.cz</span>
                    </a>
                </div>

                <div class="header-auth__item-popup" ng-if="isOpenLoged">
                    <div class="header-auth__logged-in-item flex just-content--f-en">
                        <button class="link link--white"
                                ui-sref="signUp"
                                type="button">
                            <span class="icon-out-rotate"></span>
                            {{ 'EXIT' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-auth__right-item">
            <a class="link link--white" href="{{ vm.CONFIG.parentHost }}" target="_blank">
                <span class="icon-home"></span>
            </a>
        </div>

        <div class="header-auth__right-item">
            <a class="link link--white" href="https://mail.cz/o-nas/" target="_blank">
                <span class="icon-menu-button"></span>
            </a>
        </div>

    </div>
</div>