<div class="header-auth">
    <div class="header-auth__logo">
        <img src="/images/domains/cz/logo-mail-white.svg" width="70" alt="">
    </div>

    <div class="header-auth__right">
        <div class="header-auth__right-item pdd">
            <div class="header-auth__language">
                <choice-language class="choice-language--up-panel"></choice-language>
            </div>
        </div>

        <div class="header-auth__right-item">
          <div class="">
              14°C
          </div>
        </div>

        <div class="header-auth__right-item">
            <button class="header-auth__location" type="button">
                <span class="icon-location"></span>
                Česká republika
            </button>
        </div>

        <div class="header-auth__right-item">
            <div class="header-auth__exchange-rates">
                € 26.0447
                <span class="header-auth__exchange-rates-icon icon-arrow-down"></span>
            </div>

            <div class="header-auth__exchange-rates">
                $ 30.0504
                <span class="header-auth__exchange-rates-icon icon-arrow-up"></span>
            </div>
        </div>

        <!-- Регистрация и вход-->
        <div class="header-auth__right-item">
            <button class=""
                    ui-sref="signUp"
                    type="button">
                <span class="icon-enter"></span>
                {{ 'CHECK_IN' | translate }}
            </button>
        </div>


        <div class="header-auth__right-item">
            <button class=""
                    ui-sref="signUp"
                    type="button">
                <span class="icon-enter"></span>
                {{ 'CHECK_IN' | translate }}
            </button>
        </div>

        <!-- После регистрации -->

        <div class="header-auth__right-item">
            <a class="link " ui-sref="" href="">
                <span class="icon-home"></span>
            </a>
        </div>

        <div class="header-auth__sing-up"></div>

    </div>
    
</div>