.pointer {
  cursor: pointer;
}

.mrg {
  &__top16 {
    margin-top: 16px;
  }

  &__top20 {
    margin-top: 20px;
  }

  &__top30 {
    margin-top: 30px;
  }

  &__bottom5 {
    margin-bottom: 5px;
  }

  &__bottom10 {
    margin-bottom: 10px;
  }

  &__bottom16 {
    margin-bottom: 16px;
  }

  &__bottom20 {
    margin-bottom: 20px;
  }

  &__bottom30 {
    margin-bottom: 30px;
  }
}

.link {
  &--next {
    color: #2f333f;
    font-family: Arial, sans-serif;
  }

  &--underline {
    text-decoration: underline;
    //border-bottom: 1px solid #000;
    //padding-bottom: 4px;
  }

  &--disabled {
    pointer-events: none;
    cursor: default;
    color: $silver-notific-color!important;
  }
}


.font {
  &__size11 {
    font-size: 11px;
  }

  &__size13 {
    font-size: 13px;
  }

  &__size14 {
    font-size: 14px;
  }

  &__size15 {
    font-size: 15px;
  }

  &__size16 {
    font-size: 16px;
  }

  &__bold{
    font-weight: bold;
  }
}

.main-title-text{
  margin:0 0 15px;
  font-size: 28px;

  &__icon{
    position: relative;
    align-items: center;
    display: flex;

    &--size27{
      width: 27px;
      padding: 0 15px 0 5px;
    }

  }

}

.main-title-text-small{

}

.hide-elm{
  opacity: 0;
  visibility: hidden;
}


