$header-color: #e1e5eb;
$menu-main-color: #edeff3;
$crumb-link-color: #1a3dc1;

$silver-avatar-bg-color: #d9d9d9;
$avatar-border-color: #cccccc;
$silver-notific-color: #999999;
$additional-link-color: #666699;
$red-remove-color: #fb0202;
$red-btn-color: #cc0000;
$silver-btn-color: #e6e6e6;

/*Social Media Brand Colors*/

$tw: #00aced;
$fb: #3b5998;
$gp: #dd4b39;
$pn: #cb2027;
$ln: #007bb6;
$yt: #bb0000;
$vm: #1ab7ea;
$tm: #32506d;
$inst: #bc2a8d;
$vk: #45668e;