/* Colors Variables ********************************************************************/

$mainThreeFont: Arial, sans-serif;
$white-color: #fff;
$main-btn-color: #808080;

$black: #000;
$textBlack: #000;

$white-color: #ffffff;
$textWhile: #ffffff;
$main-orange: rgb(243, 183, 99);
$main-blue: rgb(77, 98, 176);

$main-logo-orange: #fb981f;

$bl-wh-list-color: #666666;

$light-red: #e76a50;

$btn-border-color: rgba(191,153,0,.7);
$border-black-silver-color: #515151;
$main-border-color: #cccccc;


//old
//$header-color: #e1e5eb;
//$menu-main-color: #edeff3;



$header-color: #ffffff;
$menu-main-color: #f3f5f7;

$avatar-bg-symbol-color: #d9d9d9;
$avatar-symbol-color: #ffffff;

$compose-header-color: #f7f7f7;
$compose-border-color: #d1d1d1;

$crumb-link-color: #1a3dc1;

$silver-notific-color: #999999;
$rules-settings--title-color:#999999;
$notific-link-color: #666699;
$notific-auth-color: #808080;
$checkbox-auth-color: #808080;
$folder-attach-pin-color: #8e8e8e;
$folder-attach-bordr-pin-color: #8e8e8e;

$link-color: #2052ea;

$hr-auth-color: #d6d6d6;
$hr-main-color: #e5e5e5;


$sillver-input-plsah-color: #9e9e9e;

$validtae-ok-green: #099502;

$active-left-item-menu-color: #8ea4d3;

$silver-avatar-bg-color: #d9d9d9;

$additional-link-color: #666699;
$red-remove-color: #fb0202;
$red-btn-color: #cc0000;
$orange-btn-color: $main-logo-orange;

$remove-btn-color: $light-red;

$silver-btn-color: #e6e6e6;

$input-data-valide-test-color:#666666;
$input-data-valide-test-offer-color: #5755d2;
$input-border-color-black-yellow: #ccb764;


$yellow-yandex: #fc0;
$yellow-normal-light: #ffdb4d;
$yellow-lignt: #fee481;
$yellow-hard-light: #ffeba0;

$signature-pred-publick: #f7f6f4;

$auth-footer-color: #352e40;
$auth-sms-bg-color: #ebebeb;

$silver-mail-message-title-color: #7f7f7f;

$message-date-color: #7f7f8f;
$massage-content-bg-color: #f4f4f4;

$tags-field-border-color: #8e8e8e;

$radibutton-border-color: #c0c2c4;
$radiobutton-border-cheked-color: #c1b275;

$main-switch-border-cheked-color: #ccbd80;

//$select-input-line-active-item-color: #889ecf;

$select-input-line-active-item-color: #d8d8d8;
$select-input-line-active-item-hover-color: #cfcfcf;
$select-input-line-avatar-shadow: 0px 0px 0px 2px rgba(255,255,255,1);

//border
$avatar-border-color: $main-border-color;
$quick-reply-border-color: $main-border-color;


$button-border-color: #c3c4c9;
$button-border-color2: #999999;


$button-active-color: #f6f5f3;
$button-hover-bg-color: rgba(0,0,0,.2);

$input-hlaceholder-color: #999999;

$radio-btn-text-label-color: #bcbcbc;
$radio-btn-tag-color: #f8f8f8;
$radio-btn-tag-border-color: #b3b0a7;
$radio-btn-border-color: #bfbaac;

/**/
$conacts-checkbox-color: #a1a1a1;
$conacts-icon-header-color:#859dc6;;
$conacts-item-border-color: #e6e6e6;
$conacts-item-chek-bg-color: rgba(0, 0, 0, .2);

$conacts-list-text-color: #7f7f7f;

/* modal window recovered contacts*/

$recvered-date-color: $black;
$recovered-count-color: #7f7f8f;

$conact-added-color: #666699;

//

$storage-circle1-color: #fed632;
$storage-circle2-color: #4ca8e2;
$storage-circle3-color: #198fd9;
$storage-circle4-color: #0ecb00;
$storage-text-color: #595959;

$storage-chose-color: #0ecb00;
$storage-text-green-color: #0ecb00;

$storage-hover-before-chose-color: #e6e6e6;

$storage-main-text-color: $black;
$storage-price-text-color: #198fd9;
$storage-border-color: #e6e6e6;

$space-progress-text-color: #9a9b9f;
$space-progress-bg-color: #fefefe;
$space-progress-color-value: #b5e238;
$space-progress-border-color: #b9cadd;

// terms
$terms-title-color: $black;
$terms-text-color: $black;
$terms-link-color: #383dc1;

// help

$help-item-hover-color: #f6f5f3;

// themes
$themes-fade-bg-color: rgba(0,0,0,.3);
//$themes-fade-bg-color: #;
//$themes-fade-bg-color: #;

/* colors pallet for icon group*/
$col-1: #d99148;
$col-2: #470000;
$col-3: #d21f1f;
$col-4: #996633;
$col-5: #e4e400;
$col-6: #9eb571;
$col-7: #59b1b1;
$col-8: #8d2f8d;
$col-9: #ca4275;
$col-10: #ca3b00;
$col-11: #6695ca;
$col-12: #ca00ac;
$col-13: #a5ca0b;
$col-14: #0010ca;
$col-15: #ca3233;
$col-16: #ca44b2;
$col-17: #895aca;
$col-18: #04ca21;
$col-19: #0d16ca;
$col-20: #12c9ca;

//scroll colors

$main-scroll-bg-color: $white-color;
$main-scroll-color: #c1c1c1;
$main-scroll-hover-color: #a8a8a8;

$compose-minimized-bg-color: #404040;




/* Shadow variable *******************************************************************/
$signature-hover-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.35);
$signature-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
$input-insert-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
$form-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
$button-shadow: 0px 0px 2px 0px rgba(255, 219, 77, 0.6);
$button-shadow2:  0px 0px 7px 0px rgba(255, 219, 77, 0.8);
$input-shadow-yandex-yellow: 0 0 10px #fc0;
$input-shadow-yellow: 0px 0px 10px 0px rgba(249,227,139,1);
$radio-btn-border-gradient: linear-gradient(to bottom, #bfbaac 0%,#e5e1d0 99%);
$select-shadow: 0px 16px 26px -7px rgba(0,0,0,0.32);

$popup-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 10px 20px -5px rgba(0,0,0,.4);

$storage-pie-shadow: inset -2px 1px 45px -22px rgba(69,69,69,.9);
$storage-pie-hover-shadow: inset 5px 2px 30px -16px rgba(69, 69, 69, 0.9);

$compose-main-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);


//$storage-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
$storage-box-shadow: 0px 5px 16px -6px rgba(0, 0, 0, 0.25);
$storage-box-hover-shadow: 0px 5px 21px -6px rgba(0, 0, 0, 0.25);

$yellow-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 10px 20px -5px rgba(0,0,0,.4);

$message-nav-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

$input-line-shadow: 0px 1px 0px 0px rgba($yellow-yandex,1);

$compose-button-inbox-shadow: inset 0px 0px 12px 0px #c9c9c9;



/* Gradient */

$btn-gradient: linear-gradient(to bottom, #fefefe 0%,#efefef 100%);

$radio-btn-gradient: linear-gradient(to bottom, #099502 0%, #d0ffd4 99%);


/* Font variable ********************************************************************/
$mainFont: Arial, sans-serif;
$mainSecondFont: Verdana, sans-serif;
$mainThreeFont: Helvetica, sans-serif;
$mainFourFont: 'HelveticaNeueCyr' , sans-serif;
$mainFiveFont: 'TextBook';

//$mainThreeFont:


/* Social Media Brand Colors ********************************************************/

$tw: #00aced;
$fb: #3b5998;
$gp: #dd4b39;
$pn: #cb2027;
$ln: #007bb6;
$yt: #bb0000;
$vm: #1ab7ea;
$tm: #32506d;
$inst: #bc2a8d;
$vk: #45668e;
